@{
    ViewBag.Title = "Approval-form";
    Layout = "~/Views/Shared/Layouts/_Layout2Flex.cshtml";
}

@section Styles {
    <!-- Page -->
    @Styles.Render("~/bundle/vendor/css/pages/messages")
}

@section Scripts {
    @*@Scripts.Render("~/bundle/js/pages_messages")*@
}



<!DOCTYPE html>

<!-- `.messages-wrapper` fills all available space of container -->
<div class="messages-wrapper">

    <!-- Messages sidebox -->
    <div class="messages-sidebox messages-scroll bg-body border-right">

        <div class="pt-3 pb-0 px-4">
            <div class="media align-items-center">
                <div class="media-body">
                    <button type="button" class="btn btn-primary btn-block">양식작성</button>
                </div>
                <a href="javascript:void(0)" class="messages-sidebox-toggler d-lg-none d-block text-muted text-large font-weight-light pl-4">&times;</a>

            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <h6 class="font-weight-bold">개인결재선</h6>
                </div>
                <div class="col-6 text-center">
                    <h6 class="font-weight-bold">결재 현황</h6>
                </div>
            </div>
        </div>
        <hr class="border-light mx-4 mt-0 mb-0">

        <div id="sidenav-1" class="sidenav sidenav-vertical">
            <ul class="sidenav-inner py-3">

                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <div class="font-weight-bold">개인문서함</div>
                    </a>
                    <ul class="sidenav-menu">
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>예정함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>결재함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>진행함</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                        <i class="sidenav-icon ion ion-md-paper"></i>
                        <div>Item 2</div>
                    </a>

                    <ul class="sidenav-menu">
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link">
                                <div>Item 2.1</div>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                                <div>Item 2.2</div>
                            </a>

                            <ul class="sidenav-menu">
                                <li class="sidenav-item">
                                    <a href="javascript:void(0)" class="sidenav-link">
                                        <div>Item 2.2.1</div>
                                    </a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="javascript:void(0)" class="sidenav-link" id="111">
                                        <div>Item 2.2.2</div>
                                    </a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="javascript:void(0)" class="sidenav-link">
                                        <div>Item 2.2.3</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidenav-item">
                            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                                <div>Item 2.3</div>
                            </a>

                            <ul class="sidenav-menu">
                                <li class="sidenav-item">
                                    <a href="javascript:void(0)" class="sidenav-link">
                                        <div>Item 2.3.1</div>
                                    </a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="javascript:void(0)" class="sidenav-link">
                                        <div>Item 2.3.2</div>
                                    </a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="javascript:void(0)" class="sidenav-link">
                                        <div>Item 2.3.3</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="sidenav-item active">
                    <a href="javascript:void(0)" class="sidenav-link">
                        <i class="sidenav-icon ion ion-ios-flask"></i>
                        <div>Item 3</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link">
                        <i class="sidenav-icon ion ion-md-basketball"></i>
                        <div>Item 4</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link">
                        <i class="sidenav-icon ion ion-ios-bonfire"></i>
                        <div>Item 5</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link">
                        <i class="sidenav-icon ion ion-ios-cafe"></i>
                        <div>Item 6</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link">
                        <i class="sidenav-icon ion ion-ios-cloud-outline"></i>
                        <div>Item 7</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="javascript:void(0)" class="sidenav-link">
                        <i class="sidenav-icon ion ion-md-code"></i>
                        <div>Item 8</div>
                    </a>
                </li>
            </ul>
        </div>



        <hr class="border-light m-4">

        <!-- Labels -->
        <h6 class="text-tiny font-weight-bold px-4">LABELS</h6>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-success"></span> &nbsp; Clients
        </a>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-danger"></span> &nbsp; Important
        </a>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-info"></span> &nbsp; Social
        </a>
        <a href="javascript:void(0)" class="d-block text-muted py-1 px-4">
            <span class="badge badge-dot badge-warning"></span> &nbsp; Other
        </a>
        <!-- / Labels -->

    </div>
    <!-- / Messages sidebox -->
    <!-- Wrap `.messages-scroll` to properly position scroll area. Remove this wrapper if you don't need scroll -->
    <div class="w-100 position-relative">

        <!-- Remove `.messages-scroll` and add `.w-100` if you don't need scroll -->
        <div class="messages-content messages-scroll">
            <!-- Controls -->
            <div class="media flex-wrap align-items-center py-2 px-1 px-lg-2">
                <div class="media-body d-flex flex-wrap flex-basis-100 flex-basis-sm-auto">
                    <button type="button" class="btn btn-sm btn-default borderless md-btn-flat icon-btn messages-tooltip text-muted" title="Back"><i class="ion ion-md-arrow-back"></i></button>

                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default"><i class="fas fa-file-signature d-inline-block d-lg-none"></i><span class="d-none d-lg-block">기안하기</span></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="fas fa-paperclip d-inline-block d-lg-none"></i><span class="d-none d-lg-block">첨부</span></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="far fa-file-alt d-inline-block d-lg-none"></i><span class="d-none d-lg-block">연관문서</span></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="fas fa-link d-inline-block d-lg-none"></i><span class="d-none d-lg-block">관련제품/부품</span></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="fas fa-info d-inline-block d-lg-none"></i><span class="d-none d-lg-block">문서정보</span></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="fas fa-list d-inline-block d-lg-none"></i><span style="vertical-align: text-bottom;" class="d-none d-lg-block">옵션</span></button>
                    </div>
                    <div class="btn-group ml-3">
                        <button type="button" class="btn btn-sm btn-default"><i class="fas fa-file-download d-inline-block d-lg-none"></i><span class="d-none d-lg-block">임시저장</span></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="fas fa-eye d-inline-block d-lg-none"></i><span class="d-none d-lg-block">미리보기</span></button>
                        <button type="button" class="btn btn-sm btn-default"><i class="fas fa-redo-alt d-inline-block d-lg-none"></i><span class="d-none d-lg-block">새로고침</span></button>
                    </div>
                </div>
                <div class="d-flex align-items-center ml-auto">
                    
                </div>
            </div>
            <hr class="border-light m-0">
            <!-- / Controls -->

            <!-- Header -->
            <div class="justify-content-center d-flex w-100" style="background-color:rgb(235, 235, 235)">
                <div class="sign-format mt-4">
                    <div class="text-center mt-4 mb-2">
                        <h1>계약연장요청서</h1>
                    </div>
                    <div class="signline">
                        <div class="d-flex justify-content-between">
                            <div class="table-responsive mt-2 t-sm">
                                <table class="table mb-0 table-gray text-center">

                                    <tbody>
                                        <tr>
                                            <td rowspan="3" style="width: 1.2rem; vertical-align: middle;" class="table-active text-dark">요청부서</td>
                                            <td style="width: 4rem; height:1.3rem"></td>
                                            <td style="width: 4rem;"></td>
                                            <td style="width: 4rem;"></td>
                                            <td style="width: 4rem;"></td>


                                        </tr>
                                        <tr>
                                            <td style="width:4rem; height:4.2rem"></td>

                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td style="width:4rem; height:1.3rem"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->

                            <div class="table-responsive mt-2 t-sm">
                                <table class="table mb-0 table-gray text-center">

                                    <tbody>
                                        <tr>
                                            <td rowspan="3" style="width: 1.2rem; vertical-align: middle;" class="table-active text-dark">주관부서</td>
                                            <td style="width: 4rem; height:1.3rem"></td>
                                            <td style="width: 4rem;"></td>
                                            <td style="width: 4rem;"></td>
                                            <td style="width: 4rem;"></td>


                                        </tr>
                                        <tr>
                                            <td style="width:4rem; height:4.2rem"></td>

                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td style="width:4rem; height:1.3rem"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->

                            <div class="table-responsive mt-2 t-sm">
                                <table class="table mb-0 table-gray text-center">

                                    <tbody>
                                        <tr>
                                            <td rowspan="3" style="width: 1.2rem; vertical-align: middle;" class="table-active text-dark">승인</td>
                                            <td style="width: 4rem; height:1.3rem"></td>
                                        </tr>
                                        <tr>
                                            <td style="width:4rem; height:4.2rem"></td>
                                        </tr>
                                        <tr>
                                            <td style="width:4rem; height:1.3rem"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->
                        </div>
                    </div>

                    <div class="table-responsive t-sm">
                        <table class="table mb-0 table-gray text-center text-dark">

                            <tbody>
                                <tr>
                                    <td style="width:15%" class="table-active text-dark">문서번호</td>
                                    <td style="width:35%"></td>
                                    <td style="width:15%" class="table-active text-dark">작성일자</td>
                                    <td style="width:35%"></td>
                                </tr>
                                <tr>
                                    <td style="width:15%" class="table-active text-dark">작성부서</td>
                                    <td style="width:35%"></td>
                                    <td style="width:15%" class="table-active text-dark">작성자</td>
                                    <td style="width:35%"></td>
                                </tr>
                                <tr>
                                    <td style="width:15%" class="table-active text-dark">구분</td>
                                    <td colspan="3"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->

                    <h5 class="mt-2 mb-1">1.대상자</h5>
                    <div class="table-responsive t-sm">
                        <table class="table mb-0 table-gray text-center">

                            <tbody>
                                <tr>
                                    <td style="width:15%" class="table-active text-dark">부서/성명</td>
                                    <td style="width:35%"></td>
                                    <td style="width:15%" class="table-active text-dark">나이/성별</td>
                                    <td style="width:35%"></td>
                                </tr>
                                <tr>
                                    <td style="width:15%" class="table-active text-dark">경력</td>
                                    <td style="width:35%"></td>
                                    <td style="width:15%" class="table-active text-dark">입사일</td>
                                    <td style="width:35%"></td>
                                </tr>
                                <tr>
                                    <td style="width:15%; height: 50px;vertical-align: middle;" class="table-active text-dark">현재직무</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td style="width:15%;height: 50px;vertical-align: middle;" class="table-active text-dark">수령예정직무</td>
                                    <td colspan="3"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->

                    <h5 class="mt-2 mb-1">2.근거</h5>
                    <div class="table-responsive t-sm">
                        <table class="table mb-0 table-gray text-center">

                            <tbody>

                                <tr>
                                    <td style="width:15%;height: 100px;vertical-align: middle;" class="table-active text-dark">근거</td>
                                    <td colspan="3"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->

                    <h5 class="mt-2 mb-1">3.특기사항</h5>
                    <div class="table-responsive mb-3 t-sm">
                        <table class="table mb-0 table-gray text-center">
                            <tbody>
                                <tr>
                                    <td colspan="4" style="height:200px"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->




                </div>
            </div>

        </div><!-- / .messages-content -->

    </div>

</div><!-- / .messages-wrapper -->
