/*******************************************************************************/
/* 자원예약 */

/* head, menu button */
.z-lv-menu .btn {
    line-height: 22px;
    padding-top: 0;
    padding-bottom: 0;
}

.z-list-head .nav-tabs .nav-link {
    padding-top: .325rem;
    padding-bottom: .25rem;
}

    .z-list-head .nav-tabs .nav-link.active {
        border-color: rgba(24,28,33,0.1);
        border-bottom-color: #ffffff;
    }

/* resource schedule */
.zc-bar .table th, .zc-bar .table td {
    padding: 0 !important;
}
.zc-bar thead td {
    border: 0;
}
.zc-bar thead .zc-bar-time {
    position: relative;
    height: 16px;
    font-size: 12px;
}
    .zc-bar thead .zc-bar-time span {
        position: absolute;
    }
.zc-bar .zc-bar-top td, .zc-bar .zc-bar-bottom td {
    height: 4px;
    font-size: 1px;
}
.zc-bar .zc-bar-middle td {
    height: 12px;
    font-size: 8px;
    border-top: 1px dotted #ededed;
    border-bottom: 1px dotted #ededed;
}
    .zc-bar .zc-bar-middle td:first-child, .zc-bar .zc-bar-middle td:last-child {
        border-top: 0;
        border-bottom: 0;
    }
    .zc-bar .zc-bar-middle td div {
        position: relative;
        height: 100%;
    }
.zc-bar .zc-bar-middle .zc-bar-fill {
    /*position: absolute;
    left: 0;*/
    border-radius: 0;
}
.zc-bar .zc-bar-middle a[href] {
    cursor: pointer;
    height: 100%;
    display: block;
    z-index: 6;
    padding: 0;
}
.zc-bar tbody .zc-bar-edge {
    border-left: 1px solid #999;
}

/* calendar list */
.zc-list .table thead th {
    background-color: #f8f8f8;
}
/* calendar week */
.zc-week {
    height: 100%;
    border: 1px solid rgba(24,28,33,0.1);
    /*border-top-width: 2px;
    border-bottom-width: 2px;*/
}
    .zc-week .zc-week-left {
        border-right: 0;
    }
    .zc-week .zc-week-day {
        box-shadow: 0 0 0;
        border-radius: 0;
        border: 0;
        min-height: 11.75rem;
    }
    .zc-week .zc-week-day.weekend {
        min-height: 5.875rem;
    }
        .zc-week .zc-week-day .card-header {
            padding: 0 .725rem;
            margin-bottom: 0;
            background-color: transparent;
            border-bottom: 1px solid #dcdcdc;
            border-top: 1px solid #dcdcdc;
            border-radius: 0;
            background-color: #f8f8f8; /* rgba(64,132,255,0.1); rgba(223,138,50,0.1);*/
            font-weight: bold;
        }
        .zc-week .zc-week-day .card-body {
            padding: 0.5rem .725rem;
            /*text-decoration: line-through*/
        }
@media (min-width: 576px) {
    .zc-week .zc-week-left {
        border-right: 1px solid rgba(24,28,33,0.2);
    }
}

/* asp.net calendar month */
.zc-month {
    position: absolute;
    top: 0;
    left: 1rem;
    right: 1rem;
    bottom: .5rem;
}
.zc-calendar {
    width: 100%;
    height: 100%;
    border: 0;
    border-top: 2px solid #dcdcdc !important;
    border-bottom: 1px solid #dcdcdc !important;
}
    .zc-calendar th, .zc-calendar td {
        padding: 0;
        border: 1px solid rgba(24,28,33,0.1);
    }
    .zc-calendar .zc-toolbar {
    }
    .zc-calendar .zc-header {
        position: relative;
        height: 3.4%;
        background-color: #f8f8f8; /*rgba(64,132,255,0.1); rgba(223,138,50,0.1);*/
        padding: .2rem .5rem .1rem;
    }
    .zc-calendar .zc-day {
        position: relative;
        height: 16.1%;
        vertical-align: top !important;
    }
        .zc-calendar .zc-day.zc-day-today {
            background-color: rgba(10, 235, 152, 0.05);
        }
        .zc-calendar .zc-day.zc-day-other {
            opacity: 0.5;
        }
        .zc-calendar .zc-day.zc-day-sun {
            background: rgba(215, 215, 215, 0.1);
        }
        .zc-calendar .zc-day.zc-day-sat {
            background: rgba(215, 215, 215, 0.1);
        }
        .zc-calendar .zc-day.zc-day-sun .zc-day-number {
            color: #ec4a3b;
        }
        .zc-calendar .zc-day.zc-day-sat .zc-day-number {
            color: #6c9df9;
        }
        .zc-calendar .zc-day-top {
            display: flex;
            /*flex-direction: row-reverse;*/
            align-items: center !important;
            justify-content: space-between;
            padding: .125rem .2rem;
        }
            .zc-calendar .zc-day-top .zc-day-number {
                font-weight: bold;
            }
            .zc-calendar .zc-day-top a, .zc-calendar .zc-day-top span {
                /*overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;*/
                display: inline-flex;
            }
    .zc-calendar .zc-day-event {
        display: flex;
        justify-content: start;
        align-items: center !important;
        padding: 0 .125rem .0625rem;
    }
        .zc-calendar .zc-day-event a{
            text-align: left;
        }
        .zc-calendar .zc-day-event i {
            margin-top: 1px;
        }

        .zc-calendar .zc-day-event.zc-event-start, .zc-calendar .zc-day-event.zc-event-end, .zc-calendar .zc-day-event.zc-event-mid {
            background-color: rgba(85, 66, 248, 0.1);
        }
