/*******************************************************************************/
/* 모델별원가 */

/* left menu ---------------> */
.sidenav-vertical.z-lm, .sidenav-vertical.z-lm .sidenav-inner > .sidenav-item {
    width: 100%;
}
.z-lm .sidenav-menu {
    padding-top: .325rem;
    padding-bottom: .325rem;
}
.z-lm .sidenav-item .sidenav-link, .z-lm .sidenav-menu .sidenav-item .sidenav-link {
    padding-top: .325rem;
    padding-bottom: .325rem;
}
.z-lm .sidenav-menu .sidenav-item .sidenav-link {
    padding-left: 3.05rem;
}
.z-lm .sidenav-menu .sidenav-menu .sidenav-item .sidenav-link {
    padding-left: 4.55rem;
}
.z-lm .sidenav-icon, .z-lm .sidenav-menu .sidenav-icon {
    width: 1.23rem;
    margin-right: .25rem;
}
.z-lm .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
    background: rgba(191, 191, 191, 0.2) !important;
}

.z-lm .sidenav-item.open:not(.sidenav-item-closing) > .sidenav-toggle, .z-lm .sidenav-item.active > .sidenav-link {
    
}
.z-lm .sidenav-item .z-lm-cnt {
    margin-left: .25rem;
    font-weight: 600;
    color: #344fe9;
}
.z-lm .sidenav-link.sidenav-toggle {
    /*color: #245580;*/
    color: rgba(24,28,33,0.7);
}
/* left menu <--------------- */

.z-list-body tbody tr td {
    /*white-space: nowrap;
    padding: 0.25rem;*/
}
.z-list-body .table .table-success, .z-list-body .table .table-success > th, .z-list-body .table .table-success > td,
.z-list-body .table .table-warning, .z-list-body .table .table-warning > th, .z-list-body .table .table-warning > td {
    border-color: #e8e8e9 !important;
}
.z-list-body .table tr.inner-dot td {
    border-bottom-style: dotted !important;
}
.z-list-body .table tr.inner-dot th, .z-list-body .table tr.inner-bold td {
    border-bottom: 2px solid #dedede !important;
}
.z-list-body .form-control {
    font-weight: inherit;
}

/* grid -----> */
.z-grid {
    width: 100%;
    max-width: 100%;
}

.z-grid-bordered {
    border: 1px solid #666;
}

.z-grid > tbody > tr.info > td, .z-grid > tbody > tr.info > th, .z-grid > tbody > tr > td.info, .z-grid > tbody > tr > th.info, .z-grid > tfoot > tr.info > td, .z-grid > tfoot > tr.info > th, .z-grid > tfoot > tr > td.info, .z-grid > tfoot > tr > th.info, .z-grid > thead > tr.info > td, .z-grid > thead > tr.info > th, .z-grid > thead > tr > td.info, .z-grid > thead > tr > th.info {
    background-color: #d9edf7;
}

.z-grid > tbody > tr.warning > td, .z-grid > tbody > tr.warning > th, .z-grid > tbody > tr > td.warning, .z-grid > tbody > tr > th.warning, .z-grid > tfoot > tr.warning > td, .z-grid > tfoot > tr.warning > th, .z-grid > tfoot > tr > td.warning, .z-grid > tfoot > tr > th.warning, .z-grid > thead > tr.warning > td, .z-grid > thead > tr.warning > th, .z-grid > thead > tr > td.warning, .z-grid > thead > tr > th.warning {
    background-color: #fcf8e3;
}

.z-grid > tbody > tr > td, .z-grid > tbody > tr > th, .z-grid > tfoot > tr > td, .z-grid > tfoot > tr > th, .z-grid > thead > tr > td, .z-grid > thead > tr > th {
    vertical-align: middle;
    padding: 2px;
    line-height: 1.4285;
    height: 24px
}

.z-grid-bordered > tbody > tr > td, .z-grid-bordered > tbody > tr > th, .z-grid-bordered > tfoot > tr > td, .z-grid-bordered > tfoot > tr > th, .z-grid-bordered > thead > tr > td, .z-grid-bordered > thead > tr > th {
    border: 1px solid #999;
}

.z-grid > thead > tr > td, .z-grid > thead > tr > th {
    text-align: center
}

.z-grid tr > th > input {
    font-weight: 500;
}

.z-grid .cell-input, .z-grid .cell-select {
}

    .z-grid .cell-input input, .z-grid .cell-read input, .z-grid .cell-select select {
        height: 100%;
        width: 100%;
        border: 0
    }

    .z-grid .cell-input input {
        background-color: #eee
    }
        .z-grid .cell-input input:focus, .z-grid .cell-read input:focus, .z-grid .cell-select select:focus, .ttl select:focus {
            border-color: rgba(254,183,68,1);
            outline: 0;
            box-shadow: none;
        }
/* grid <----- */

/* z-list-sticky -----> */
.z-list-sticky {
    position: absolute;
    top: 0;
    left: .5rem;
    right: .5rem;
    bottom: .5rem;
    overflow-y: hidden;
    overflow-x: auto;
}

    .z-list-sticky .z-list-head {
        position: relative;
        overflow: hidden scroll;
        /*padding-right: 17px !important;*/
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .z-list-sticky .z-list-body {
        position: absolute;
        top: 2.1rem;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }

        .z-list-sticky .z-list-body table {
            border-top-width: 0 !important
        }

.z-list-head .table th {
    text-align: center;
}

.z-list-head .table .table-success, .z-list-head .table .table-success > th, .z-list-head .table .table-success > td,
.z-list-head .table .table-warning, .z-list-head .table .table-warning > th, .z-list-head .table .table-warning > td,
.z-list-body .table .table-success, .z-list-body .table .table-success > th, .z-list-body .table .table-success > td,
.z-list-body .table .table-warning, .z-list-body .table .table-warning > th, .z-list-body .table .table-warning > td {
    border-color: #e8e8e9 !important;
}
/* z-list-sticky <----- */