/*******************************************************************************/
/* 개인환경설정 */

.z-lm .sidenav-item .sidenav-link {
    padding-left: 2rem;
    padding-bottom: .5rem;
}

.contact-content-img {
    max-width: 7rem;
    height: 7.5rem;
    border-radius: .5rem !important;
}

.z-hrinfo .table tr > th {
    background-color: rgba(0, 200, 96, 0.05);
}