/*******************************************************************************/
/* 개인환경설정 */

.z-lm .sidenav-item .sidenav-link {
    padding-left: 2rem;
    padding-bottom: .5rem;
}

.contact-content-img {
    max-width: 7rem;
    height: 7.5rem;
    border-radius: .5rem !important;
}

.z-hrinfo .table tr > th {
    background-color: rgba(0, 200, 96, 0.05);
}

./*password-eye {
    background-color: #efefef;
    border: 1px solid #dddddd;
    border-left: 0;
}

    .password-eye:before {
        font-family: feather !important;
        content: "\e86a";
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        line-height: 1.2;
        font-size: 16px;
    }

.show-password .password-eye:before {
    content: "\e86e";
}*/