/*******************************************************************************/
/* 개발원가견적표 */
.pt-10, .py-10 {
    padding-top: 10px !important
}

.pb-10, .py-10 {
    padding-bottom: 10px !important
}

.pl-10, .px-10 {
    padding-left: 10px !important
}

.pr-10, .px-10 {
    padding-right: 10px !important
}

.pt-15, .py-15 {
    padding-top: 15px !important
}

.pb-15, .py-15 {
    padding-bottom: 15px !important
}

.pl-15, .px-15 {
    padding-left: 15px !important
}

.pr-15, .px-15 {
    padding-right: 15px !important
}

/* ce layout & grid -----> */
.layout-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}

.layout-navbar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0;
    height: 56px;
    flex: 0 0 auto;
    box-shadow: 0px 1px 0px rgba(24,28,33,0.06);
    align-items: !important;
    background-color: #fff !important;
    border-bottom: 2px solid #ddd !important;
    align-items: center !important;
    flex-flow: row nowrap;
    -ms-flex-align: center;
}

.layout-content {
    position: fixed;
    top: 56px;
    right: 0px;
    left: 0;
    bottom: 0;
    display: -ms-flexbox;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff !important;
    overflow: auto;
    padding-top: 4px;
}
.nav-header {
    padding: 25px 30px;
    background-color: #2f4050;
    background-image: url(/bizforce/extensionservice/worktime/controls/header-profile.png);
    color: #fff;
}
.layout-navbar .navbar-header {
    margin: 12px 20px;
}

.layout-navbar .navbar-nav, .layout-navbar .navbar-right {
    margin: 12px 0
}

    .layout-navbar .navbar-right li {
        margin-right: 16px;
        margin-top: 4px
    }

        /*.layout-navbar .navbar-right li > .nav-link {
            padding: 0;
            line-height: 0;
        }

            .layout-navbar .navbar-right li > .nav-link:hover {
                text-decoration: none;
                font-weight: bold
            }

            .layout-navbar .navbar-right li > .nav-link > .badge {
                margin-left: -2px;
                margin-top: -10px;
                background-color: #ff6666
            }*/
.z-ce-layout {
    position: absolute;
    top: 8px;
    bottom: 2px;
    left: 8px;
    right: 4px;
    font-size: 12px;
    overflow: hidden;
    border: 0px solid blue;
}

    .z-ce-layout.expanded {
        left: 0
    }

.z-ce-head, .z-ce-body {
    position: absolute;
    overflow: hidden;
    min-width: 1200px
}

.z-ce-head {
    top: 0;
    left: 0px;
    right: 0px;
    height: 124px
}

.z-ce-layout.expanded .z-ce-head {
    left: 8px
}

.z-ce-body {
    top: 130px;
    bottom: 2px;
    left: 0px;
    right: 0px;
    border: 0px solid green
}

.z-ce-layout .left, .z-ce-layout .middle, .z-ce-layout .right {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    border: 0px solid red
}

.z-ce-layout .left {
    left: 0;
    width: 390px
}

.z-ce-layout .middle {
    left: 390px;
    width: 16px
}

.z-ce-layout .right {
    left: 406px;
    right: 0
}

.z-ce-layout.expanded .z-ce-body .middle {
    left: -2px
}

.z-ce-layout.expanded .z-ce-body .right {
    left: 14px
}

.z-ce-head .right .ttl, .z-ce-head .right .ttl-bottom {
    position: absolute;
    left: 0;
    right: 380px;
    text-align: center;
}

.z-ce-head .right .ttl {
    top: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #444;
    letter-spacing: 6px
}

.z-ce-head .right .ttl-bottom {
    top: 76px
}

.z-ce-head .right .ttl select {
    font-size: 20px;
    padding: 4px
}

.z-ce-body .middle .btn {
    padding: 8px 1px 8px 0;
    width: 13px;
    margin-left: 4px;
    margin-right:;
    font-size: 14px
}

    .z-ce-body .middle .btn i {
        margin-left: -1px
    }

.z-ce-layout.expanded .z-ce-body .middle .btn {
    margin-left: 0
}

.z-ce-body .z-grid-container {
    position: absolute;
    top: 24px;
    bottom: 2px;
    left: 0px;
    right: 0px;
    border: 0px solid green;
}

.z-ce-body .right .z-grid-container {
    border: 1px solid #bbb
}

.z-ce-body .left .z-grid-container {
    border-top: 1px solid #bbb;
    overflow: auto
}

.z-ce-body .right .float-left .btn {
    padding: 4px 6px 4px 6px;
    font-size: 12px;
    line-height: 0;
    border-radius: 3px;
    margin-bottom: 2px
}
/*.z-ce-body .right .float-left .btn .glyphicon {top: 1px}*/

.z-ce-body .z-grid-top .z-grid-btn {
    text-align: right;
    height: 24px
}

.z-ce-body .z-grid-top .btn {
    font-size: 10px;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
    margin: 2px 2px 0 0
}

.z-grid {
    width: 100%;
    max-width: 100%;
}

.z-grid-bordered {
    border: 1px solid #666;
}

.z-grid > tbody > tr.info > td, .z-grid > tbody > tr.info > th, .z-grid > tbody > tr > td.info, .z-grid > tbody > tr > th.info, .z-grid > tfoot > tr.info > td, .z-grid > tfoot > tr.info > th, .z-grid > tfoot > tr > td.info, .z-grid > tfoot > tr > th.info, .z-grid > thead > tr.info > td, .z-grid > thead > tr.info > th, .z-grid > thead > tr > td.info, .z-grid > thead > tr > th.info {
    background-color: #d9edf7;
}

.z-grid > tbody > tr.warning > td, .z-grid > tbody > tr.warning > th, .z-grid > tbody > tr > td.warning, .z-grid > tbody > tr > th.warning, .z-grid > tfoot > tr.warning > td, .z-grid > tfoot > tr.warning > th, .z-grid > tfoot > tr > td.warning, .z-grid > tfoot > tr > th.warning, .z-grid > thead > tr.warning > td, .z-grid > thead > tr.warning > th, .z-grid > thead > tr > td.warning, .z-grid > thead > tr > th.warning {
    background-color: #fcf8e3;
}

.z-grid > tbody > tr > td, .z-grid > tbody > tr > th, .z-grid > tfoot > tr > td, .z-grid > tfoot > tr > th, .z-grid > thead > tr > td, .z-grid > thead > tr > th {
    vertical-align: middle;
    padding: 2px;
    line-height: 1.4285;
    height: 24px
}

.z-grid-bordered > tbody > tr > td, .z-grid-bordered > tbody > tr > th, .z-grid-bordered > tfoot > tr > td, .z-grid-bordered > tfoot > tr > th, .z-grid-bordered > thead > tr > td, .z-grid-bordered > thead > tr > th {
    border: 1px solid #999;
}

.z-grid > thead > tr > td, .z-grid > thead > tr > th {
    text-align: center
}

.z-grid tr > th > input {
    font-weight: 500;
}

.z-grid .cell-input, .z-grid .cell-select {
}

    .z-grid .cell-input input, .z-grid .cell-read input, .z-grid .cell-select select {
        height: 100%;
        width: 100%;
        border: 0
    }

    .z-grid .cell-input input {
        background-color: #eee
    }
        .z-grid .cell-input input:focus, .z-grid .cell-read input:focus, .z-grid .cell-select select:focus, .ttl select:focus {
            border-color: rgba(254,183,68,1);
            outline: 0;
            box-shadow: none;
        }

.tui-grid-header-area .tui-grid-cell-header {
    color: #666;
    white-space: normal;
    padding: 2px;
    background-color: #d9edf7;
    border: 1px solid #999
}

.tui-grid-body-area .tui-grid-cell {
    color: #444;
    white-space: normal
}

    .tui-grid-body-area .tui-grid-cell .tui-grid-cell-content {
        padding: 4px 4px 0 4px;
    }

.tui-grid-header-area .tui-grid-cell-header, .tui-grid-body-area .tui-grid-cell {
    font-size: 12px
}

.tui-grid-container input, .tui-grid-container p, .tui-grid-container textarea {
    font-size: 12px;
}

.tui-select-box-input, .tui-select-box-item, .tui-select-box-item-group-label {
    padding: 0 4px;
    height: 22px;
    font-size: 12px;
}

.tui-select-box-item, .tui-select-box-item-group-label, .tui-select-box-placeholder {
    line-height: 22px;
}

.tui-grid-table .tui-grid-cell-row-header {
    border-color: #bbb
}

.tui-grid-row-header-checkbox {
    padding: 5px 0 0 0;
}
/* ce layout & grid <----- */