/*******************************************************************************/
/* 교육관리 */

.z-list-body tbody tr td {
    /*white-space: nowrap;*/
    /*padding: 0.25rem;*/
}

.z-list-body .table .table-success, .z-list-body .table .table-success > th, .z-list-body .table .table-success > td,
.z-list-body .table .table-warning, .z-list-body .table .table-warning > th, .z-list-body .table .table-warning > td {
    border-color: #e8e8e9 !important;
}

.modal-dialog .z-list .table th {
    vertical-align: middle;
    text-align: center
}

.modal-dialog .z-list .table th, .modal-dialog .z-list .table td {
    padding: .15rem !important;
}

    .modal-dialog .z-list .table td .custom-select {
        height: 1.625rem;
        padding-top: .175rem;
        padding-bottom: .175rem;
    }

    .modal-dialog .z-list .table td input.form-control {
        height: 1.625rem;
    }

    .modal-dialog .z-list .table td .input-group .btn {
        height: 1.625rem;
        padding-top: .175rem;
    }