/*******************************************************************************/
/* 알림 */

.time-line{
    padding-left: 0 !important;
}
    .time-line .time-line-date {
        position: relative;
        height: 1.75rem;
        margin-top: 1rem;
    }
        .time-line .time-line-date > span:first-child {
            position: absolute;
            left: -20px;
        }
        .time-line .time-line-date > span:last-child {
            position: absolute;
            left: 3rem;
            top: .5rem;
        }