/*******************************************************************************/
/* NUM */

.z-pop .num-table td {
    vertical-align: middle;
    text-align: center;
    padding: .15rem;
    /*height: 30px;*/
}
    .z-pop .num-table td h5 {
        letter-spacing: 2px;
        margin-top: .35rem;
        margin-bottom: .35rem;
    }
    .z-pop .num-table td h6 {
        margin-top: .35rem;
        margin-bottom: .25rem;
    }

    .z-pop .num-table td input {
        height: 1.75rem;
        padding: 0.35rem !important;
        text-align: center;
    }

.bootbox-alert {
    z-index: 1900;
}

.num-sheet {
    width: 100%;
    height: 100%;
    margin: 0;
}
    .num-sheet th {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        width: 3%;
        height: 2%;
        word-break: break-all;
        margin: 0;
        background: #eee;
        cursor: default
    }

    .num-sheet td {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        width: 3%;
        height: 2%;
        word-break: break-all;
        margin: 0;
        background: #fff;
        font-size: 7pt;
        cursor: default
    }

    .num-sheet tr.odd td {
        background-color: #ffffff
    }

    .num-sheet tr.even td {
        background-color: #eeeeee
    }

    .num-sheet td.filled {
        cursor: pointer;
        text-align: center;
        padding: 2
    }

    .num-sheet tr td.over, .num-sheet tr td.clc {
        background-color: orange;
        font-size: 11px;
        font-weight: bold;
        color: #fff
    }

