/*******************************************************************************/
/* 포탈 */

/* datepicker ---------------> */
.light-style .datepicker table tr td, .light-style .datepicker table tr th {
    height: 1.72rem;
    line-height: 1rem;
    border-radius: 0.86rem;
}

.light-style .datepicker table tr td.today, .material-style .datepicker table tr td.today {
    background: #20c997 !important;
    color: #fff !important;
}

@media (min-width: 1300px) {
    .light-style .datepicker table tr td, .light-style .datepicker table tr th {
        padding-left: .725rem;
        padding-right: .725rem;
    }
}
@media (min-width: 1400px) {
    .light-style .datepicker table tr td, .light-style .datepicker table tr th {
        padding-left: .85rem;
        padding-right: .85rem;
    }
}
@media (min-width: 1600px) {
    .light-style .datepicker table tr td, .light-style .datepicker table tr th {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (min-width: 1800px) {
    .light-style .datepicker table tr td, .light-style .datepicker table tr th {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}
@media (min-width: 2000px) {
    .light-style .datepicker table tr td, .light-style .datepicker table tr th {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media (max-width: 992px) {
    .light-style .datepicker table tr td, .light-style .datepicker table tr th {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (max-width: 700px) {
    .light-style .datepicker table tr td, .light-style .datepicker table tr th {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
@media (max-width: 575.98px) {
    .light-style .datepicker table tr td, .light-style .datepicker table tr th {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}
@media (max-width: 400px) {
    .light-style .datepicker table tr td, .light-style .datepicker table tr th {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (max-width: 320px) {
    .light-style .datepicker table tr td, .light-style .datepicker table tr th {
        padding-left: .725rem;
        padding-right: .725rem;
    }
}
@media (max-width: 290px) {
    .light-style .datepicker table tr td, .light-style .datepicker table tr th {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
/* datepicker <--------------- */

