/*******************************************************************************/
/* PQM */

#chart-list .table {
    min-width: 800px;
}

#chart-list .table th, #chart-list .table td {
    padding: 0.25rem;
}

#chart-list .table .br-bold {
    border-right: 2px solid #77be99 !important;
}

#chart-list .table .bb-bold, #chart-list .table .table-info td {
    border-bottom: 2px solid #77be99 !important;
}



