/*******************************************************************************/
/* Preview */

@media print {
    .pace, .page-loader {
        display: none !important;
    }
    .btn {
        display: none;
    }
}



