/*******************************************************************************/
/* 레이아웃, 로고, 상단검색 */

.layout-sidenav .app-brand, layout-sidenav-horizontal .app-brand {
    padding-top: 0; /*1.04709rem;*/
    padding-bottom: 0; /*0.739rem;*/
    padding-left: 2.8rem;
    height: 56px;
}
.layout-navbar {
    padding-top: 0;
    padding-bottom: 0;
    /*height: 56px;*/
}
.navbar-brand {
    padding-left: 0.1rem;
    height: 56px;
}
.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 56px;
}
.app-brand .app-brand-logo img {
    height: 28px;
    vertical-align: middle;
}

.app-brand .app-brand-text img {
    height: 22px;
    vertical-align: middle;
}

.layout-1 .layout-sidenav .app-brand,
.layout-1 .layout-sidenav .app-brand + .sidenav-divider,
.layout-reversed .layout-2 .layout-sidenav .app-brand {
    display: none;
}

.layout-1 .layout-navbar .app-brand,
.layout-reversed .layout-2 .layout-navbar .app-brand {
    display: -ms-flexbox !important;
    display: flex !important;
}

.layout-1 .layout-navbar .layout-sidenav-toggle,
.layout-reversed .layout-2 .layout-navbar .layout-sidenav-toggle,
.layout-offcanvas .layout-navbar .layout-sidenav-toggle,
.layout-fixed-offcanvas .layout-navbar .layout-sidenav-toggle {
    display: block !important;
}

@media (min-width: 992px) {
    .layout-offcanvas .layout-sidenav .layout-sidenav-toggle,
    .layout-fixed-offcanvas .layout-sidenav .layout-sidenav-toggle {
        display: none;
    }
}

.sidenav-vertical .sidenav-header, .sidenav-vertical .sidenav-block {
    /*padding: .5rem 1rem;*/
}
.sidenav-horizontal .sidenav-item .sidenav-link {
    padding: 0.75rem 1rem;
}

.layout-navbar .navbar-nav .app-search {
    max-width: 180px;
    width: 180px; /* IE */
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.layout-navbar .navbar-nav .app-search .btn {
    background-color: rgba(255,255,255,0.12);
    border-color: transparent;
    color: rgba(255,255,255,0.5);
    border-radius: 0 30px 30px 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-left: 0 !important;
    z-index: 4;
}

.layout-navbar .navbar-nav .app-search .form-control {
    border: none;
    height: 30px;
    padding-left: 20px;
    padding-right: 0;
    color: #fff;
    background-color: rgba(255,255,255,0.12);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px 0 0 30px;
}

/* ajax loader */
.modal-ajaxloader .modal-content {
    box-shadow: 1px 3px 10px rgba(0,0,0,0.5);
    border-radius: .45rem;
}
.modal-ajaxloader .modal-dialog {
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;
}
.modal-ajaxloader .modal-body {
    padding-top: .7rem;
    padding-bottom: .7rem;
}
.modal-ajaxloader .modal-title {
    color: #337ab7;
}

