/*******************************************************************************/
/* 레이아웃, 로고, 상단검색 */

.layout-sidenav .app-brand, layout-sidenav-horizontal .app-brand {
    padding-top: 0; /*1.04709rem;*/
    padding-bottom: 0; /*0.739rem;*/
    padding-left: 2.8rem;
    height: 56px;
}
.layout-navbar {
    padding-top: 0;
    padding-bottom: 0;
    /*height: 56px;*/
    box-shadow: 0 1px 1px rgba(50,58,70,0.1);
}
.navbar-brand {
    padding-left: 0.1rem;
    height: 56px;
}
.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 56px;
}
.navbar-nav .dropdown-menu {
    min-width: 7.5rem;
}
.app-brand .app-brand-logo img {
    /*height: 28px;*/
    vertical-align: middle;
}

.app-brand .app-brand-text img {
    /*height: 22px;*/
    vertical-align: middle;
}

.layout-1 .layout-sidenav .app-brand,
.layout-1 .layout-sidenav .app-brand + .sidenav-divider,
.layout-reversed .layout-2 .layout-sidenav .app-brand {
    display: none;
}

.layout-1 .layout-navbar .app-brand,
.layout-reversed .layout-2 .layout-navbar .app-brand {
    display: -ms-flexbox !important;
    display: flex !important;
}

.layout-1 .layout-navbar .layout-sidenav-toggle,
.layout-reversed .layout-2 .layout-navbar .layout-sidenav-toggle,
.layout-offcanvas .layout-navbar .layout-sidenav-toggle,
.layout-fixed-offcanvas .layout-navbar .layout-sidenav-toggle {
    display: block !important;
}

@media (min-width: 992px) {
    .layout-offcanvas .layout-sidenav .layout-sidenav-toggle,
    .layout-fixed-offcanvas .layout-sidenav .layout-sidenav-toggle {
        display: none;
    }
}

.sidenav-vertical .sidenav-header, .sidenav-vertical .sidenav-block {
    /*padding: .5rem 1rem;*/
}
.sidenav-horizontal .sidenav-item .sidenav-link {
    padding: 0.75rem 1rem;
}
.sidenav-horizontal .sidenav-item .sidenav-toggle::after {
    right: .2rem;
}
.layout-navbar .navbar-nav .app-search {
    max-width: 180px;
    width: 180px; /* IE */
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.layout-navbar .navbar-nav .app-search .btn {
    background-color: rgba(255,255,255,0.12);
    border-color: transparent;
    color: rgba(255,255,255,0.5);
    border-radius: 0 30px 30px 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-left: 0 !important;
    z-index: 4;
}

.layout-navbar .navbar-nav .app-search .form-control {
    border: none;
    height: 30px;
    padding-left: 20px;
    padding-right: 0;
    color: #fff;
    background-color: rgba(255,255,255,0.12);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px 0 0 30px;
}

/* modal, navbar-right */
.messages-wrapper .messages-sidebox {
    transition: transform .2s ease-out;
    -webkit-transition: transform .2s ease-out;
}

@media (min-width: 992px) {
    .z-mobile-navbar {
        display: none;
    }
    .light-style .messages-wrapper .messages-sidebox {
        width: 14rem !important;
        -webkit-transform: translateX(0) !important; 
        transform: translateX(0) !important;
    }
}
@media (max-width: 992px) {
    
    /*.messages-wrapper .messages-sidebox.mobile {
        position: fixed;
        width: 70vw !important;
        max-width: none;
        margin: 0;
        right: 0;
        left: calc(45vw);
        height: 100%;
        z-index: 1200 !important;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        background-color: #fff;
        align-content: center;
    }

    .messages-wrapper .messages-sidebox.mobile.show {
        -webkit-transform: translateX(-15vw);
        transform: translateX(-15vw);
        transition: transform .2s ease-out;
    }

    .messages-wrapper .messages-sidebox.hide {
        -webkit-transform: translateX(15vw);
        transform: translateX(15vw);
        transition: transform .2s ease-out;
    }*/
}
.modal-fullscreen {
    position: absolute;
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
    right: 0;
}
.modal-right {
    position: absolute;
    width: 65vw;
    max-width: none;
    height: 100%;
    margin: 0;
    right: 0;

    display: flex;
    /*flex-flow: column nowrap;*/
    justify-content: center;
    background-color: #fff;
    align-content: center;
    transform: translate(25%,0) !important;
}
.modal.show .modal-left, .modal.show .modal-right {
    transform: translate(0,0) !important;
}

/* ajax loader, workstatus-modal */
.modal-ajaxloader .modal-content {
    box-shadow: 1px 3px 10px rgba(0,0,0,0.5);
    border-radius: .45rem;
}
.modal-ajaxloader .modal-dialog {
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;
}
.modal-ajaxloader .modal-body {
    padding-top: .7rem;
    padding-bottom: .7rem;
}
.modal-ajaxloader .modal-title {
    color: #337ab7;
}
#popWorkStatus .custom-control-label::before {
    top: .15rem;
}

/* bbs, kms, edm, ea listview ---------------> */
.pagination-sm .page-link, .pagination-sm > li > a:not(.page-link) {
    padding-top: .375rem;
    padding-bottom: .375rem;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    cursor: not-allowed;
}

.z-lv-menu, .z-lv-cond, .z-lv-page, .z-lv-page .z-lv-total {
    white-space: nowrap;
}

.z-lv-cond .form-control {
    height: 30px;
    padding: .25rem .875rem;
}
.z-lv-cond .custom-select, .z-lv-cnt .custom-select {
    height: 30px;
    padding-top: .3rem;
    padding-left: .7rem;
    padding-right: 2.25rem;
}
.z-lv-cond .input-group-text, .z-lv-cond .btn {
    padding-top: 0;
    padding-bottom: 0;
}

.z-lv-hdr {
    border-top:1px solid #ededed;
}
.z-lv-hdr .list-group-item {
    border-radius: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
.z-lv-hdr .list-group-item, .z-lv-item .list-group-item {
    padding-top: .375rem;
    padding-bottom: .375rem;
}
.z-lv-topline {
    background-color: rgba(32, 201, 151, 0.2);
}
.z-lv-item [href]:hover, .z-webpart .card-body [href]:hover {
    color: #337ab7 !important;
}

@media (min-width: 992px) {
    .container-p-x {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}

@media (max-width: 1400px) {
    .z-lv-cond {
        width: 65%;
    }
    .z-lv-cond .z-lv-date {
        width: 49%;
    }
    .z-lv-cond .z-lv-search {
        width: 51%;
    }
}
@media (max-width: 768px) {
    .z-lv-cond {
        width: 40%;
    }
    .z-lv-cond .z-lv-search {
        width: 100%;
    }
    .z-lv-page .z-lv-cnt, .z-lv-cond .z-lv-date, .z-lv-cond .z-lv-search select {
        display: none !important;
    }
    .z-lv-cond .z-lv-search input.form-control {
        border-top-left-radius: .25rem !important;
        border-bottom-left-radius: .25rem !important;
    }
    .z-ttl {
        padding-top: .35rem;
        padding-bottom: .375rem;
    }
}

@media (max-width: 576px) {
    .z-ttl {
        padding-top: .35rem;
        padding-bottom: .375rem;
    }
    .z-lv-page {
        display: none !important;
    }
}
/* bbs, kms, edm, ea listview <--------------- */

/* contact */
.contacts-col-view .contact-content {
    margin: 0 auto;
    text-align: center;
}
.contact-content .contact-content-img {
    margin-bottom: 1.25rem;
    max-width: 6.5rem;
    height: 7.5rem;
    border-radius: 1.25rem !important;
}
.contacts-col-view .contact-content-name, .contacts-col-view .contact-content-user {
    display: block;
}

/* portal ---------------> */
.z-webpart {
    border-radius: .35rem;
/*    max-height: 200px;
    height: 200px;*/
}
.z-webpart .card-header.with-elements {
    padding-bottom: .2rem;
}
.z-webpart .card-header-title {
    font-weight: 500;
}
.z-webpart .card-body {
    padding: 1rem 1.5rem;
}
.z-webpart .fchart {
    height: 180px;
    width: 100%;
    min-width: 100%;
}

/* portal <--------------- */

/* grid listview -----> */
.z-list {
}
.z-list-scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    overflow: auto;
    display: -ms-flexbox;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.z-list-head {
    margin-bottom: 2px;
    padding-left: 4px
}

.z-list-menu {
    margin-bottom: 0px;
    padding-left: 0px
}

.z-list-head .btn-group {
    margin-top: 6px;
    margin-bottom: 10px
}

.z-list-menu, .z-list-cond, .z-list-page, .z-list-page .z-list-total {
    white-space: nowrap;
}
    .z-list-cond .form-control {
        height: 30px;
        padding: .25rem .875rem;
    }

    .z-list-cond .custom-select, .z-list-cnt .custom-select {
        height: 30px;
        padding-top: .3rem;
        padding-left: .7rem;
    }

    .z-list-cond .input-group-text, .z-list-cond .btn {
        padding-top: 0;
        padding-bottom: 0;
    }

.z-list-body .table {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

    .z-list-body .table > thead > tr > th {
        vertical-align: middle;
    }

    .z-list-body .table th, .z-list-body .table td {
        text-align: center;
        vertical-align: middle;
    }

        .z-list-body .table td.text-dim {
            color: #999;
            font-style: italic
        }
.z-list th, .z-list td {
    /*padding: .5rem;*/
    word-break: break-all;
}
.z-list a.z-lnk-navy {
    color: #337ab7;
    text-decoration: none;
}
    .z-list a.z-lnk-navy:focus, a.z-lnk-navy:hover {
        color: #23527c;
        text-decoration: underline;
    }

a.z-lnk-navy-n {
    color: #337ab7;
}
    a.z-lnk-navy_n:focus, a.z-lnk-navy-n:hover {
        color: #23527c;
    }

.z-select {
    height: 28px;
    padding: 2px 0 4px 6px;
    line-height: 1.5;
}

.z-input {
    height: 26px;
    width: 100%;
    padding: 3px 6px;
    line-height: 1.5;
}

.z-input-in {
    height: 22px;
    padding: 1px 4px;
    line-height: 1.5;
}

.z-read {
    border: 0;
    background-color: Transparent
}

.z-list .sortable i {
    font-size: 10px;
    top: 0
}

.z-badge {
    background-color: #d9534f;
    padding: 3px 5px 2px 5px;
    margin-top: -2px;
}

.z-list-head .radio-inline {
    margin-bottom: 4px
}

    .z-list-head .radio-inline input[type=radio] {
        position: relative;
    }
/* grid listview <----- */

/* board form -----> */
.zf-menu .btn-group .btn {
    padding-top: .25rem;
    padding-bottom: .2rem;
}
.zf-prevbody {
    color: #000000;
}
.zf-prevbody p {
    margin-top: 0;
    margin-bottom: 0;
}
.zf-attach div:not(:last-child) {
    border-bottom: 0 !important;
}
.zf-btn-sm {
    padding: 0px 4px;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.zf-btn-xs {
    padding: .125rem .15rem .135rem; /*.15rem .175rem .125rem;*/
    font-size: .5625rem; /*.625rem;*/
    line-height: 1;
    border-radius: 0.175rem;
}
.zf-editor {
    background-color: white;
    z-index: 1;
}
/* board form <----- */