@import "../Vendor/css/_appwork/include";
@import "../Vendor/css/_theme/common";
@import "../Vendor/css/_theme/libs";
@import "../Vendor/css/_theme/uikit";

$primary-color: #0062ff;
$body-bg: #f5f6f8;

body {
    background: $body-bg;
}

.bg-body {
    background: $body-bg !important;
}

@include appwork-common-theme($primary-color);
@include appwork-libs-theme($primary-color);
@include appwork-uikit-theme($primary-color);

// Navbar
@include appwork-navbar-variant('.bg-navbar-theme', #ffffff);

// Sidenav
@include appwork-sidenav-variant('.bg-sidenav-theme', #0062ff, $color: #d3e0fd);

.bg-sidenav-theme {
    .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
        background: rgba(255, 255, 255, .05) !important;
    }
}

.bg-sidenav-theme.sidenav-vertical,
.bg-sidenav-theme .sidenav-vertical {
    .sidenav-item.active > .sidenav-link:not(.sidenav-toggle)::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-left: 4px solid $cyan;
    }

    .layout-collapsed &:not(:hover),
    &.sidenav-collapsed:not(:hover) {
        .sidenav-item .sidenav-item.active > .sidenav-link:not(.sidenav-toggle)::after {
            display: none;
        }
    }
}

[dir=rtl] .bg-sidenav-theme.sidenav-vertical .sidenav-item.active > .sidenav-link:not(.sidenav-toggle)::after,
[dir=rtl] .bg-sidenav-theme .sidenav-vertical .sidenav-item.active > .sidenav-link:not(.sidenav-toggle)::after {
    right: 0;
    left: auto;
}

// Footer
@include appwork-footer-variant('.bg-footer-theme', #f5f5f5, $color: $text-muted, $active-color: $body-color);

//신규 추가
.text-small {
    font-size: $small-font-size !important;
}

.d-grid {
    display: -ms-grid !important;
    display: grid !important;
}

.layout-sidenav .app-brand, layout-sidenav-horizontal .app-brand {
    /*background-color: #f78429;*/
}


.w-20 {
    width:20% !important;
}



.b-t-1 {
    border: 0
}



@media (max-width:575px) {


    .m-24 {
        max-width: 24px;
    }

    .ml-24 {
        margin-left: 24px;
    }

    .ml-33 {
        margin-left: 33px;
    }

    .ml-18 {
        margin-left: 18px;
    }


    .t-sm {
        font-size: .7rem;
    }

    .t-sm-muted {
        font-size: .7rem;
        color: rgb(145, 145, 145);
    }

    .t-lg {
        font-size: .85rem;
        font-weight: 600;
    }


    .b-t-1 {
        border-top: .5px solid #dfdfdf;
    }

    .docu-s {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

   
}



.list-group-item {
    .subject, .docu {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .subject {
        line-height: initial;
    }
}


/*signline*/
.sign-format {
    width: 768px;
    height: 720px;
    background-color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-x: auto;
}

@media (max-width:768px) {
    .sign-format {
        width: 100%;
    }
}

@media (max-width:540px) {
    .modal-lmd {
        width: 340px;
    }
}

.signline {
    margin-bottom: .8rem;
}



.table-gray {
    border: 1px solid gray;
}



.table-gray > tbody > tr > th {
    border: 1px solid gray;
}

.table-gray > tbody > tr > td {
    border: 1px solid gray;
}

.table-gray > :not(:last-child) > :last-child > * {
    border-bottom-color: gray;
}

.comment-inner {
    max-width: 64px !important;
    border-radius: 6px;
    background-color: #f5f6f8;
}