/*******************************************************************************/
/* 업무일지 */

/* left menu */
.sidenav-vertical.z-lm, .sidenav-vertical.z-lm .sidenav-inner > .sidenav-item {
    width: 100%;
}

.z-lm .sidenav-menu {
    padding-top: 0;
    padding-bottom: .325rem;
}

    .z-lm .sidenav-item .sidenav-link, .z-lm .sidenav-menu .sidenav-item .sidenav-link {
        padding-top: .225rem;
        padding-bottom: .225rem;
    }

    .z-lm .sidenav-menu .sidenav-item .sidenav-link {
        padding-left: 3.05rem;
    }

    .z-lm .sidenav-menu .sidenav-menu .sidenav-item .sidenav-link {
        padding-left: 4.55rem;
    }

    .z-lm .sidenav-icon, .z-lm .sidenav-menu .sidenav-icon {
        width: 1.23rem;
        margin-right: .25rem;
    }

.z-lm .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
    background: rgba(191, 191, 191, 0.2) !important;
}

.z-lm .sidenav-item.open:not(.sidenav-item-closing) > .sidenav-toggle, .z-lm .sidenav-item.active > .sidenav-link {
}

.z-lm .sidenav-item .z-lm-cnt {
    margin-left: .25rem;
    font-weight: 600;
    color: #344fe9;
}

.z-lm .sidenav-link.sidenav-toggle {
    /*color: #245580;*/
    color: rgba(24,28,33,0.7);
}


/* head, menu button */
.z-lv-menu .btn {
    line-height: 22px;
    padding-top: 0;
    padding-bottom: 0;
}

.z-list-head .nav-tabs .nav-link {
    padding-top: .325rem;
    padding-bottom: .25rem;
}
.z-list-head .nav-tabs .nav-link.active {
    border-color: rgba(24,28,33,0.1);
    border-bottom-color: #ffffff;
}


/* calendar week */
.zc-week {
    height: 100%;
    border: 1px solid rgba(24,28,33,0.1);
    /*border-top-width: 2px;
    border-bottom-width: 2px;*/
}
    .zc-week .zc-week-left {
        border-right: 0;
    }
    .zc-week .zc-week-day {
        box-shadow: 0 0 0;
        border-radius: 0;
        border: 0;
        min-height: 11.75rem;
    }
    .zc-week .zc-week-day.weekend {
        min-height: 5.875rem;
    }
        .zc-week .zc-week-day .card-header {
            padding: 0 .725rem;
            margin-bottom: 0;
            background-color: transparent;
            border-bottom: 1px solid #dcdcdc;
            border-top: 1px solid #dcdcdc;
            border-radius: 0;
            background-color: #f8f8f8; /* rgba(64,132,255,0.1); rgba(223,138,50,0.1);*/
            font-weight: bold;
        }
        .zc-week .zc-week-day .card-body {
            padding: 0.5rem .725rem;
            /*text-decoration: line-through*/
        }
@media (min-width: 576px) {
    .zc-week .zc-week-left {
        border-right: 1px solid rgba(24,28,33,0.2);
    }
}

/* asp.net calendar month */
.zc-month {
    position: absolute;
    top: 0;
    left: 1rem;
    right: 1rem;
    bottom: .5rem;
}
.zc-calendar {
    width: 100%;
    height: 100%;
    border: 0;
    border-top: 2px solid #dcdcdc !important;
    border-bottom: 1px solid #dcdcdc !important;
}
    .zc-calendar th, .zc-calendar td {
        padding: 0;
        border: 1px solid rgba(24,28,33,0.1);
    }
    .zc-calendar .zc-toolbar {
    }
    .zc-calendar .zc-header {
        position: relative;
        height: 3.4%;
        background-color: #f8f8f8; /*rgba(64,132,255,0.1); rgba(223,138,50,0.1);*/
        padding: .2rem .5rem .1rem;
    }
    .zc-calendar .zc-day {
        position: relative;
        height: 16.1%;
        vertical-align: top !important;
    }
        .zc-calendar .zc-day.zc-day-today {
            background-color: rgba(10, 235, 152, 0.05);
        }
        .zc-calendar .zc-day.zc-day-other {
            opacity: 0.5;
        }
        .zc-calendar .zc-day.zc-day-sun {
            background: rgba(215, 215, 215, 0.1);
        }
        .zc-calendar .zc-day.zc-day-sat {
            background: rgba(215, 215, 215, 0.1);
        }
        .zc-calendar .zc-day.zc-day-sun .zc-day-number {
            color: #ec4a3b;
        }
        .zc-calendar .zc-day.zc-day-sat .zc-day-number {
            color: #6c9df9;
        }
        .zc-calendar .zc-day-top {
            display: flex;
            /*flex-direction: row-reverse;*/
            align-items: center !important;
            justify-content: space-between;
            padding: .125rem .2rem;
        }
            .zc-calendar .zc-day-top .zc-day-number {
                font-weight: bold;
            }
            .zc-calendar .zc-day-top a, .zc-calendar .zc-day-top span {
                /*overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;*/
                display: inline-flex;
            }
    .zc-calendar .zc-day-event {
        display: flex;
        justify-content: start;
        align-items: center !important;
        padding: 0 .125rem .0625rem;
    }
        .zc-calendar .zc-day-event a{
            text-align: left;
        }
        .zc-calendar .zc-day-event i {
            margin-top: 1px;
        }

/* full-calendar month */
.zc-month {
    /*position: absolute;
    top: 0;
    left: 1rem;
    right: 1rem;
    bottom: .5rem;
    height: 100%;*/
}
.fc .fc-toolbar.fc-header-toolbar {
    /* margin-bottom: 1.5em; */
    /*display: none;*/
}
.fc .fc-scrollgrid .fc-col-header {
    background-color: rgba(64,132,255,0.1);
    border-top: 1px solid rgba(24,28,33,0.1);
}

.light-style .fc-col-header th, .light-style .fc-timeline-header-row th, .light-style .fc .fc-daygrid-week-number, .light-style .fc-list-day a {
    /*font-size: .8125rem !important;*/
    line-height: 1.8125 !important;
    font-weight: 600 !important;
}
.fc .fc-daygrid-day.fc-day-sun .fc-daygrid-day-number {
    color: #ec4a3b;
}
.fc .fc-daygrid-day.fc-day-sat .fc-daygrid-day-number {
    color: #4083ff;
}