/* 레이아웃 */
.m {
	margin-left: auto !important;
	margin-right: auto !important;
	font-family: 맑은 고딕;
	color: #000000;
	display: table;
}
.m .ff {
	height: 2px;
	font-size: 1px
}

/* 폰트 */


/* 공통 */
.m .fh table, .m .fb table, .m .fm table, .m .fm-lines table {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}
.m .ft, .m .ft-sub, .m .si-tbl, .m .si-list {
	border: 1px solid #343a40;
}
.m .ft td, .m .ft-sub td, .m .si-tbl td {
	vertical-align: middle;
	border: 1px solid #343a40;
}
.m .ft td, .m .ft-sub td, .m .txaRead, .m .txaRead_Center, .m .txaRead_Right {
	padding: .125rem;
}
.m span {
	display: inline-block;
}
.m .fm span {
	font-size: 14px
}
.m a:hover {
	color: #0056b3;
	text-decoration: underline;
}
.m a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}
.m .fm-editor {
	background-color: white;
	z-index: 1;
	/*display: inline-block;*/
}
.m .fm-editor p {
	margin-top: 0;
    margin-bottom: 0
}

/* 로고 및 양식명 */
.fh .fh-l {
	width: 150px;
	text-align: center
}
.fh .fh-m {
	padding-top: 15px;
	text-align:center
}
.fh .fh-r {
	width:150px
}
.fh .fh-l img {
	border: 0;
	vertical-align: middle;
	margin-top: 0
}

/* 결재칸 */
.m .si-tbl td {
	padding: .0625rem;
}
.m .si-tbl .si-title {
	text-align: center;
	background-color: #eeeeee
}
.m .si-tbl .si-top {
	height: 20px;
	text-align: center;
	padding-top: 1px
}
.m .si-tbl .si-middle {
	height: 73px;
	text-align: center
}
.m .si-tbl .si-bottom {
	height: 20px;
	text-align: center
}
.m .si-tbl img {
	margin: 0px
}
.m .fm-lines {
	padding-top: 0.625rem;
}
.m .si-list td {
	padding: .125rem;
	text-align: center;
}
.m .si-list thead td {
	background-color: #eeeeee;
	border-bottom: 1px solid #343a40
}
.m .si-list tbody td {
	border-top: 1px solid #343a40
}
.m .si-list .si-cur td {
	background-color: #f7f3c1
}
.m .si-list .si-pname, .m .si-subtd .si-sublist .si-pname {
	text-align: left
}
.m .si-list .si-cmnt, .m .si-subtd .si-sublist .si-cmnt {
	text-align: left
}
.m .si-list .si-subtd {
	padding-left: .5rem
}
.m .si-list .si-subtd .si-sublist {
	border-left: 1px dotted #343a40
}
.m .si-list .si-subtd .si-sublist tr:nth-child(1) td {
	border-top: 0
}

/* 결재칸 첨언표시 */
.cmnt-popup {
	left: 26%;
	display: none;
	z-index: 100;
	width: 400px;
	height: 140px;
	padding: 2px;
	background-color: #fff;
	border: 3px double #999;
	font-size: 12px
}

	.cmnt-popup .cmnt-btn {
		position: relative;
		padding: 2px;
		text-align: left;
		background-color: #777;
		border: 1px solid #ccc;
		border-bottom: 1px solid #fff;
		color: #fff
	}

		.cmnt-popup .cmnt-btn span {
			display: inline-block;
			text-align: left
		}

		.cmnt-popup .cmnt-btn button {
			position: absolute;
			right: 5px;
			top: 3px;
			padding: 0;
			text-align: center;
			width: 16px;
			height: 16px;
			font-size: 10px;
			font-weight: bold;
			border: 1px solid #fff
		}

	.cmnt-popup .cmnt-lst {
		height: 108px;
		padding: 2px;
		background-color: #fff;
		border: 0px solid #ccc;
		text-align: left;
		line-height: 16px;
		overflow: auto
	}

.cmnt-red {
	left: 22%;
	border: 3px double blue;
	width: 450px;
	font-size: 14px;
}

	.cmnt-red .cmnt-btn {
		background-color: blue;
		border: 1px solid blue;
	}

		.cmnt-red .cmnt-btn span {
			font-weight: bold
		}

	.cmnt-red .cmnt-lst {
		height: 150px;
		border: 1px solid blue
	}

/* 버튼 */
.m .fm-button {
	text-align: right;
	padding-right: 2px;
}
.m .fm-button .btn {
	margin-left: 4px;
}

/* 공통,메인,하위 */
.m .ft td, .m .ft-sub td, .m .ft-sub .ft-sub-sub td {
	word-break: break-all;
}
.m .ft .f-lbl, .m .ft .f-lbl1, .m .ft .f-lbl2, .m .ft .f-lbl3, .m .ft .f-lbl4, .m .ft-sub .f-lbl-sub, .m .ft-sub .ft-sub-sub .f-lbl-sub {
	text-align: center;
	background-color: #eeeeee
}
.m .fm label, .m .ft label, .m .ft-sub label, .m .ft-sub .ft-sub-sub label {
	margin-bottom: 0;
	margin-left: 1.15rem
}
.m table span input[type="radio"], .m table span input[type="checkbox"] {
	position: absolute;
	margin-top: .25rem;
	margin-left: .125rem;
}

/* 첨부파일 */
.m .fm-file td.file-title {
	width: 70px;
	white-space: nowrap;
}
.m .fm-file td.file-title, .m .fm-file td.file-info {
	vertical-align: top
}
.m .fm-file td.file-end {
	vertical-align: bottom;
	padding-left: 20px;
}

/* 각종 필드 정의 - txt : input, txa : textarea */
.m .txtText {
	ime-mode: active;
	width: 100%;
}
.m .txtText_m {
	ime-mode: active;
	width: 100%;
	border: 1px solid red;
}
.m .txtText_u {
	ime-mode: active;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #aaaaaa
}
.m .txaText {
	ime-mode: active;
	width: 100%;
	overflow: auto
}
.m .txtNo {
	width: 100%;
	text-align: right
}
.m .txtNumberic, .m .txtVolume {
	width: 100%;
	direction: rtl;
	ime-mode: disabled
}
.m .txtJuminDash {
	width: 100%;
	text-align: center;
	ime-mode: disabled
}
.m .txtCurrency, .m .txtDollar, .m .txtDollar1, .m .txtDollar2, .m .txtDollar3, .m .txtDollarMinus1, .m .txtDollarMinus2, .m .txtDollarMinus3 {
	direction: rtl;
	ime-mode: active;
	width: 100%;
	text-align: right;
}
.m .txtDate, .m .txtDateDot, .m .txtDateSlash, m .txtDateKo, .m .txtYear, .m .txtMonth, .m .txtHHmm, .m .txtHHmmss {
	ime-mode: disabled;
	width: 100%;
	text-align: center;
}
.m .txtCalculate {
	ime-mode: active;
	width: 100%;
}
.m .txtRead {
	width: 100%;
	border: 0;
}
.m .txtRead_Right {
	width: 100%;
	border: 0;
	text-align: right
}
.m .txtRead_Center {
	width: 100%;
	border: 0;
	text-align: center
}
.m .txaRead {
	width: 100%;
	text-align: left
}
.m .ddlSelect {
	width: 100%
}
.m .tdRead_Center {
	text-align: center
}
.m .tdRead_Right {
	text-align: right
}

.m input[type="text"], .m .txaText {
	border: 1px solid rgba(24,28,33,0.3);
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
	.m input[type="text"]:focus, .m .txaText:focus {
		background-color: #fff;
		border-color: rgba(254,183,68,1);
		outline: 0;
		box-shadow: none;
	}

/* 인쇄 설정 : 맨하단으로 */
@media print {
	.m table {
		color: #000000;
	}
	.m .ft, .m .ft-sub, .m .si-tbl {
		border: 1px solid #000000;
	}
	.m .ft td, .m .ft-sub td, .m .si-tbl td {
		border: 1px solid #000000;
	}
	.m .fb td a, .m .fm-file td a {
		text-decoration: none;
		color: #000000
	}
	.m .fm-lines {
		padding-top: 0
	}
	.m .fm-lines .si-hdr td, .m .fm-lines .si-cur td, .si-tbl .si-title, .m .ft .f-lbl, .m .ft .f-lbl1, .m .ft .f-lbl2, .m .ft .f-lbl3, .m .ft .f-lbl4, .m .ft-sub .f-lbl-sub, .m .ft-sub .ft-sub-sub .f-lbl-sub {
		background-color: #ffffff
	} 
}