@using System.Collections;
@using System.Data;
@using System.Text;
@using Newtonsoft.Json;

@{

}

@functions {

    private string RenderColumnHeader()
    {
        string sBlind = "blind ";
        string sSortIcon = "";

        StringBuilder sb = new StringBuilder();
        sb.Append("<colgroup>");
        sb.AppendFormat("<col style=\"width:{0}\" />", "11%"); //부서
        sb.AppendFormat("<col style=\"width:{0}\" />", "6%"); //직급
        sb.AppendFormat("<col style=\"width:{0}\" />", "7%"); //성명
        sb.AppendFormat("<col style=\"width:{0}\" />", "20%"); //일자
        sb.AppendFormat("<col style=\"width:{0}\" />", "8%"); //22
        sb.AppendFormat("<col style=\"width:{0}\" />", "8%"); //23
        sb.AppendFormat("<col style=\"width:{0}\" />", "8%"); //24
        sb.AppendFormat("<col style=\"width:{0}\" />", "8%"); //4
        sb.AppendFormat("<col style=\"width:{0}\" />", "8%"); //6
        sb.AppendFormat("<col style=\"width:{0}\" />", "8%"); //8
        sb.AppendFormat("<col style=\"width:{0}\" />", "8%"); //금액

        sb.Append("</colgroup>");

        sb.Append("<thead><tr>");
        sb.AppendFormat("<th rowspan=\"2\" colspan=\"3\">{0}</th>", "대상자");
        sb.AppendFormat("<th rowspan=\"3\">{0}</th>", "일자");
        sb.AppendFormat("<th colspan=\"6\">{0}</th>", "집계");
        sb.AppendFormat("<th rowspan=\"3\">{0}</th>", "보조비<br />총 금액");
        sb.Append("</tr><tr>");
        sb.AppendFormat("<th colspan=\"3\">{0}</th>", "야간");
        sb.AppendFormat("<th colspan=\"3\">{0}</th>", "휴일");
        sb.Append("</tr><tr>");
        sb.AppendFormat("<th>{0}</th>", "부서");
        sb.AppendFormat("<th>{0}</th>", "직급");
        sb.AppendFormat("<th>{0}</th>", "성명");
        sb.AppendFormat("<th>{0}</th>", "22시~");
        sb.AppendFormat("<th>{0}</th>", "23시~");
        sb.AppendFormat("<th>{0}</th>", "24시~");
        sb.AppendFormat("<th>{0}</th>", "4시간~");
        sb.AppendFormat("<th>{0}</th>", "6시간~");
        sb.AppendFormat("<th>{0}</th>", "8시간~");
        sb.Append("</tr></thead>");
        return sb.ToString();
    }

    private string ViewList(string mode, DataSet data, DataRowCollection colMember, DataRowCollection hDay)
    {
        DataRow[] q = null;
        DataRow[] q2 = null;
        string strHeader = RenderColumnHeader();
        string sCol_day = "";

        long lReal = 0;
        long lNight = 0;
        int iH_4 = 0; //4시간 이상 횟수(4만원)
        int iH_6 = 0; //6시간 이상 횟수(5만원)
        int iH_8 = 0; //8시간 이상 횟수(6만원)
        int iN_22 = 0; //22시 이후 횟수(2만원)
        int iN_23 = 0; //23시 이후 횟수(3만원)
        int iN_24 = 0; //24시 이후 횟수(4만원)

        int iN_pay_22 = 0;
        int iN_pay_23 = 0;
        int iN_pay_24 = 0;
        int iSum = 0;

        StringBuilder sb = new StringBuilder();
        sb.Append("<table class=\"table table-hover table-bordered table-sm\" style=\"min-width: 800px\">");
        sb.Append(strHeader);

        sb.Append("<tbody>");

        if (data != null && data.Tables.Count > 1 && data.Tables[0].Rows.Count > 0)
        {
            foreach (DataRow dr in data.Tables[0].Rows)
            {
                //휴일근무 체크, 아닌 경우 야근 체크
                q = data.Tables[1].Select("UserID = " + dr["UserID"].ToString(), "WorkDate ASC");
                if (q != null && q.Length > 0)
                {
                    foreach (DataRow row in q)
                    {
                        lReal = Convert.ToInt64(row["RealWork"]);
                        lNight = Convert.ToInt64(row["NightWork"]);

                        if (row["HolidayWork"].ToString() != "")
                        {
                            if (lReal >= (new TimeSpan(8, 0, 0)).Ticks)
                            {
                                iH_8++;
                            }
                            else if (lReal >= (new TimeSpan(6, 0, 0)).Ticks)
                            {
                                iH_6++;
                            }
                            else if (lReal >= (new TimeSpan(4, 0, 0)).Ticks)
                            {
                                iH_4++;
                            }

                            string[] temp = row["HolidayWork"].ToString().Substring(2).Split(';');

                            sCol_day += String.Format("<button class=\"btn btn-success btn-sm\" style=\"padding: 3px 5px; margin: 1px 4px 1px 0\" onclick=\"_zw.fn.viewWorkInfo('{0}', '{1}', '{2}', '{3}', '{4}', '{5}', '{6}', {7}, '{8} {10}');\">{9} {10}</button>"
                                                , ZumNet.Web.Bc.CommonUtils.StrHHmmss(row["InTime"].ToString())
                                                , ZumNet.Web.Bc.CommonUtils.StrHHmmss(row["OutTime"].ToString())
                                                , ZumNet.Web.Bc.CommonUtils.StrHHmmss(row["SecomInTime"].ToString())
                                                , ZumNet.Web.Bc.CommonUtils.StrHHmmss(row["SecomOutTime"].ToString())
                                                , temp[0].Split('^')[0], temp[0].Split('^')[1], temp[1], ZumNet.Web.Bc.CommonUtils.StrHour(lReal.ToString())
                                                , Convert.ToDateTime(row["WorkDate"]).ToString("M월 d일")
                                                , Convert.ToDateTime(row["WorkDate"]).ToString("M/d"), "특근");
                        }
                        else
                        {
                            q2 = data.Tables[2].Select("UserID = " + dr["UserID"].ToString() + " AND WorkDate = '" + row["WorkDate"].ToString() + "'");
                            if (q2 != null && q2.Length > 0)
                            {
                                string sEnd = "";
                                string sPrev = "";
                                string sSelect = "";

                                foreach (DataRow r in q2)
                                {
                                    string[] vTime = r["TOTIME"].ToString().Split(':');
                                    sEnd = (Convert.ToInt32(vTime[0]) < 5) ? Convert.ToDateTime(r["WorkDate"]).AddDays(1).ToString("yyyy-MM-dd") + " " + r["TOTIME"].ToString() : r["WorkDate"].ToString() + " " + r["TOTIME"].ToString();

                                    if (sPrev == "" || DateTime.Compare(Convert.ToDateTime(sEnd), Convert.ToDateTime(sPrev)) > 0)
                                    {
                                        //sSelect = r["MessageID"].ToString() + ";" + r["WorkDate"].ToString() + " " + r["FROMTIME"].ToString() + ";" + sEnd;
                                        sSelect = r["MessageID"].ToString() + ";" + r["FROMTIME"].ToString() + ";" + Convert.ToDateTime(sEnd).ToString("HH:mm");
                                    }

                                    sPrev = sEnd;
                                }

                                string[] temp = sSelect.Split(';');
                                if (DateTime.Compare(Convert.ToDateTime(row["OutTime"]), Convert.ToDateTime(Convert.ToDateTime(row["WorkDate"]).AddDays(1).ToString("yyyy-MM-dd") + " 00:00:00")) >= 0) //24시 이후
                                {
                                    if (Convert.ToDateTime(row["InTime"]).Hour < 9) { iN_pay_24 += 4; iN_24++; }
                                    else if (Convert.ToDateTime(row["InTime"]).Hour < 10) { iN_pay_24 += 3; iN_24++; }
                                }
                                else if (DateTime.Compare(Convert.ToDateTime(row["OutTime"]), Convert.ToDateTime(row["WorkDate"].ToString() + " 23:00:00")) >= 0) //23시 이후
                                {
                                    if (Convert.ToDateTime(row["InTime"]).Hour < 9) { iN_pay_23 += 3; iN_23++; }
                                    else if (Convert.ToDateTime(row["InTime"]).Hour < 10) { iN_pay_23 += 2; iN_23++; }
                                }
                                else if (DateTime.Compare(Convert.ToDateTime(row["OutTime"]), Convert.ToDateTime(row["WorkDate"].ToString() + " 22:00:00")) >= 0) //22시 이후
                                {
                                    if (Convert.ToDateTime(row["InTime"]).Hour < 9) { iN_pay_22 += 2; iN_22++; }
                                    else if (Convert.ToDateTime(row["InTime"]).Hour < 10) { iN_pay_22 += 0; iN_22++; }
                                }

                                sCol_day += String.Format("<button class=\"btn btn-warning btn-sm\" style=\"padding: 3px 5px; margin: 1px 4px 1px 0\" onclick=\"_zw.fn.viewWorkInfo('{0}', '{1}', '{2}', '{3}', '{4}', '{5}', '{6}', {7}, '{8} {10}');\">{9} {10}</button>"
                                                , ZumNet.Web.Bc.CommonUtils.StrHHmmss(row["InTime"].ToString())
                                                , ZumNet.Web.Bc.CommonUtils.StrHHmmss(row["OutTime"].ToString())
                                                , ZumNet.Web.Bc.CommonUtils.StrHHmmss(row["SecomInTime"].ToString())
                                                , ZumNet.Web.Bc.CommonUtils.StrHHmmss(row["SecomOutTime"].ToString())
                                                , temp[1], temp[2], temp[0], ZumNet.Web.Bc.CommonUtils.StrHour(lNight.ToString())
                                                , Convert.ToDateTime(row["WorkDate"]).ToString("M월 d일")
                                                , Convert.ToDateTime(row["WorkDate"]).ToString("MM-dd"), "야근");
                            }
                        }
                    }
                }

                sb.Append("<tr>");
                sb.AppendFormat("<td>{0}</td>", dr["UserDept"].ToString());
                sb.AppendFormat("<td>{0}</td>", (dr["UserGrade"].ToString() != "") ? dr["UserGrade"].ToString().Substring(0, 2) : "");
                sb.AppendFormat("<td>{0}</td>", dr["UserDN"].ToString());
                sb.AppendFormat("<td class=\"text-left\">{0}</td>", sCol_day);
                if (iN_22 > 0) sb.AppendFormat("<td>{0}회<br />{1}만원</td>", iN_22.ToString(), iN_pay_22);
                else sb.AppendFormat("<td>{0}</td>", "");
                if (iN_23 > 0) sb.AppendFormat("<td>{0}회<br />{1}만원</td>", iN_23.ToString(), iN_pay_23);
                else sb.AppendFormat("<td>{0}</td>", "");
                if (iN_24 > 0) sb.AppendFormat("<td>{0}회<br />{1}만원</td>", iN_24.ToString(), iN_pay_24);
                else sb.AppendFormat("<td>{0}</td>", "");

                if (iH_4 > 0) sb.AppendFormat("<td>{0}회<br />{1}만원</td>", iH_4.ToString(), (iH_4 * 4).ToString());
                else sb.AppendFormat("<td>{0}</td>", "");
                if (iH_6 > 0) sb.AppendFormat("<td>{0}회<br />{1}만원</td>", iH_6.ToString(), (iH_6 * 5).ToString());
                else sb.AppendFormat("<td>{0}</td>", "");
                if (iH_8 > 0) sb.AppendFormat("<td>{0}회<br />{1}만원</td>", iH_8.ToString(), (iH_8 * 6).ToString());
                else sb.AppendFormat("<td>{0}</td>", "");

                iSum = iN_pay_22 + iN_pay_23 + iN_pay_24 + (iH_4 * 4) + (iH_6 * 5) + (iH_8 * 6);
                if (iSum > 0) sb.AppendFormat("<td>{0}만원</td>", iSum.ToString());
                else sb.AppendFormat("<td>{0}</td>", "");

                sCol_day = "";
                lReal = 0;
                lNight = 0;
                iH_4 = 0;
                iH_6 = 0;
                iH_8 = 0;
                iN_22 = 0;
                iN_23 = 0;
                iN_24 = 0;
                iN_pay_22 = 0;
                iN_pay_23 = 0;
                iN_pay_24 = 0;
            }
        }
        else
        {
            sb.Append("<tr>");
            sb.AppendFormat("<th colspan=\"13\">{0}</th>", Resources.Global.NoItemShow);
            sb.Append("</tr>");
        }

        sb.Append("</tbody>");
        sb.Append("</table>");

        if (data != null) { data.Dispose(); data = null; }
        q = null;
        q2 = null;

        return sb.ToString();
    }

    #region [유틸]
    private string StrHoliday(DataRowCollection holiday, DateTime d)
    {
        if (holiday != null && holiday.Count > 0)
        {
            foreach (DataRow dr in holiday)
            {
                if (dr["Item2"].ToString() == "Y" && dr["ItemSubHandler"].ToString() == d.ToString("yyyyMMdd"))
                {
                    return dr["Item1"].ToString();
                }
            }
        }
        return "";
    }

    private string StrPlanType(bool holiday, string pt, string fld)
    {
        StringBuilder sb = new StringBuilder();


        if (holiday)
        {
            sb.Append(zfInput("휴일", fld, "", "", "center", true));
        }
        else
        {
            sb.AppendFormat("<select class=\"custom-select z-select\" data-zf-field=\"{0}\">", fld);
            sb.AppendFormat("<option value=\"{0}\">{0}</option>", "일반");
            sb.AppendFormat("<option value=\"{0}\">{0}</option>", "프로젝트");
            sb.AppendFormat("<option value=\"{0}\">{0}</option>", "재택");
            sb.Append("</select>");
        }


        return sb.ToString();
    }

    private string StrStatus(string ss, string fld)
    {
        StringBuilder sb = new StringBuilder();

        if (ss == "7")
        {
            sb.Append("승인");
        }
        else if (ss == "8")
        {
            sb.Append("재검토");
        }
        else
        {
            sb.AppendFormat("<select class=\"custom-select z-select\" data-zf-field=\"{0}\">", fld);
            //sb.AppendFormat("<option value=\"0\"{0}>{1}</option>", (ss == "0" ? " selected" : ""), "저장");
            sb.AppendFormat("<option value=\"1\"{0}>{1}</option>", (ss == "1" ? " selected" : ""), "승인대기");
            sb.AppendFormat("<option value=\"7\"{0}>{1}</option>", (ss == "7" ? " selected" : ""), "승인");
            sb.AppendFormat("<option value=\"8\"{0}>{1}</option>", (ss == "8" ? " selected" : ""), "재검토");
            sb.Append("</select>");
        }

        return sb.ToString();
    }

    public static string zfInput(string v)
    {
        return zfInput(v, "");
    }

    public static string zfInput(string v, string df)
    {
        return zfInput(v, df, "", "");
    }

    public static string zfInput(string v, string df, string id, string nm)
    {
        return zfInput(v, df, id, nm, "", false);
    }

    public static string zfInput(string v, string df, string id, string nm, string align, bool read)
    {
        df = (df != "") ? " data-zf-field=\"" + df + "\"" : "";
        id = (id != "") ? " id=\"" + id + "\"" : "";
        nm = (nm != "") ? " name=\"" + nm + "\"" : "";

        string sClass = "";
        if (align == "center") sClass = " text-center";
        else if (align == "right") sClass = " text-right";

        sClass += (read) ? " z-read" : "";

        return String.Format("<input type=\"text\" value=\"{0}\"{1}{2}{3} class=\"z-input{4}\"{5} />", v, df, id, nm, sClass, (read) ? " readonly" : "");
    }
    #endregion
}

@Html.Raw(ViewList(ViewBag.R.mode.ToString(), ViewBag.BoardList, ViewBag.Member, ViewBag.Holiday))