@using System.Data;

@{
    

}
<div class="messages-sidebox messages-scroll bg-body border-right">
    <div class="z-mobile-navbar"></div>

    <div class="pt-3 px-3">
        <div class="media align-items-center px-1">
            <div class="media-body">
            </div>
            <a href="javascript:void(0)" class="messages-sidebox-toggler d-none text-muted text-large font-weight-light pl-4">&times;</a>
        </div>
    </div>

    @*<hr class="border-light mx-4 mt-0 mb-1">*@

    @if (Session["UseWorkTime"].ToString() == "Y")
    {    
        <div id="__CalcWorkTime" class="mt-0 mb-2 mx-3 p-2 border rounded" style="background-color: rgba(24,28,33,0.01) !important">
            <div class="d-flex justify-content-between mb-1">
                <div class="text-facebook">@Resources.Global.WorkToday</div>
                <div><span class="text-primary" data-for="today"></span></div>
            </div>
            <div class="d-flex justify-content-between mb-1">
                <div class="text-facebook">@Resources.Global.WorkWeekAvg</div>
                <div><span class="text-primary" data-for="week"></span></div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="text-facebook">@Resources.Global.WorkMonthTotal</div>
                <div><span class="text-primary" data-for="month"></span></div>
            </div>
        </div>
    }

    <!-- sidebox tree -->
    <div id="__LeftMenu" class="sidenav-vertical z-lm">
        <ul class="sidenav-inner">

            

        </ul>
    </div>
    <!-- / sidebox tree -->
</div>




