@using System;
@using System.Data;
@using System.Data.SqlClient;
@using System.IO;
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using ZumNet.Web.Bc;
@using ZumNet.BSL.InterfaceBiz;
@using ZumNet.Framework.Core;
@using ZumNet.Framework.Data;
@using ZumNet.Framework.Exception;
@using ZumNet.Framework.Util;
@functions{
    private string GetTooling(JObject postData)
    {
        ServiceResult svcRt = new ServiceResult();
        StringBuilder sb = new StringBuilder();

        string strQuery = "";
        string strReturn = "";

        char _firstDel = (char)10;  //줄바꿈
        char _secondDel = (char)9;  //탭

        try
        {
            if (postData["k2"].ToString() == "CHECK_TAGNO")
            {
                #region [금형 태그번호 중복 확인]
                strQuery = "SELECT COUNT(*) FROM BFFLOWFORMS_CRESYN.admin.REGISTER_TOOLING (NOLOCK) WHERE TOOLING_TAGNO = @toolingtagno";
                SqlParameter[] parameters = new SqlParameter[]
                {
                    ParamSet.Add4Sql("@toolingtagno", SqlDbType.NVarChar, 30, postData["no"].ToString())
                };

                using (ExecuteBiz execBiz = new ExecuteBiz())
                {
                    svcRt = execBiz.ExecuteScalarQuery(strQuery, 30, parameters);
                }
                if (svcRt.ResultCode == 0)
                {
                    if (Convert.ToInt32(svcRt.ResultDataString) > 0) strReturn = "DU";
                    else strReturn = "OK";
                }
                else strReturn = svcRt.ResultMessage;
                #endregion
            }
            else if (postData["k2"].ToString() == "SEARCH_TAGNO")
            {
                #region [금형 태그번호 검색]
                strQuery = "SELECT TOOLING_NUMBER, TOOLING_TAGNO FROM BFFLOWFORMS_CRESYN.admin.REGISTER_TOOLING (NOLOCK) WHERE TOOLING_TAGNO LIKE '%" + postData["search"].ToString() + "%'";
                SqlParameter[] parameters = null;

                using (ExecuteBiz execBiz = new ExecuteBiz())
                {
                    svcRt = execBiz.ExecuteQuery(strQuery, 30, parameters);
                }
                if (svcRt.ResultCode == 0)
                {
                    sb.Append("<table class=\"table table-striped table-sm mb-0\">");
                    sb.Append("<colgroup><col style=\"width:50%\" /><col style=\"width:50%\" /></colgroup>");
                    sb.Append("<thead>");
                    sb.Append("<tr><th>금형번호</th><th>고객금형번호</th></tr>");
                    sb.Append("</thead>");
                    sb.Append("<tbody>");
                    if (svcRt.ResultDataSet.Tables != null && svcRt.ResultDataSet.Tables[0].Rows.Count > 0)
                    {
                        foreach(DataRow row in svcRt.ResultDataSet.Tables[0].Rows)
                        {
                            sb.Append("<tr>");
                            sb.AppendFormat("<td class=\"text-break\"><span>{0}</span></td>", row["TOOLING_NUMBER"].ToString());
                            sb.AppendFormat("<td class=\"text-break\"><span>{0}</span></td>", row["TOOLING_TAGNO"].ToString().Replace(postData["search"].ToString(), "<span class=\"text-success\">" + postData["search"].ToString() + "</span>"));
                            sb.Append("</tr>");
                        }
                    }
                    else
                    {
                        sb.AppendFormat("<tr><td colspan=\"2\" class=\"text-center\">{0}</td></tr>", Resources.Global.NoItemShow);
                    }
                    sb.Append("</tbody>");
                    sb.Append("</table>");
                }
                else
                {
                    //sb.AppendFormat("<div class=\"text-center mt-3 h5 text-secondary\">{0}</div>", svcRt.ResultMessage);
                    strReturn = svcRt.ResultMessage;
                }
                #endregion
            }
            else if (postData["k1"].ToString() == "HISTORY")
            {
                #region [금형 이력 정보 보기]
                strQuery = "SELECT * FROM BFFLOWFORMS_CRESYN.admin.ph_VIEW_REGISTER_TOOLING_HISTORY (NOLOCK) WHERE TOOLINGNUMBER = @toolingno ORDER BY ActDate DESC, PIStart DESC";

                SqlParameter[] parameters = new SqlParameter[]
                {
                    ParamSet.Add4Sql("@toolingno", SqlDbType.VarChar, 20, postData["mi"].ToString())
                };

                using (ExecuteBiz execBiz = new ExecuteBiz())
                {
                    svcRt = execBiz.ExecuteQuery(strQuery, 30, parameters);
                }
                if (svcRt.ResultCode == 0)
                {
                    sb.Append("<div class=\"container-sm mt-5\">");
                    sb.Append("<table class=\"table table-bordered mb-0\">");
                    sb.Append("<colgroup><col style=\"width:12%\" /><col style=\"width:12%\" /><col style=\"width:10%\" /><col style=\"width:43%\" /><col style=\"width:23%\" /></colgroup>");
                    sb.Append("<thead>");
                    sb.Append("<tr class=\"table-success text-center\"><th>등록</th><th>완료</th><th>구분</th><th>내용</th><th>관련문서</th></tr>");
                    sb.Append("</thead>");
                    sb.Append("<tbody>");
                    if (svcRt.ResultDataSet.Tables != null && svcRt.ResultDataSet.Tables[0].Rows.Count > 0)
                    {
                        string strValue = "";
                        foreach (DataRow row in svcRt.ResultDataSet.Tables[0].Rows)
                        {
                            sb.Append("<tr>");
                            sb.AppendFormat("<td class=\"text-center text-break\"><span>{0}</span></td>", ZumNet.Web.Bc.CommonUtils.LvDate(row["ActDate"].ToString()));

                            strValue = row["PIEnd"].ToString() == "" ? DateHelper.CheckDateTime(row["PIStart"].ToString(), "yy-MM-dd") : DateHelper.CheckDateTime(row["PIEnd"].ToString(), "yy-MM-dd");
                            sb.AppendFormat("<td class=\"text-center text-break\"><span>{0}</span></td>", strValue);

                            if (row["ActType"].ToString() == "NEW") strValue = "신작";
                            else if (row["ActType"].ToString() == "ADD") strValue = "증작";
                            else if (row["ActType"].ToString() == "DISUSE") strValue = "폐기";
                            else if (row["ActType"].ToString() == "REPAIR") strValue = "수리";
                            else if (row["ActType"].ToString() == "MODIFY") strValue = "수정";
                            else if (row["ActType"].ToString() == "MOVE") strValue = "이관";
                            else if (row["ActType"].ToString() == "SALES") strValue = "판매";
                            else if (row["ActType"].ToString() == "TRY") strValue = "TRY";
                            else if (row["ActType"].ToString() == "WRITE") strValue = "작성";
                            else if (row["ActType"].ToString() == "EDIT") strValue = "편집";
                            else strValue = "&nbsp;";
                            sb.AppendFormat("<td class=\"text-center text-break\"><span>{0}</span></td>", strValue);


                            sb.AppendFormat("<td class=\"text-break\"><span>일자 : {0}{1}</span></td>"
                                    , DateHelper.CheckDateTime(row["ActDate"].ToString()), row["ActPlace"].ToString());

                            if (row["ActType"].ToString() == "WRITE" || row["ActType"].ToString() == "EDIT")
                            {
                                sb.Append("<td></td>");
                            }
                            else
                            {
                                strValue = row["DocNumber"].ToString() == "" ? "관련문서" : row["DocNumber"].ToString();
                                sb.AppendFormat("<td class=\"text-break z-list\"><a class=\"z-lnk-navy\" target=\"_blank\" href=\"javascript:\" onclick=\"_zw.fn.openEAFormSimple('{0}');\">{1}</a></td>"
                                        , row["MessageID"].ToString(), strValue);
                            }
                            sb.Append("</tr>");
                            strValue = "";
                        }
                    }
                    else
                    {
                        sb.AppendFormat("<tr><td colspan=\"5\" class=\"text-center\">{0}</td></tr>", Resources.Global.NoItemShow);
                    }
                    sb.Append("</tbody>");
                    sb.Append("</table>");
                    sb.Append("</div>");
                }
                else
                {
                    strReturn = svcRt.ResultMessage;
                }

                #endregion
            }
            else if (postData["k2"].ToString() == "TOOLING_DATA")
            {
                #region [결재양식에서 선택한 금형 데이터 가져오기]
                if (postData["mi"].ToString() == "" || postData["mi"].ToString() == "0" || postData["xf"].ToString() == "")
                {
                    strReturn = "필수항목 누락!";
                }
                else
                {
                    DataSet dsForm = null;
                    using (ZumNet.DAL.FlowDac.EApprovalDac eaDac = new ZumNet.DAL.FlowDac.EApprovalDac())
                    {
                        dsForm = eaDac.SelectFormDataNotEA(postData["mi"].ToString(), postData["xf"].ToString(), postData["fi"].ToString());
                    }

                    if (dsForm != null && dsForm.Tables.Count > 0)
                    {
                        //금형번호,모델,부품,보유처,소유처,설치장소,cavity,사용실적,수명만기,제작완료일
                        for (int i = 0; i < dsForm.Tables.Count; i++)
                        {
                            DataTable dt = dsForm.Tables[i];
                            if (i == 0)
                            {
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["TOOLING_NUMBER"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["STORE_PLACE_NAME"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["STORE_PLACE_ID"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["STORE_PLACE_SITEID"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["OWNER_NAME"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["OWNER_ID"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["OWNER_SITEID"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["SETUP_PLACE"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["CAVITY"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["SHOT"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["EXPIRATION_SHOT"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["COMPLETE_DATE"].ToString(), _secondDel);

                                sb.AppendFormat("{0}{1}", dt.Rows[0]["BUYER_NAME"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["BUYER_ID"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["BUYER_SITEID"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["MAKE_SUPPLIER_NAME"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["MAKE_SUPPLIER_ID"].ToString(), _secondDel);
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["MAKE_SUPPLIER_SITEID"].ToString(), _secondDel);

                                sb.AppendFormat("{0}{1}", dt.Rows[0]["CMN_TYPE"].ToString(), _secondDel);   //2011-10-06 추가
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["ORG_NAME"].ToString(), _secondDel);   //2014-12-10 추가
                                sb.AppendFormat("{0}{1}", (dt.Rows[0]["MAKE_FROM"].ToString() != "" ? Convert.ToDateTime(dt.Rows[0]["MAKE_FROM"]).ToString("yyyy-MM-dd") : ""), _secondDel);   //2014-12-10 추가
                                sb.AppendFormat("{0}{1}", (dt.Rows[0]["MAKE_TO"].ToString() != "" ? Convert.ToDateTime(dt.Rows[0]["MAKE_TO"]).ToString("yyyy-MM-dd") : ""), _secondDel);   //2014-12-10 추가

                                sb.AppendFormat("{0}{1}", dt.Rows[0]["CAVITYA"].ToString(), _secondDel); //2019-10-08 추가
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["ABLCAVITYA"].ToString(), _secondDel); //2019-10-08 추가
                                sb.AppendFormat("{0}{1}", dt.Rows[0]["ABLCAVITY"].ToString(), _secondDel); //2019-10-08 추가

                                sb.Append(_firstDel);
                            }
                            else
                            {
                                foreach (DataRow row in dt.Rows)
                                {
                                    if (row["CLSNAME"].ToString() == "pdmmodel" || row["CLSNAME"].ToString() == "pdmpart")
                                    {
                                        sb.AppendFormat("{1}{0}{2}{0}{3}{0}{4}", _secondDel, row["CLSNAME"].ToString(), row["PDMOID"].ToString(), row["PNUMBER"].ToString(), row["SUBJECT"].ToString());
                                        sb.Append(_firstDel);
                                    }
                                }
                            }
                        }
                    }
                    else
                    {
                        strReturn = "해당 데이타가 없습니다!";
                    }
                }
                #endregion
            }
            else
            {
                strReturn = "해당 조건이 누락됐습니다!";
            }
            if (strReturn == "") strReturn = "OK" + sb.ToString();
        }
        catch (Exception ex)
        {
            ExceptionManager.Publish(ex, ExceptionManager.ErrorLevel.Error, "GetTooling");
            strReturn = (strReturn != "" ? "[" + strReturn + "] " : "") + ex.Message;
        }
        finally
        {
        }

        return strReturn;
    }
}
@Html.Raw(GetTooling(ViewBag.JPost))