@{

}
<div class="d-flex d-sm-none align-items-center justify-content-center mb-2">
    <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle"><i class="fas fa-arrow-left"></i></button>
    <span class="text-big font-weight-bold mx-3">2월 14 ~ 20</span>
    <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle"><i class="fas fa-arrow-right"></i></button>
</div>

<div class="d-flex align-items-center">
    <ul class="nav nav-tabs col-4 col-sm-4 px-0 text-truncate">
        <li class="nav-item">
            <a class="nav-link active px-2 px-sm-4" href="#">주간</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 px-sm-4" href="#">월간</a>
        </li>
    </ul>

    <div class="d-none d-sm-flex col-4 col-sm-4 justify-content-center align-items-center">
        <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle"><i class="fas fa-arrow-left"></i></button>
        <span class="text-big font-weight-bold mx-3">2월 14 ~ 20</span>
        <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle"><i class="fas fa-arrow-right"></i></button>
    </div>

    <ul class="nav d-flex justify-content-end col-8 col-sm-4 px-0 text-truncate">
        <li class="nav-item mr-2"><i class="far fa-check-square fs-16 text-light"></i> 미확인</li>
        <li class="nav-item mr-2"><i class="fas fa-check-square fs-16"></i> 확인</li>
        <li class="nav-item mr-2"><i class="fas fa-check-square fs-16 text-success"></i> 완료</li>
        <li class="nav-item mr-2"><i class="fas fa-exclamation-triangle fs-16 text-secondary"></i> 보류</li>
    </ul>

    @*<ul class="nav d-flex justify-content-end col-8 col-sm-4 px-0 text-truncate">
        <li class="nav-item mr-2"><i class="far fa-check-square fs-16 text-light"></i> 시작전</li>
        <li class="nav-item mr-2"><i class="fas fa-check-square fs-16 text-warning"></i> 진행중</li>
        <li class="nav-item mr-2"><i class="fas fa-check-square fs-16 text-success"></i> 완료</li>
        <li class="nav-item mr-2"><i class="fas fa-check-square fs-16 text-danger"></i> 지연</li>
    </ul>*@
</div>
