alter                      PROCEDURE [admin].[ph_up_BFGetEAFormList]
(
	@domainid			TINYINT
)

AS
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
-- 하는일 : 결재 양식 조회
-- 실   행 : 
/*
	EXEC admin.ph_up_BFGetEAFormList 1
		
	SELECT * FROM admin.PH_EA_CLASS
	SELECT * FROM admin.PH_EA_FORMS
*/
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED


SELECT	FormID, ClassID, DocName, MainTable, Version
	, (CASE WHEN Usage = 9 THEN 'N' ELSE 'Y' END) AS Usage
	, ISNULL(Reserved1, '') AS 'Reserved1'
	, ISNULL(Reserved2, '') AS 'Reserved2'
	, Usage as UsageOrg
FROM admin.PH_EA_FORMS WITH(NOLOCK)
where classid = 1008
ORDER BY DocName, Version





