@using System;
@using System.Data;
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using ZumNet.Framework.Core;
@using ZumNet.Framework.Util;
@functions{
    private string RenderAttachedFile()
    {
        ServiceResult svcRt = new ServiceResult();
        StringBuilder sb = new StringBuilder();

        char cDel = (char)8;
        string strReturn = "";

        try
        {
            //sb.Append("<div class=\"zf-modal modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm\">");
            //sb.AppendFormat("<div class=\"modal-content\" style=\"box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5)\">");
            //sb.Append("<div class=\"modal-header\">");
            //sb.Append("<h6 class=\"modal-title\"></h6>");
            //sb.Append("<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>");
            //sb.Append("</div>");
            //sb.Append("<div class=\"modal-body\">"); //modal-body

            using (ZumNet.BSL.ServiceBiz.CommonBiz comBiz = new ZumNet.BSL.ServiceBiz.CommonBiz())
            {
                svcRt = comBiz.GetAttachFileInfo(Convert.ToInt16(Session["DNID"]), Convert.ToInt32(ViewBag.JPost["mi"].ToString()), ViewBag.JPost["xf"].ToString());
            }

            if (svcRt.ResultCode == 0)
            {
                if (svcRt.ResultItemCount > 0)
                {
                    sb.Append("<table class=\"table table-striped table-sm mb-0\">");
                    sb.Append("<colgroup><col width=\"85%\" /><col width=\"15%\" /></colgroup>");
                    sb.Append("<tbody>");
                    foreach (DataRow row in svcRt.ResultDataSet.Tables[0].Rows)
                    {
                        JObject jTemp = JObject.Parse("{}");
                        jTemp["fi"] = row["AttachID"].ToString();
                        jTemp["filename"] = row["FileName"].ToString();
                        jTemp["savedname"] = row["SavedName"].ToString();
                        jTemp["filepath"] = row["FilePath"].ToString();

                        sb.Append("<tr>");
                        sb.AppendFormat("<td><a class=\"z-lnk-navy\" href=\"/Common/DownloadV?fn={0}&fp={1}\" target=\"_blank\">{2}</a></td>"
                                , Server.UrlEncode(SecurityHelper.ToBase64(row["FileName"].ToString()))
                                , Server.UrlEncode(SecurityHelper.ToBase64(row["FilePath"].ToString() + "\\" + row["SavedName"].ToString()))
                                , row["FileName"]);
                        sb.AppendFormat("<td class=\"text-center\"><button type=\"button\" class=\"btn btn-default btn-sm\" data-zm-menu=\"select\" fi=\"{1}\" xf=\"{2}\" fn=\"{3}\" fp=\"{4}\">{0}</button></td>"
                                    , Resources.Global.Select, row["AttachID"].ToString(), "attachfile", Server.UrlEncode(row["FileName"].ToString()).Replace("+", "%20")
                                    , Server.UrlEncode(row["FilePath"].ToString().Replace('\\', '/') + "/" + row["SavedName"].ToString()).Replace("+", "%20"));
                        sb.Append("</tr>");
                    }
                    sb.Append("</tbody>");
                    sb.Append("</table>");
                }
                else
                {
                    sb.AppendFormat("<div class=\"text-center mt-3 h5 text-secondary\">{0}</div>", Resources.Global.NoItemShow);
                }
            }
            else
            {
                strReturn = svcRt.ResultMessage;
            }

            //sb.Append("</div>"); //modal-body
            //sb.Append("</div>"); //content
            //sb.Append("</div>");

            if (strReturn == "") strReturn = "OK" + svcRt.ResultItemCount.ToString() + cDel + sb.ToString();
        }
        catch (Exception ex)
        {
            strReturn = ex.Message;
        }

        return strReturn;
    }
}
@Html.Raw(RenderAttachedFile())