@using System.Data;
@using System.Text;

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

@{
    string sDesc = "";
    DateTime dtSearch = Convert.ToDateTime(ViewBag.JPost["dt"]);

    sDesc = (dtSearch.Year == DateTime.Now.Year ? "" : dtSearch.Year.ToString() + "년 ") + dtSearch.Month.ToString() + "월 " + dtSearch.Day.ToString() + "일";
}
@functions{
    private string RenderResourceSchedule(string folderId, string targetDate)
    {
        StringBuilder sb = new StringBuilder();
        ZumNet.Framework.Core.ServiceResult svcRt = null;

        try
        {
            using (ZumNet.BSL.ServiceBiz.ScheduleBiz schBiz = new ZumNet.BSL.ServiceBiz.ScheduleBiz())
            {
                svcRt = schBiz.GetScheduleSearchParts(Convert.ToInt32(Session["DNID"]), folderId, targetDate, targetDate);
            }

            sb.Append("<div>");
            sb.Append("<table>");
            sb.Append("<thead>");
            sb.Append("<tr>"); //시간 표시
            sb.Append("</tr>");
            sb.Append("</thead>");

            sb.Append("<tbody>");
            sb.Append("<tr>"); //상단 표시
            sb.Append("</tr>");


            if (svcRt != null && svcRt.ResultCode == 0 && svcRt.ResultDataSet.Tables.Count > 0 && svcRt.ResultDataSet.Tables[0].Rows.Count > 0)
            {
                foreach(DataRow row in svcRt.ResultDataSet.Tables[0].Rows)
                {

                }
            }
            else
            {
                //빈칸
            }
            sb.Append("<tr>"); //하단 표시
            sb.Append("</tr>");
            sb.Append("</tbody>");
            sb.Append("</table>");
            sb.Append("</div>");
        }
        catch(Exception ex)
        {
            return ex.Message;
        }

        return sb.ToString();
    }


}

@if (ViewBag.JPost["res"].Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr class="">
                <th class="text-center" style="width: 20%">자원명</th>
                <th>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle" data-zv-menu="prev"><i class="fas fa-arrow-left"></i></button>
                        <span class="text-big font-weight-bold mx-3" data-for="DateDesc" data-val="@ViewBag.JPost["dt"]">@sDesc</span>
                        <button class="btn btn-outline-primary icon-btn btn-sm rounded-circle" data-zv-menu="next"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (JObject j in ViewBag.JPost["res"])
        {
            <tr>
                <th>@j["name"]</th>
                <td>

                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="p-4 text-muted text-center h5">@Resources.Global.NoItemShow</div>
}
