@using System.Collections;
@using System.Data;
@using System.Text;

@using Newtonsoft.Json;
@using ZumNet.Framework.Util;

@{
    ConfigColumn(ViewBag.Mode);

    //Response.Write("-----------------------------" + ViewBag.BoardList.Tables[0].Rows.Count.ToString());
}

@functions {
    string[,] _columnConfig = null;
    private void ConfigColumn(string mode)
    {
        //컬럼 : id,표기,넓이,위치,검색여부,정렬여부
        string[,] arr = { { "SEQ", "순번", "4%", "", "", "" }, { "MODEL", "모델번호", "10%", "", "", "" }, { "BUYER", "고객", "10%", "", "", "" }
                        , { "_CHECK_", "", "2%", "", "", "" }, { "XCLS", "구분", "5%", "", "", "" }, { "SUBJECT", "시트명", "15%", "L", "", "" }
                        , { "CORP", "생산지", "5%", "", "", "" }, { "ITEMCLS", "품목분류", "6%", "", "", "" }, { "VER", "버전", "4%", "", "", "" }
                        , { "STATE", "상태", "5%", "", "", "" }, { "CRNM", "작성자", "7%", "", "", "" }, { "CRDPT", "작성부서", "11%", "", "", "" }
                        , { "CRDT", "작성일자", "8%", "", "", "" }, { "COMPDT", "완료일자", "8%", "", "", "" }
                    };
        this._columnConfig = arr;
    }

    private string RenderColumnHeader(string mode, string sortCol, string sortType)
    {
        if (_columnConfig != null)
        {
            string sBlind = " d-none";
            string sSortIcon = "";

            StringBuilder sb = new StringBuilder();
            //sb.Append("<table class=\"table table-hover table-sm mb-0\">"):

            sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
            }
            sb.Append("</colgroup>");

            sb.Append("<thead><tr class=\"\">");
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                if (_columnConfig[i, 5].ToString() == "Y")
                {
                    sBlind = (sortCol == _columnConfig[i, 0].ToString()) ? "" : " d-none";
                    sSortIcon = (sortCol == _columnConfig[i, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";

                    sb.AppendFormat("<th class=\"sortable text-truncate\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[i, 0].ToString(), _columnConfig[i, 1].ToString(), sSortIcon, sBlind);
                }
                else
                {
                    sb.AppendFormat("<th class=\"text-truncate\">{0}</th>", _columnConfig[i, 1].ToString());
                }
            }
            sb.Append("</tr></thead>");
            //sb.Append("</table>");
            return sb.ToString();
        }
        else
        {
            return "";
        }
    }

    private string RenderExcelColumnHeader()
    {
        if (_columnConfig != null)
        {
            StringBuilder sb = new StringBuilder();
            sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
            }
            sb.Append("</colgroup>");

            sb.Append("<tr class=\"col-header\">");
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                sb.AppendFormat("<td style=\"text-align:center;background:#d1dae7;color:#175d7f\">{0}</td>", _columnConfig[i, 1].ToString());
            }
            sb.Append("</tr>");

            return sb.ToString();
        }
        else
        {
            return "";
        }
    }

    private string RenderColumnGroup()
    {
        if (_columnConfig != null)
        {
            StringBuilder sb = new StringBuilder();
            sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
            }
            sb.Append("</colgroup>");
            return sb.ToString();
        }
        else
        {
            return "";
        }
    }

    private string ViewList(string mode, DataSet data, string sortCol, string sortType)
    {
        StringBuilder sb = new StringBuilder();
        sb.Append("<table class=\"table table-hover table-sm mb-0\">");
        if (mode == "xls") sb.Append(RenderExcelColumnHeader());
        else sb.Append(RenderColumnHeader(mode, sortCol, sortType));

        sb.Append("<tbody>");
        if (data != null && data.Tables.Count > 0 && data.Tables[0].Rows.Count > 0)
        {
            string strID = "";
            string strValue = "";
            string strStatus = "";
            string sRowSpan = "";
            int iSeq = 1;

            DataRow[] p = null;
            DataRow[] q = null;

            foreach (DataRow row in data.Tables[0].Rows)
            {
                //p = data.Tables[1].Select("MODEL = '" + row["model"].ToString() + "' AND BUYER = '" + row["buyer"].ToString() + "' AND CORP = '" + row["corp"].ToString() + "'", "CRBDT DESC");
                //q = data.Tables[1].Select("MODEL = '" + row["model"].ToString() + "' AND BUYER = '" + row["buyer"].ToString() + "'", "PNTCEID DESC, ORGCEID DESC, SEQ DESC");
                q = data.Tables[1].Select("MODEL = '" + row["model"].ToString() + "' AND BUYER = '" + row["buyer"].ToString() + "'", "CLSSORT, CRDT DESC");

                sRowSpan = q != null && q.Length > 0 ? " rowspan=\"" + q.Length.ToString() + "\"" : "";

                sb.AppendFormat("<tr aria-level=\"{0}\">", iSeq.ToString());
                sb.AppendFormat("<th{0}>{1}</th>", sRowSpan, iSeq.ToString());
                sb.AppendFormat("<td{0}>{1}</td>", sRowSpan, row["model"].ToString());
                sb.AppendFormat("<td{0}>{1}</td>", sRowSpan, row["buyer"].ToString());
                //sb.AppendFormat("<td{0}>{1}</td>", sRowSpan, row["corp"].ToString());

                if (q != null && q.Length > 0)
                {
                    for (int x = 0; x < q.Length; x++)
                    {
                        DataRow dr = q[x];

                        if (x > 0) sb.AppendFormat("<tr aria-level=\"{0}\">", iSeq.ToString());

                        for (int i = 3; i < _columnConfig.GetLength(0); i++)
                        {
                            strID = _columnConfig[i, 0].ToString();

                            if (strID == "CRDT" || strID == "MFDT" || strID == "PUBDT" || strID == "COMPDT")
                            {
                                strValue = ZumNet.Web.Bc.CommonUtils.CheckDateTime(dr[strID].ToString(), "MM-dd HH:mm", "");
                            }
                            else if (strID == "XCLS")
                            {
                                strValue = dr[strID].ToString();
                                if (strValue == "ALL") strValue = "<strong class=\"text-danger\">집계</strong>";

                            }
                            //else if (strID == "ITEMCLS")
                            //{
                            //    strValue = dr[strID].ToString();// +" : " + dr["PNTCEID"].ToString();
                            //    //strValue = String.Format("<a href=\"Grid.aspx?app={0}\" title=\"{1}\">{2}</a>", dr["CEID"].ToString(), Server.HtmlEncode(strValue), strValue);
                            //    //strValue = String.Format("<a href=\"Grid.aspx?app={0}&pnt={1}\" title=\"{2}\">{3}</a>", dr["CEID"].ToString(), dr["PNTCEID"].ToString(), Server.HtmlEncode(strValue), strValue);
                            //    strValue = String.Format("<a href=\"Grid.aspx?app={0}&lv={1}\" title=\"{2}\">{3}</a>", dr["CEID"].ToString(), Utility.ToBase64(Master.CurrentPage, ""), Server.HtmlEncode(strValue), strValue);

                            //}
                            else if (strID == "SUBJECT")
                            {
                                if (Convert.ToInt16(dr["NESTEDCNT"]) > 0) strStatus = String.Format(" <span class=\"text-peru\">({0})</span>", dr["NESTEDCNT"].ToString());
                                //else if (dr["XCLS"].ToString() != "ALL") strStatus = String.Format(" <span class=\"text-warning\"><i class=\"glyphicon glyphicon-star-empty\"></i></span>");
                                else strStatus = "";

                                strValue = dr[strID].ToString();
                                strValue = String.Format("<a class=\"z-lnk-navy\" href=\"javascript:void(0)\" data-query=\"{0}\" title=\"{1}\">{2}{3}</a>", GridQuery("read", dr["CEID"].ToString())
                                    , Server.HtmlEncode(strValue + (dr["XCLS"].ToString() != "ALL" && Convert.ToInt16(dr["NESTEDCNT"]) == 0 && Convert.ToInt32(dr["VER"].ToString()) > 1 ? " (개정판)" : "")), strValue, strStatus);

                                if (dr["XCLS"].ToString() == "ALL")
                                {
                                    strValue += String.Format("<button type=\"button\" class=\"btn btn-facebook zf-btn-xs ml-1\" aria-expanded=\"false\" value=\"{0}\"><i class=\"fas fa-plus\"></i></button>", dr["CEID"].ToString());
                                }
                                else
                                {
                                    if (Convert.ToInt16(dr["NESTEDCNT"]) == 0 && Convert.ToInt32(dr["VER"].ToString()) > 1) strValue += String.Format(" <span class=\"text-peru\"><i class=\"fas fa-book-medical\"></i></span>");
                                }
                            }
                            else if (strID == "STATE")
                            {
                                strValue = dr[strID].ToString();
                                //if (dr["REQSTATE"].ToString() == "6") strValue = "재검토";
                                if (strValue == "7") strValue = "완료";
                                else if (strValue == "1") strValue = "진행중";
                                else if (strValue == "8") strValue = "<strong class=\"text-danger\">반려</strong>";
                                else if (strValue == "9") strValue = "<strong class=\"text-muted\">임시</strong>";
                                else strValue = "작성";
                            }
                            else if (strID == "_CHECK_")
                            {
                                //if (dr["XCLS"].ToString() != "ALL" && dr["ISLAST"].ToString() == "Y" && dr["REQSTATE"].ToString() == "0" && (dr["PNTSTATE"].ToString() == "0" || dr["PNTSTATE"].ToString() == "9"))
                                //{
                                //    strValue = String.Format("<input type=\"checkbox\" aria-posinset=\"{0}\" value=\"{1}\" style=\"\" />", iSeq.ToString(), dr["CEID"].ToString());
                                //}
                                //else
                                //{
                                //    if (dr["XCLS"].ToString() == "ALL") strValue = "<span class=\"text-danger\"><i class=\"glyphicon glyphicon-record\"></i></span>";
                                //    else if (dr["ISLAST"].ToString() == "Y" && dr["PNTSTATE"].ToString() != "0" && dr["PNTSTATE"].ToString() != "0" && dr["PNTSTATE"].ToString() != "9") strValue = "&#9495;"; //"&#8680;";
                                //    //else if (dr["XCLS"].ToString() == "") strValue = "<span class=\"text-danger\">&#9484;</span>";
                                //    else strValue = "";
                                //}

                                if (dr["XCLS"].ToString() == "ALL")
                                {
                                    if (dr["STATE"].ToString() == "0" && (ViewBag.R.current["operator"].ToString() == "Y" || StringHelper.HasAcl(ViewBag.R.current["acl"].ToString(), "M"))) strValue = String.Format("<input type=\"checkbox\" aria-posinset=\"{0}\" value=\"{1}\" data-toggle=\"{2}\" style=\"\" />", iSeq.ToString(), dr["CEID"].ToString(), "reqApproval");
                                    else if (dr["STATE"].ToString() == "8") strValue = "<span class=\"text-danger\"><i class=\"fas fa-redo\" style=\"top: 3px\"></i></span>";
                                    else strValue = "<span class=\"text-danger\"><i class=\"fe-send\" style=\"top: 3px\"></i></span>";
                                }
                                else
                                {
                                    if (ViewBag.R.current["operator"].ToString() == "Y" || StringHelper.HasAcl(ViewBag.R.current["acl"].ToString(), "M")) strValue = String.Format("<input type=\"checkbox\" aria-posinset=\"{0}\" value=\"{1}\" data-toggle=\"{2}\" style=\"\" />", iSeq.ToString(), dr["CEID"].ToString(), "reportGrid");
                                    else strValue = "";
                                }
                            }
                            else
                            {
                                strValue = dr[strID].ToString();
                            }

                            //sb.AppendFormat("<td{1}>{0}</td>", strValue, dr["ISLAST"].ToString() != "Y" || dr["REQSTATE"].ToString() == "6" || dr["DELDT"].ToString() != "" ? " class=\"text-dim\"" : "");

                            sb.AppendFormat("<td style=\"{0}\">{1}</td>", _columnConfig[i, 3].ToString() == "L" ? "text-align: left" : "", strValue);
                        }
                        sb.Append("</tr>");
                    }

                    iSeq++;
                }
                else
                {
                    for (int i = 3; i < _columnConfig.GetLength(0); i++)
                    {
                        sb.Append("<td></td>");
                    }
                    sb.Append("</tr>");
                }
                p = null;
                q = null;
            }
        }
        else
        {
            sb.Append("<tr>");
            sb.AppendFormat("<th colspan=\"{0}\" class=\"py-3\">{1}</th>", _columnConfig.GetLength(0), Resources.Global.NoItemShow);
            sb.Append("</tr>");
        }
        sb.Append("</tbody>");
        sb.Append("</table>");

        if (data != null) { data.Dispose(); data = null; }
        return sb.ToString();
    }

    private string GridQuery(string m, string appId)
    {
        return "?qi=" + Server.UrlEncode(ZumNet.Framework.Util.SecurityHelper.ToBase64("{M:\"" + m + "\",ct:\"" + ViewBag.R.ct + "\",ctalias:\"" + ViewBag.R.ctalias + "\",ttl:\"\",opnode:\"\",ft:\"Grid\",appid:\"" + appId + "\"}"));
    }
}

@*<div class="z-list-head mb-0 px-0">
    @Html.Raw(RenderColumnHeader(ViewBag.Mode, ViewBag.R.lv.sort.ToString(), ViewBag.R.lv.sortdir.ToString()))
</div>*@
<div class="z-list-body">
    @Html.Raw(ViewList(ViewBag.Mode, ViewBag.BoardList, ViewBag.R.lv.sort.ToString(), ViewBag.R.lv.sortdir.ToString()))
</div>