@using System.Collections;
@using System.Data;
@using System.Text;
@using System.Threading;
@using ZumNet.Web.Bc;
@using ZumNet.Framework.Util;
@{
    //string strReturn = DateTime.Now.ToString("MM-dd-yyyy");
    //Response.Write(strReturn);
    if (ViewBag.Mode.ToString() == "xls")
    {
        ExcelBind(RenderExcelData(ViewBag.Mode, ViewBag.BoardList), ViewBag.R["opnode"].ToString());
        Response.End();
    }
}
@functions{
    private string ViewStdPay(string mode, DataSet ds)
    {
        DataRow row = null;
        DataTable dtItems = null;
        //DataRowCollection rowItems = null;
        DataRow[] q = null;

        decimal dVal = 0;
        decimal dVal2 = 0;
        string sVal = "";
        string sVal2 = "";

        if (ds != null && ds.Tables.Count > 0 && ds.Tables[0].Rows.Count > 0)
        {
            row = ds.Tables[0].Rows[0];
            //Master.GridData = ds.Tables[1];
            dtItems = ds.Tables[1];
        }
        if (ds != null) { ds.Dispose(); ds = null; }

        StringBuilder sb = new StringBuilder();
        sb.Append("<div class=\"mt-3\">");
        sb.Append("<table class=\"table table-bordered table-sm mb-0\">");
        sb.Append("<tbody>");
        sb.Append("<tr>");
        sb.Append("<th style=\"width: 15%\">적용시점</th>");
        if (mode == "new" || mode == "reuse" || mode == "edit")
        {
            string sCurrentLocale = Thread.CurrentThread.CurrentUICulture.Name;
            string sSTDDT = "";
            if (sCurrentLocale == "en-US") sSTDDT = mode == "new" || mode == "reuse" ? DateTime.Now.ToString("MM/01/yyyy") : Convert.ToDateTime(row["STDDT"]).ToString("MM/dd/yyyy");
            else sSTDDT = mode == "new" || mode == "reuse" ? DateTime.Now.ToString("yyyy-MM-01") : Convert.ToDateTime(row["STDDT"]).ToString("yyyy-MM-dd");

            sb.AppendFormat("<td class=\"\" style=\"width: 35%; color: #8a6d3b\"><input type=\"text\" class=\"datepicker form-control text-center\" data-zf-field=\"STDDT\" data-inputmask=\"date;yyyy-MM-dd\" value=\"{0}\" /></td>", sSTDDT);
        }
        else
        {
            sb.AppendFormat("<td class=\"\" style=\"width: 35%; color: #8a6d3b\"><strong>{0}</strong><input type=\"hidden\" data-zf-field=\"STDDT\" value=\"{1}\" /></td>", Convert.ToDateTime(row["STDDT"]).ToString("yyyy年 MM月 dd日 부터"), Convert.ToDateTime(row["STDDT"]).ToString("yyyy-MM-dd"));
        }

        sb.Append("<td style=\"width: 15%\">작성자</td>");
        if (mode == "new" || mode == "reuse")
        {
            sb.AppendFormat("<td>{0} {1}</td>", Session["DeptName"].ToString(), Session["URName"].ToString());
        }
        else
        {
            sb.AppendFormat("<td>{0} {1}</td>", row["CRDPT"].ToString(), row["CRNM"].ToString());
        }
        sb.Append("</tr>");
        sb.Append("<tr>");
        sb.Append("<th>구분</th>");
        if (mode == "new" || mode == "reuse" || mode == "edit")
        {
            sb.Append("<td><select class=\"custom-select\" data-zf-field=\"XCLS\">");
            sb.AppendFormat("<option value=\"\"{0}>선택</option>", (mode == "edit" && row["XCLS"].ToString() == "") ? " selected" : "");
            sb.AppendFormat("<option value=\"변경\"{0}>변경</option>", (mode == "edit" && row["XCLS"].ToString() == "변경") ? " selected" : "");
            sb.AppendFormat("<option value=\"검토\"{0}>검토</option></td>", (mode == "edit" && row["XCLS"].ToString() == "검토") ? " selected" : "");
        }
        else
        {
            sb.AppendFormat("<td>{0}<input type=\"hidden\" data-zf-field=\"XCLS\" value=\"{0}\" /></td>", row["XCLS"].ToString());
        }
        sb.Append("<td>작성일자</td>");
        if (mode == "new" || mode == "reuse")
        {
            sb.AppendFormat("<td>{0}</td>", DateTime.Now.ToString("yyyy-MM-dd HH:mm"));
        }
        else
        {
            sb.AppendFormat("<td>{0}</td>", ZumNet.Web.Bc.CommonUtils.CheckDateTime(row["CRDT"].ToString()));
        }
        sb.Append("</tr>");
        sb.Append("</tbody>");
        sb.Append("</table>");
        sb.Append("</div>");

        //21-08-27 SMT 관련 작업 ----------------->
        sb.Append("<div id=\"_Corp_SMT\" class=\"mt-1\" style=\"margin-bottom: 20px\">");
        sb.Append("<div class=\"float-right mr-1 mb-1\">");

        if (mode == "" || mode == "read") sb.Append("<a class=\"btn btn-success btn-sm\" onclick=\"_zw.mu.exportExcel();\"><i class=\"fe-download\"></i> 엑셀내보내기</a>&nbsp;");
        else sb.Append("<a class=\"btn btn-success btn-sm\" onclick=\"_zw.mu.importExcel();\"><i class=\"fe-upload\"></i> 엑셀불러오기</a>&nbsp;");

        sb.Append("</div>");
        sb.Append("<div>");
        sb.Append("<table class=\"z-grid z-grid-bordered\">");
        sb.Append("<colgroup><col width=\"12%\" /><col width=\"11%\" /><col width=\"11%\" /><col width=\"11%\" /><col width=\"11%\" /><col width=\"11%\" /><col width=\"11%\" /><col width=\"11%\" /><col width=\"11%\" /></colgroup>");
        sb.Append("<thead>");
        sb.Append("<tr class=\"info\">");
        sb.AppendFormat("<th>{0}</th>", "생산지");
        sb.AppendFormat("<th>{0}</th>", "통화");
        sb.AppendFormat("<th>{0}</th>", "점당<br />직접노무비");
        sb.AppendFormat("<th>{0}</th>", "점당<br />변동경비");
        sb.AppendFormat("<th>{0}</th>", "점당<br />소모품비");
        sb.AppendFormat("<th>{0}</th>", "점당<br />간접고정비");
        sb.AppendFormat("<th>{0}</th>", "점당<br />간접노무비");
        sb.AppendFormat("<th>{0}</th>", "점당<br />감가비");
        sb.AppendFormat("<th>{0}</th>", "점당임율");
        sb.Append("</tr>");
        sb.Append("</thead>");
        sb.Append("<tbody>");

        q = dtItems != null && dtItems.Rows.Count > 0 ? dtItems.Select("CORP = 'CD_SMT'") : null;
        sb.Append(RenderCorpSMT(mode, q, "CD_SMT", "CNY", "1"));

        q = dtItems != null && dtItems.Rows.Count > 0 ? dtItems.Select("CORP = 'VH_SMT'") : null;
        sb.Append(RenderCorpSMT(mode, q, "VH_SMT", "VND", "2"));

        sb.Append("</tbody>");
        sb.Append("</table>");
        sb.Append("</div>");
        sb.Append("</div>");

        // SMT 관련 작업 <--------------------------

        sb.Append("<div id=\"_Corp_StdPay\">");
        //sb.Append("<div class=\"pl-15\">&#42; 생산지별 기준율</div>");

        //2020-09-18 tui-grid 막음
        //if (mode == "new" || mode == "edit")
        //{
        //    sb.Append("<div style=\"position: absolute; top: 120px; padding-left: 4px\">");
        //    sb.Append("<button class=\"btn btn-success btn-sm\"><i class=\"glyphicon glyphicon-plus\"></i> 추가</button>&nbsp;");
        //    sb.Append("<button class=\"btn btn-success btn-sm\"><i class=\"glyphicon glyphicon-minus\"></i> 삭제</button>");
        //    sb.Append("</div>");

        //    sb.Append("<div class=\"z-grid-container\" style=\"top: 160px\">");
        //}
        //else
        //{
        //    sb.Append("<div class=\"z-grid-container\" style=\"top: 90px\">");
        //}

        //sb.Append("<div id=\"_tuiGrid\">");
        //sb.Append("</div>");

        bool bUse = false;

        foreach (object[] o in ViewBag.CodeTable["ce.center"]) //corp
        {
            q = dtItems != null && dtItems.Rows.Count > 0 ? dtItems.Select("CORP = '" + o[3].ToString() + "'") : null;

            if (q != null && q.Length > 0) bUse = true;
            else if (o[7].ToString() != "N") bUse = true;
            else bUse = false;

            sb.AppendFormat("<div class=\"accordion\" id=\"accordion_{0}\">", o[3].ToString());
            sb.AppendFormat("<div class=\"card mt-3\" data-zf-code=\"{0}\">", o[3].ToString());
            sb.AppendFormat("<div class=\"card-header bg-light d-flex justify-content-between\" id=\"heading_{0}\">", o[3].ToString());
            sb.AppendFormat("<a href=\"#collapse_{0}\" class=\"z-lnk-navy font-weight-bold\" data-toggle=\"{2}\" aria-expanded=\"false\" data-target=\"#collapse_{0}\" aria-controls=\"collapse_{0}\">생산지 : {0},&nbsp;&nbsp;&nbsp;통화 : {1}</a>"
                        , o[3].ToString(), o[4].ToString(), bUse ? "collapse" : "");
            sb.Append("<div>");

            //sb.Append("<div class=\"custom-control custom-switch\">");
            //sb.AppendFormat("<input type=\"checkbox\" class=\"custom-control-input\" id=\"_ckb_{0}\"{1}{2}>", o[3].ToString(), (mode == "new" || mode == "reuse" || mode == "edit") ? "" : " ", bUse ? " checked" : "");
            //sb.AppendFormat("<label class=\"custom-control-label\" for=\"_ckb_{0}\">실적율 사용 여부</label>", o[3].ToString());
            //sb.Append("</div>");

            sb.AppendFormat("<label class=\"custom-control custom-checkbox m-0 mr-2\" for=\"_ckb_{0}\"><input type=\"checkbox\" class=\"custom-control-input\" id=\"_ckb_{0}\"{1}{2}>"
                        , o[3].ToString(), (mode == "new" || mode == "reuse" || mode == "edit") ? "" : " disabled", bUse ? " checked" : "");
            sb.Append("<span class=\"custom-control-label\">임율 사용 여부</span>");
            sb.Append("</label>");
            //sb.Append("<button class=\"btn btn-default icon-btn btn-sm\"><i class=\"fas fa-down\"></i></button>");
            sb.Append("</div></div>"); //header

            sb.AppendFormat("<div id=\"collapse_{0}\" class=\"collapse\" aria-labelledby=\"heading_{0}\" data-parent=\"#accordion_{0}\">", o[3].ToString());
            sb.Append("<div class=\"card-body p-1\">");

            sb.Append(RenderCorpTable(mode, dtItems, q, o[3].ToString(), o[4].ToString(), o[7].ToString()));

            sb.Append("</div>");
            sb.Append("</div>");

            sb.Append("</div>");//card
            sb.Append("</div>");//accordion

            q = null;
        }
        sb.Append("</div>");

        //숨은필드
        sb.AppendFormat("<input type=\"hidden\" data-zf-field=\"STATE\" value= {0} />", mode == "new" || mode == "reuse" ? "0" : row["STATE"].ToString());
        sb.AppendFormat("<input type=\"hidden\" data-zf-field=\"CRNM\" value= {0} />", mode == "new" || mode == "reuse" ? Session["URName"].ToString() : row["CRNM"].ToString());
        sb.AppendFormat("<input type=\"hidden\" data-zf-field=\"CRID\" value= {0} />", mode == "new" || mode == "reuse" ? Session["URID"].ToString() : row["CRID"].ToString());
        sb.AppendFormat("<input type=\"hidden\" data-zf-field=\"CRDPT\" value= {0} />", mode == "new" || mode == "reuse" ? Session["DeptName"].ToString() : row["CRDPT"].ToString());
        sb.AppendFormat("<input type=\"hidden\" data-zf-field=\"CRDPTID\" value= {0} />", mode == "new" || mode == "reuse" ? Session["DeptID"].ToString() : row["CRDPTID"].ToString());
        sb.AppendFormat("<input type=\"hidden\" data-zf-field=\"LNKEA\" value= {0} />", mode == "new" || mode == "reuse" ? "0" : row["LNKEA"].ToString());

        sb.Append("</div>");

        return sb.ToString();
    }

    private string RenderCorpTable(string mode, DataTable items, DataRow[] q, string corp, string currency, string isUse)
    {
        ArrayList vItem = ViewBag.CodeTable["ce.item"];

        StringBuilder sb = new StringBuilder();
        //sb.AppendFormat("<div class=\"{0}\">", isUse == "N" ? "blind" : "");

        sb.Append("<table class=\"z-grid z-grid-bordered\">");
        sb.Append("<colgroup><col width=\"5.29%\" /><col width=\"5.28%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" />");
        sb.Append("<col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /><col width=\"5.26%\" /></colgroup>");
        sb.Append("<thead>");
        sb.Append("<tr class=\"info\">");
        sb.AppendFormat("<th>{0}</th>", "고객");
        sb.AppendFormat("<th>{0}</th>", "구분");
        sb.AppendFormat("<th>{0}</th>", "직접<br />노무임율");
        sb.AppendFormat("<th>{0}</th>", "SMT<br />점당임율");
        sb.AppendFormat("<th>{0}</th>", "변동<br />경비임율");

        sb.AppendFormat("<th>{0}</th>", "간접<br />노무임율"); //24-07-11 추가
        sb.AppendFormat("<th>{0}</th>", "간접<br />고정임율"); //24-07-11 추가

        sb.AppendFormat("<th>{0}</th>", "수입<br />경비율");
        sb.AppendFormat("<th>{0}</th>", "소모품<br />비율");
        //sb.AppendFormat("<th>{0}</th>", "고정<br />원가율");  //21-08-23 막음
        sb.AppendFormat("<th>{0}</th>", "간접<br />고정비율");  //21-08-23 추가
        sb.AppendFormat("<th>{0}</th>", "간접<br />노무비율");  //21-08-23 추가
        sb.AppendFormat("<th>{0}</th>", "감가<br />비율");      //21-08-23 추가
        sb.AppendFormat("<th>{0}</th>", "재고<br />비용율");
        sb.AppendFormat("<th>{0}</th>", "생산지<br />판관비");
        sb.AppendFormat("<th>{0}</th>", "판매<br />물류비율");  //21-08-23 추가
        sb.AppendFormat("<th>{0}</th>", "판관<br />비율");      //21-08-23 추가
        sb.AppendFormat("<th>{0}</th>", "공통<br />판관비");
        sb.AppendFormat("<th>{0}</th>", "변동<br />판관비");
        sb.AppendFormat("<th>{0}</th>", "원가율");
        sb.Append("</thead>");
        sb.Append("<tbody>");

        DataRow[] rowQuery = null;
        DataRow[] rowTemp = null;

        if (items == null || q == null || q.Length == 0)
        {
            int iSeq = 1;
            foreach (object[] b in ViewBag.CodeTable["ce.buyer"])
            {
                sb.AppendFormat("<tr><th rowspan=\"{0}\" class=\"cell-read\"><input type=\"text\" class=\"text-center\" value=\"{1}\" readonly /></th>", vItem.Count.ToString(), b[3].ToString());

                int i = 0;
                foreach (object[] o in vItem) //item
                {
                    if (i > 0) sb.Append("<tr>");
                    sb.AppendFormat("<th class=\"cell-read\">");
                    sb.AppendFormat("<input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly />", "ITEMCLS", o[3].ToString());

                    sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "CORP", corp);
                    sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "BUYER", b[3].ToString());
                    sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "ROWSEQ", iSeq);
                    sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "CURRENCY", currency);
                    sb.Append("</th>");

                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "DIR_COST", "number;10;4", "");
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "SMT_COST", "number;10;4", "");
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "FL_COST", "number;10;4", "");

                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IDLB_COST", "number;10;4", ""); //24-07-11 추가
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IDFX_COST", "number;10;4", ""); //24-07-11 추가

                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IM_RT", "percent;3;2", "");
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "CS_RT", "percent;3;2", "");
                    //sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "FX_EM", "percent;3;2", "");
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IND_FX", "percent;3;2", ""); //21-08-23 추가
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IND_LB", "percent;3;2", ""); //21-08-23 추가
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "DPC_RT", "percent;3;2", ""); //21-08-23 추가
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "ST_EM", "percent;3;2", "");
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "CORP_SGA", "percent;3;2", "");
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "SL_LGT", "percent;3;2", ""); //21-08-23 추가
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "SGC_RT", "percent;3;2", ""); //21-08-23 추가
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "CN_SGA", "percent;3;2", "");
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "FL_SGA", "percent;3;2", "");
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "COSTRT", "percent;3;2", "");
                    sb.Append("</tr>");

                    i++;
                    iSeq++;
                }
            }
        }
        else if (mode == "new" || mode == "reuse" || mode == "edit")
        {
            string sInputMask = (corp == "VH" || corp == "IC" || corp == "IS") ? "number;10;4" : "number;10;4";
            int iSeq = 1;

            foreach (object[] b in ViewBag.CodeTable["ce.buyer"]) //buyer
            {
                sb.AppendFormat("<tr><th rowspan=\"{0}\" class=\"cell-read\"><input type=\"text\" class=\"text-center\" value=\"{1}\" readonly /></th>", vItem.Count.ToString(), b[3].ToString());

                int i = 0;
                foreach (object[] o in vItem) //item
                {
                    rowQuery = items.Select("CORP = '" + corp + "' AND BUYER = '" + b[3].ToString() + "' AND ITEMCLS = '" + o[3].ToString() + "'");
                    DataRow r = rowQuery != null && rowQuery.Length > 0 ? rowQuery[0] : null;

                    if (i > 0) sb.Append("<tr>");
                    sb.AppendFormat("<th class=\"cell-read\">");
                    sb.AppendFormat("<input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly />", "ITEMCLS", o[3].ToString());

                    sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "CORP", corp);
                    sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "BUYER", b[3].ToString());
                    sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "ROWSEQ", iSeq);
                    sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "CURRENCY", currency);
                    sb.Append("</th>");

                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "DIR_COST", sInputMask, DataHelper.GetFieldValueToString(r, "DIR_COST", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "SMT_COST", sInputMask, DataHelper.GetFieldValueToString(r, "SMT_COST", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "FL_COST", sInputMask, DataHelper.GetFieldValueToString(r, "FL_COST", ""));

                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IDLB_COST", sInputMask, DataHelper.GetFieldValueToString(r, "IDLB_COST", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IDFX_COST", sInputMask, DataHelper.GetFieldValueToString(r, "IDFX_COST", ""));

                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IM_RT", "percent;3;2", DataHelper.GetFieldValueToString(r, "IM_RT", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "CS_RT", "percent;3;2", DataHelper.GetFieldValueToString(r, "CS_RT", ""));
                    //sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "FX_EM", "percent;3;2", DataHelper.GetFieldValueToString(r, "FX_EM", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IND_FX", "percent;3;2", DataHelper.GetFieldValueToString(r, "IND_FX", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IND_LB", "percent;3;2", DataHelper.GetFieldValueToString(r, "IND_LB", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "DPC_RT", "percent;3;2", DataHelper.GetFieldValueToString(r, "DPC_RT", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "ST_EM", "percent;3;2", DataHelper.GetFieldValueToString(r, "ST_EM", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "CORP_SGA", "percent;3;2", DataHelper.GetFieldValueToString(r, "CORP_SGA", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "SL_LGT", "percent;3;2", DataHelper.GetFieldValueToString(r, "SL_LGT", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "SGC_RT", "percent;3;2", DataHelper.GetFieldValueToString(r, "SGC_RT", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "CN_SGA", "percent;3;2", DataHelper.GetFieldValueToString(r, "CN_SGA", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "FL_SGA", "percent;3;2", DataHelper.GetFieldValueToString(r, "FL_SGA", ""));
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "COSTRT", "percent;3;2", DataHelper.GetFieldValueToString(r, "COSTRT", ""));
                    sb.Append("</tr>");

                    i++;
                    iSeq++;
                }
            }
        }
        else
        {
            rowQuery = items.Select("CORP = '" + corp + "'", "ROWSEQ");
            string sValue = "";
            string sPrevValue = "";
            string sInputMask = (corp == "VH" || corp == "IC" || corp == "IS") ? "number;10;4" : "number;10;4";

            for (int x = 0; x < rowQuery.Length; x++)
            {
                DataRow r = rowQuery[x];

                sValue = r["BUYER"].ToString();

                if (sValue != sPrevValue) rowTemp = items.Select("CORP = '" + corp + "' AND BUYER = '" + sValue + "'");
                else rowTemp = null;

                if (sValue != sPrevValue) sb.AppendFormat("<tr><th rowspan=\"{0}\" class=\"cell-read\"><input type=\"text\" class=\"text-center\" value=\"{1}\" readonly /></th>", rowTemp.Length.ToString(), r["BUYER"].ToString());
                else sb.Append("<tr>");

                sb.Append("<th class=\"cell-read\">");
                sb.AppendFormat("<input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly />", "ITEMCLS", r["ITEMCLS"].ToString());

                sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "CORP", r["CORP"].ToString());
                sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "BUYER", r["BUYER"].ToString());
                sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "ROWSEQ", r["ROWSEQ"].ToString());
                sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "CURRENCY", r["CURRENCY"].ToString());
                sb.Append("</th>");

                if (mode == "new" || mode == "reuse" || mode == "edit")
                {
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "DIR_COST", sInputMask, r["DIR_COST"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "SMT_COST", sInputMask, r["SMT_COST"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "FL_COST", sInputMask, r["FL_COST"].ToString());

                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IDLB_COST", sInputMask, r["IDLB_COST"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IDFX_COST", sInputMask, r["IDFX_COST"].ToString());

                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IM_RT", "percent;3;2", r["IM_RT"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "CS_RT", "percent;3;2", r["CS_RT"].ToString());
                    //sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "FX_EM", "percent;3;2", r["FX_EM"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IND_FX", "percent;3;2", r["IND_FX"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IND_LB", "percent;3;2", r["IND_LB"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "DPC_RT", "percent;3;2", r["DPC_RT"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "ST_EM", "percent;3;2", r["ST_EM"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "CORP_SGA", "percent;3;2", r["CORP_SGA"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "SL_LGT", "percent;3;2", r["SL_LGT"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "SGC_RT", "percent;3;2", r["SGC_RT"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "CN_SGA", "percent;3;2", r["CN_SGA"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "FL_SGA", "percent;3;2", r["FL_SGA"].ToString());
                    sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "COSTRT", "percent;3;2", r["COSTRT"].ToString());
                    sb.Append("</tr>");
                }
                else
                {
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "DIR_COST", (corp == "VH" || corp == "IC" || corp == "IS") ? CommonUtils.CvtNumeric(r["DIR_COST"].ToString(), 4, "") : CommonUtils.CvtNumeric(r["DIR_COST"].ToString(), 4, ""));
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "SMT_COST", (corp == "VH" || corp == "IC" || corp == "IS") ? CommonUtils.CvtNumeric(r["SMT_COST"].ToString(), 4, "") : CommonUtils.CvtNumeric(r["SMT_COST"].ToString(), 4, ""));
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "FL_COST", (corp == "VH" || corp == "IC" || corp == "IS") ? CommonUtils.CvtNumeric(r["FL_COST"].ToString(), 4, "") : CommonUtils.CvtNumeric(r["FL_COST"].ToString(), 4, ""));

                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "IDLB_COST", (corp == "VH" || corp == "IC" || corp == "IS") ? CommonUtils.CvtNumeric(r["IDLB_COST"].ToString(), 4, "") : CommonUtils.CvtNumeric(r["IDLB_COST"].ToString(), 4, ""));
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "IDFX_COST", (corp == "VH" || corp == "IC" || corp == "IS") ? CommonUtils.CvtNumeric(r["IDFX_COST"].ToString(), 4, "") : CommonUtils.CvtNumeric(r["IDFX_COST"].ToString(), 4, ""));

                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "IM_RT", r["IM_RT"].ToString() != "" ? CommonUtils.CvtNumeric(r["IM_RT"].ToString(), 2) + "%" : "");
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "CS_RT", r["CS_RT"].ToString() != "" ? CommonUtils.CvtNumeric(r["CS_RT"].ToString(), 2) + "%" : "");
                    //sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "FX_EM", r["FX_EM"].ToString() != "" ? CommonUtils.CvtNumeric(r["FX_EM"].ToString(), 2) + "%" : "");
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "IND_FX", r["IND_FX"].ToString() != "" ? CommonUtils.CvtNumeric(r["IND_FX"].ToString(), 2) + "%" : "");
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "IND_LB", r["IND_LB"].ToString() != "" ? CommonUtils.CvtNumeric(r["IND_LB"].ToString(), 2) + "%" : "");
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "DPC_RT", r["DPC_RT"].ToString() != "" ? CommonUtils.CvtNumeric(r["DPC_RT"].ToString(), 2) + "%" : "");
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "ST_EM", r["ST_EM"].ToString() != "" ? CommonUtils.CvtNumeric(r["ST_EM"].ToString(), 2) + "%" : "");
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "CORP_SGA", r["CORP_SGA"].ToString() != "" ? CommonUtils.CvtNumeric(r["CORP_SGA"].ToString(), 2) + "%" : "");
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "SL_LGT", r["SL_LGT"].ToString() != "" ? CommonUtils.CvtNumeric(r["SL_LGT"].ToString(), 2) + "%" : "");
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "SGC_RT", r["SGC_RT"].ToString() != "" ? CommonUtils.CvtNumeric(r["SGC_RT"].ToString(), 2) + "%" : "");
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "CN_SGA", r["CN_SGA"].ToString() != "" ? CommonUtils.CvtNumeric(r["CN_SGA"].ToString(), 2) + "%" : "");
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "FL_SGA", r["FL_SGA"].ToString() != "" ? CommonUtils.CvtNumeric(r["FL_SGA"].ToString(), 2) + "%" : "");
                    sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "COSTRT", r["COSTRT"].ToString() != "" ? CommonUtils.CvtNumeric(r["COSTRT"].ToString(), 2) + "%" : "");
                    sb.Append("</tr>");
                }

                sPrevValue = sValue;
            }
        }

        rowQuery = null;
        rowTemp = null;

        sb.Append("</tbody>");
        sb.Append("</table>");

        return sb.ToString();
    }

    private string RenderCorpSMT(string mode, DataRow[] q, string corp, string currency, string seq)
    {
        StringBuilder sb = new StringBuilder();

        DataRow r = q != null && q.Length > 0 ? q[0] : null;
        string sInputMask = "number;10;5";

        sb.Append("<tr>");
        sb.AppendFormat("<th class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly />", "CORP", corp);
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "BUYER");
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "ITEMCLS");
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"{1}\" />", "ROWSEQ", seq);

        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "IDLB_COST"); //24-07-11 추가
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "IDFX_COST"); //24-07-11 추가

        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "IM_RT");
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "FX_EM");
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "ST_EM");
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "CORP_SGA");
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "SL_LGT");
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "SGC_RT");
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "CN_SGA");
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "FL_SGA");
        sb.AppendFormat("<input type=\"hidden\" data-column=\"{0}\" value=\"\" />", "COSTRT");
        sb.Append("</th>");

        sb.AppendFormat("<th class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></th>", "CURRENCY", currency);

        if (mode == "new" || mode == "reuse" || mode == "edit")
        {
            sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "DIR_COST", sInputMask, DataHelper.GetFieldValueToString(r, "DIR_COST", ""));
            sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "FL_COST", sInputMask, DataHelper.GetFieldValueToString(r, "FL_COST", ""));
            sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "CS_RT", sInputMask, DataHelper.GetFieldValueToString(r, "CS_RT", ""));
            sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IND_FX", sInputMask, DataHelper.GetFieldValueToString(r, "IND_FX", ""));
            sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "IND_LB", sInputMask, DataHelper.GetFieldValueToString(r, "IND_LB", ""));
            sb.AppendFormat("<td class=\"cell-input\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" /></td>", "DPC_RT", sInputMask, DataHelper.GetFieldValueToString(r, "DPC_RT", ""));
            sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" data-inputmask=\"{1}\" value=\"{2}\" readonly /></td>", "SMT_COST", sInputMask, DataHelper.GetFieldValueToString(r, "SMT_COST", ""));
        }
        else
        {
            sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "DIR_COST", r == null || r["DIR_COST"].ToString() == "" ? "" : CommonUtils.CvtNumeric(r["DIR_COST"].ToString(), 5));
            sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "FL_COST", r == null || r["FL_COST"].ToString() == "" ? "" : CommonUtils.CvtNumeric(r["FL_COST"].ToString(), 5));
            sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "CS_RT", r == null || r["CS_RT"].ToString() == "" ? "" : CommonUtils.CvtNumeric(r["CS_RT"].ToString(), 5));
            sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "IND_FX", r == null || r["IND_FX"].ToString() == "" ? "" : CommonUtils.CvtNumeric(r["IND_FX"].ToString(), 5));
            sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "IND_LB", r == null || r["IND_LB"].ToString() == "" ? "" : CommonUtils.CvtNumeric(r["IND_LB"].ToString(), 5));
            sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "DPC_RT", r == null || r["DPC_RT"].ToString() == "" ? "" : CommonUtils.CvtNumeric(r["DPC_RT"].ToString(), 5));
            sb.AppendFormat("<td class=\"cell-read\"><input type=\"text\" class=\"text-center\" data-column=\"{0}\" value=\"{1}\" readonly /></td>", "SMT_COST", r == null || r["SMT_COST"].ToString() == "" ? "" : CommonUtils.CvtNumeric(r["SMT_COST"].ToString(), 5));
        }

        sb.Append("</tr>");

        return sb.ToString();
    }

    #region [엑셀연결]
    private string RenderExcelData(string mode, DataSet ds)
    {
        DataRow[] q = null;

        StringBuilder sb = new StringBuilder();
        sb.Append("<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\">");
        sb.Append("<thead><tr>");
        sb.AppendFormat("<th>{0}</th>", "생산지");
        sb.AppendFormat("<th>{0}</th>", "통화");
        sb.AppendFormat("<th>{0}</th>", "고객");
        sb.AppendFormat("<th>{0}</th>", "구분");
        sb.AppendFormat("<th>{0}</th>", "직접노무임율");
        sb.AppendFormat("<th>{0}</th>", "SMT점당임율");
        sb.AppendFormat("<th>{0}</th>", "변동경비임율");

        sb.AppendFormat("<th>{0}</th>", "간접노무임율"); //24-07-11 추가
        sb.AppendFormat("<th>{0}</th>", "간접고정임율"); //24-07-11 추가

        sb.AppendFormat("<th>{0}</th>", "수입경비율");
        sb.AppendFormat("<th>{0}</th>", "소모품비율");
        //sb.AppendFormat("<th>{0}</th>", "고정원가율");  //21-08-23 막음
        sb.AppendFormat("<th>{0}</th>", "간접고정비율");
        sb.AppendFormat("<th>{0}</th>", "간접노무비율");
        sb.AppendFormat("<th>{0}</th>", "감가비율");
        sb.AppendFormat("<th>{0}</th>", "재고비용율");
        sb.AppendFormat("<th>{0}</th>", "생산지판관비");
        sb.AppendFormat("<th>{0}</th>", "판매물류비율");
        sb.AppendFormat("<th>{0}</th>", "판관비율");
        sb.AppendFormat("<th>{0}</th>", "공통판관비");
        sb.AppendFormat("<th>{0}</th>", "변동판관비");
        sb.AppendFormat("<th>{0}</th>", "원가율");
        sb.Append("</tr></thead>");

        sb.Append("<tbody>");

        if (ds != null && ds.Tables.Count > 0 && ds.Tables[1].Rows.Count > 0)
        {
            foreach (object[] o in ViewBag.CodeTable["ce.center"]) //corp
            {
                q = ds.Tables[1].Select("CORP = '" + o[3].ToString() + "'");

                if (q.Length > 0)
                {
                    sb.Append(RenderExcelData_CorpTable(mode, ds.Tables[1], o[3].ToString(), o[4].ToString()));
                }
            }
        }

        sb.Append("</tbody>");
        sb.Append("</table>");

        return sb.ToString();
    }

    private string RenderExcelData_CorpTable(string mode, DataTable items, string corp, string currency)
    {
        ArrayList vItem = ViewBag.CodeTable["ce.item"];
        DataRow[] rowQuery = null;

        StringBuilder sb = new StringBuilder();

        foreach (object[] b in ViewBag.CodeTable["ce.buyer"]) //buyer
        {
            foreach (object[] o in vItem) //item
            {
                rowQuery = items.Select("CORP = '" + corp + "' AND BUYER = '" + b[3].ToString() + "' AND ITEMCLS = '" + o[3].ToString() + "'");
                DataRow r = rowQuery != null && rowQuery.Length > 0 ? rowQuery[0] : null;

                sb.Append("<tr>");
                sb.AppendFormat("<td class=\"text-center\">{0}</td>", corp);
                sb.AppendFormat("<td class=\"text-center\">{0}</td>", currency);
                sb.AppendFormat("<td class=\"text-center\">{0}</td>", b[3].ToString());
                sb.AppendFormat("<td class=\"text-center\">{0}</td>", o[3].ToString());

                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["DIR_COST"].ToString(), 4, ""));
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["SMT_COST"].ToString(), 4, ""));
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["FL_COST"].ToString(), 4, ""));
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["IDLB_COST"].ToString(), 4, ""));
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["IDFX_COST"].ToString(), 4, ""));
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["IM_RT"].ToString(), 2) + "%");
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["CS_RT"].ToString(), 2) + "%");
                //sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["FX_EM"].ToString(), 2) + "%" );
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["IND_FX"].ToString(), 2) + "%");
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["IND_LB"].ToString(), 2) + "%");
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["DPC_RT"].ToString(), 2) + "%");
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["ST_EM"].ToString(), 2) + "%");
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["CORP_SGA"].ToString(), 2) + "%");
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["SL_LGT"].ToString(), 2) + "%");
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["SGC_RT"].ToString(), 2) + "%");
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["CN_SGA"].ToString(), 2) + "%");
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["FL_SGA"].ToString(), 2) + "%");
                sb.AppendFormat("<td>{0}</td>", r == null ? "" : StringHelper.CvtNumeric(r["COSTRT"].ToString(), 2) + "%");

                sb.Append("</tr>");
            }
        }


        return sb.ToString();
    }

    private void ExcelBind(string data, string stdDate)
    {
        string strFileName = HttpUtility.UrlEncode("기준임율(" + stdDate + ")" + "_" + DateTime.Now.ToString("yyMMddHHmm") + ".xls", new UTF8Encoding());

        Response.Clear();
        Response.Charset = "utf-8";
        Response.Buffer = true;
        //EnableViewState = false;
        Response.AddHeader("content-disposition", "attachment;filename=" + strFileName);
        Response.ContentType = "application/vnd.ms-excel";
        string encoding = Request.ContentEncoding.HeaderName;
        Response.Write("<html xmlns:o=\"urn:schemas-microsoft-com:office:office\" xmlns:x=\"urn:schemas-microsoft-com:office:excel\" xmlns=\"http://www.w3.org/TR/REC-html40\">");
        Response.Write("<head>");
        Response.Write("<meta http-equiv=\"Content-Type\" content=\"text/html; charset=" + encoding + "\" />");
        Response.Write("<style type=\"text/css\">" + ExcelStyle() + "</style>");
        Response.Write("</head>");
        Response.Write("<body>");
        Response.Write(data);
        Response.Write("</body></html>");
    }

    //2018-08-21 thead th => .xls_th 로 변경
    private string ExcelStyle()
    {
        return @"
body {width: 100%}
table {width: ; border-top: 0.5pt solid windowtext; border-right: 0.5pt solid windowtext}
.xls_th {border-bottom: 0.5pt solid windowtext; border-left: 0.5pt solid windowtext; padding: 4px; text-align: center}
td {border-bottom: 0.5pt solid windowtext; border-left: 0.5pt solid windowtext; padding: 4px;}
.text-center {text-align: center}
.xl66 {mso-number-format:'\#\,\#\#0\.0000\;\[Red\]\\-\#\,\#\#0\.0000';}
";
    }
    #endregion
}
@Html.Raw(ViewStdPay(ViewBag.Mode, ViewBag.BoardList))