@using System.Collections;
@using System.Data;
@using System.Text;

@using Newtonsoft.Json;

@{
    ConfigColumn(ViewBag.Mode);
}

@functions {
    string[,] _columnConfig = null;

    private void ConfigColumn(string mode)
    {
        //컬럼 : id,표기,넓이,위치,검색여부,정렬여부
        string[,] arr = { { "rownum", "NO", "3%", "", "", "" }, { "ClsDN3", "유형", "6%", "", "", "Y" }, { "CourseDN", "과정명", "20%", "left", "Y", "Y" }
                        , { "StdYear", "년도", "5%", "", "", "" }, { "ClsDN1", "사내외", "5%", "", "", "" }, { "ClsDN2", "방식", "5%", "", "", "" }
                        , { "ClsDN4", "분야", "7%", "", "Y", "Y" }, { "InstDN", "교육기관", "9%", "left", "Y", "Y" }, { "Place", "교육장소", "15%", "left", "Y", "Y" }
                        , { "Instructor", "강사", "8%", "left", "Y", "Y" }, { "FromDate", "시작일", "6%", "", "", "Y" }, { "ToDate", "종료일", "6%", "", "", "Y" }
                        , { "Cost1", "비용", "5%", "", "", "" }};
        this._columnConfig = arr;
    }

    private string RenderColumnHeader(string mode, string sortCol, string sortType)
    {
        if (_columnConfig != null)
        {
            string sBlind = " d-none";
            string sSortIcon = "";

            StringBuilder sb = new StringBuilder();
            sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
            }
            sb.Append("</colgroup>");

            sb.Append("<thead><tr class=\"table-success\">");
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                if (_columnConfig[i, 5].ToString() == "Y")
                {
                    sBlind = (sortCol == _columnConfig[i, 0].ToString()) ? "" : " d-none";
                    sSortIcon = (sortCol == _columnConfig[i, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";

                    sb.AppendFormat("<th class=\"sortable text-truncate\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[i, 0].ToString(), _columnConfig[i, 1].ToString(), sSortIcon, sBlind);
                }
                else
                {
                    sb.AppendFormat("<th class=\"text-truncate\">{0}</th>", _columnConfig[i, 1].ToString());
                }
            }
            sb.Append("</tr></thead>");
            return sb.ToString();
        }
        else
        {
            return "";
        }
    }

    private string RenderExcelColumnHeader()
    {
        if (_columnConfig != null)
        {
            StringBuilder sb = new StringBuilder();
            sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
            }
            sb.Append("</colgroup>");

            sb.Append("<thead><tr class=\"success\">");
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                sb.AppendFormat("<th class=\"xls_th\">{0}</th>", _columnConfig[i, 1].ToString());
            }
            sb.Append("</tr></thead>");

            return sb.ToString();
        }
        else
        {
            return "";
        }
    }

    private string ViewList(string mode, DataSet data, string sortCol, string sortType, string formTable)
    {
        StringBuilder sb = new StringBuilder();
        sb.Append("<table class=\"table table-hover table-bordered table-sm\" style=\"min-width: 1000px\">");
        if (mode == "xls") sb.Append(RenderExcelColumnHeader());
        else sb.Append(RenderColumnHeader(mode, sortCol, sortType));

        sb.Append("<tbody>");
        if (data != null && data.Tables.Count > 0 && data.Tables[0].Rows.Count > 0)
        {
            string strID = "";
            string strValue = "";
            int iRow = 1;

            foreach (DataRow row in data.Tables[0].Rows)
            {
                sb.AppendFormat("<tr class=\"\" id=\"_{0}\">", row["CourseID"].ToString());

                for (int i = 0; i < _columnConfig.GetLength(0); i++)
                {
                    strID = _columnConfig[i, 0].ToString();
                    //strStyle = (mode != "xls" && i == _columnConfig.GetLength(0) - 1) ? "border-right:0" : "";

                    if (strID == "FromDate" || strID == "ToDate")
                    {
                        strValue = ZumNet.Web.Bc.CommonUtils.CheckDateTime(row[strID].ToString(), "MM-dd", "");
                    }
                    else if (strID == "CourseDN")
                    {
                        strValue = row[strID].ToString();
                        if (strValue != "")
                        {
                            strValue = String.Format("<a class=\"z-lnk-navy-n\" href=\"javascript:\" onclick=\"_zw.fn.viewCourse('V');\" title=\"{0}\">{0}</a>", strValue);
                        }
                        else { strValue = ""; }

                        if (row["DeleteDate"].ToString() != "") strValue = "<span class=\"text-danger\">[폐쇄]</span>" + strValue;
                    }

                    else if (strID.IndexOf("Cost") >= 0)
                    {
                        strValue = ZumNet.Web.Bc.CommonUtils.CvtCurrency(row[strID].ToString(), 0);
                    }
                    else if (strID == "Instructor")
                    {
                        if (row[strID].ToString() != "")
                        {
                            strValue = row["InstructorInfo1"].ToString() + ". " + row["InstructorInfo2"].ToString() + ". " + row[strID].ToString();
                        }
                        else { strValue = ""; }
                    }
                    else
                    {
                        strValue = row[strID].ToString();
                    }

                    if (_columnConfig[i, 3].ToString() == "") sb.AppendFormat("<td class=\"\">{0}</td>", strValue);
                    else sb.AppendFormat("<td class=\"text-{0}\">{1}</td>", _columnConfig[i, 3].ToString(), strValue);
                    strValue = "";
                }
                sb.Append("</tr>");
                iRow++;
            }
        }
        else
        {
            sb.Append("<tr>");
            sb.AppendFormat("<th colspan=\"{0}\" class=\"py-15\">{1}</th>", _columnConfig.GetLength(0), Resources.Global.NoItemShow);
            sb.Append("</tr>");
        }
        sb.Append("</tbody>");
        sb.Append("</table>");

        if (data != null) { data.Dispose(); data = null; }
        return sb.ToString();
    }
}

@Html.Raw(ViewList(ViewBag.Mode, ViewBag.BoardList, ViewBag.R.lv.sort.ToString(), ViewBag.R.lv.sortdir.ToString(), ViewBag.R.ft.ToString()))
