@{
    ViewBag.Title = "사용자 관리";
}

@section Styles {
    @Styles.Render("~/bundle/vendor/css/datatables/datatables")
}

@section Scripts {
    <!-- Dependencies -->
    @Scripts.Render("~/bundle/vendor/js/datatables/datatables")

    <script type="text/javascript">
		var sortColumn = "DisplayName";
		var sortType = "ASC";
		var tbl_user_list;
		var tbl_user_retired_list;

		$(document).ready(function () {
			searchUserInfo("account", "");

			$("#txtSearch").on("keyup", function (e) {
				if (e.keyCode == 13 && $.trim($(this).val()) != "") {
					searchUserInfo("account", $(this).val());
				}
			});

			$("#btnSearch").on("click", function () {
				//tbl_user_list.columns(0).search($("#txtSearch").val()).columns(3).search($("#txtSearch").val()).draw();
                searchUserInfo("account", $("#txtSearch").val());
			});

			$("li.nav-item a").bind("click", function () {
				if ($(this).hasClass("active")) {
					return;
				}

				if ($(this).attr("href").indexOf("member-in") >= 0) {
					searchUserInfo('account', '');
				} else {
					searchRetiredUserInfo('');
				}
			});
		});

		function searchUserInfo(searchType, searchText) {
            $("#tbl_user_list_wrapper,#tbl_user_list").show();
			$("#tbl_user_retired_list_wrapper,#tbl_user_retired_list").hide();

			if (searchText == "") {
				$("#txtSearch").val("");
			}

			$.ajax({
                url: '@Url.Action("SearchUserInfo", "Organ")',
				type: 'POST',
                dataType: 'JSON',
				data: '{domainID: 1, groupID: "", groupType: "D", pageIndex: 0, pageCount: 0, sortColumn: "' + sortColumn + '", sortType: "' + sortType + '", searchType: "' + searchType + '", searchText: "' + searchText + '", admin: "Y"}',
				success: function (result) {
					$("#tbl_user_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
					$("#tbl_user_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>0명의 사용자가 존재합니다.</label></div>");

                    if (result.code != "OK") {
						alert(result.message);
						return;
					}

                    if (tbl_user_list) {
						tbl_user_list.destroy();
					}

					$("#lblMemberCount").text("" + result.recordsTotal + "명의 사용자가 존재합니다.");

                    tbl_user_list = $('#tbl_user_list').DataTable({
                        data: $(result.data),
                        columns: [
	                        { data: "DisplayName" },
	                        { data: "GroupName" },
	                        { data: "Grade1" },
	                        { data: "LogonID" },
	                        { data: "Mobile" },
                            { data: "InDate" },
                        ],
                        lengthChange: false,
                        searching: true,
                        info: false,
                        displayLength: 15,
                        order: [],
                        ordering: true,
                        language: dataTable_lang_kor,
                        createdRow: function (row, data, index) {
                            $('td', row).eq(0).html('').append(
                                '<a href="/WoA/Organ/Member/' + data["UserID"] + '">' + data["DisplayName"] + '</a>'
                            );
                        }
					});

                    $("#tbl_user_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
                    $("#tbl_user_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>" + result.recordsTotal + "명의 사용자가 존재합니다.</label></div>");
                }
			});
		}

		function searchRetiredUserInfo(searchText) {
            $("#tbl_user_list_wrapper,#tbl_user_list").hide();
			$("#tbl_user_retired_list_wrapper,#tbl_user_retired_list").show();

			$.ajax({
                url: '@Url.Action("SearchRetiredUserInfo", "Organ")',
				type: 'POST',
                dataType: 'JSON',
				data: '{domainID: 1, pageIndex: 1, pageCount: 10000, sortColumn: "' + sortColumn + '", sortType: "' + sortType + '", searchColumn: "", searchText: "' + searchText + '", searchStartDate: "", searchEndDate: ""}',
				success: function (result) {
                    $("#tbl_user_retired_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
					$("#tbl_user_retired_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>0명의 사용자가 존재합니다.</label></div>");

					if (result.code != "OK") {
						alert(result.message);
						return;
					}

                    if (tbl_user_retired_list) {
						tbl_user_retired_list.destroy();
					}

					tbl_user_retired_list = $('#tbl_user_retired_list').DataTable({
                        data: $(result.data),
                        columns: [
	                        { data: "DisplayName" },
	                        { data: "GroupName" },
	                        { data: "GradeName" },
	                        { data: "LogonID" },
	                        { data: "Mobile" },
							{ data: "InDate" },
                            { data: "OutDate" }
                        ],
                        lengthChange: false,
                        searching: true,
                        info: false,
                        displayLength: 15,
                        order: [],
                        ordering: true,
                        language: dataTable_lang_kor,
                        createdRow: function (row, data, index) {
                            
                        }
					});

                    $("#tbl_user_retired_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").empty();
                    $("#tbl_user_retired_list_wrapper").find("div.row:eq(0)").find("div:eq(0)").append("<div class=\"dataTables_length\"><label>" + result.recordsTotal + "명의 사용자가 존재합니다.</label></div>");
                }
			});
		}
    </script>
}

<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    <div>사용자 관리</div>
    <button type="button" class="btn btn-primary rounded-pill d-block"><span class="ion ion-md-add"></span>&nbsp; 신규</button>
</h4>

<div class="nav-tabs-top nav-responsive-sm">
    <ul class="nav nav-tabs">
        <li class="nav-item" id="li_member_in">
            <a class="nav-link active" data-toggle="tab" href="#member-in">전체 직원 보기</a>
        </li>
        <li class="nav-item" id="li_member_out">
            <a class="nav-link" data-toggle="tab" href="#member-out">퇴사 직원 보기</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="member-in">
            <div class="card-datatable table-responsive">
                <table id="tbl_user_list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>소속(겸직여부)</th>
                            <th>직위</th>
                            <th>ID(이메일)</th>
                            <th>휴대폰</th>
                            <th>입사일</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="member-out">
            <div class="card-datatable table-responsive">
                <table id="tbl_user_retired_list" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>소속(겸직여부)</th>
                            <th>직위</th>
                            <th>ID(이메일)</th>
                            <th>휴대폰</th>
                            <th>입사일</th>
                            <th>퇴사일</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
