@using System;
@using System.Data;
@using System.Globalization;
@using System.Text;
@using System.Threading;
@using ZumNet.Framework.Util;
@{
    string sCurrentLocale = Thread.CurrentThread.CurrentUICulture.Name;


}
@functions {
    private string RenderData()
    {
        DataRow row = null;
        ZumNet.Framework.Core.ServiceResult svcRt = new ZumNet.Framework.Core.ServiceResult();

        using (ZumNet.BSL.ServiceBiz.OfficePortalBiz opBiz = new ZumNet.BSL.ServiceBiz.OfficePortalBiz())
        {
            svcRt = opBiz.GetUserConfiguration(Convert.ToInt32(Session["URID"]));
        }
        if (svcRt.ResultCode == 0 && svcRt.ResultDataSet != null && svcRt.ResultDataSet.Tables.Count > 0 && svcRt.ResultDataSet.Tables[0].Rows.Count > 0) row = svcRt.ResultDataSet.Tables[0].Rows[0];


        StringBuilder sb = new StringBuilder();
        //기념일설정
        sb.Append("<div class=\"col-12 col-sm-6 px-0\">");
        sb.Append("<div class=\"card border-0\">");

        sb.Append("<div class=\"card-header with-elements px-3\">");
        sb.AppendFormat("<div class=\"card-header-title\"><i class=\"fas fa-chevron-circle-right mr-1\"></i>{0}</div>", "기념일설정");
        sb.Append("</div>");

        sb.Append("<div class=\"card-body p-3\">");
        sb.Append("<div class=\"form-group row mb-2\">");
        sb.Append("<label for=\"\" class=\"col-md-3 col-form-label font-weight-normal\">준비중!</label>");
        //sb.AppendFormat("<div class=\"col-md-9\"><input type=\"text\" class=\"form-control bg-white border-0\" readonly data-for=\"{0}\" value=\"{1}\" /></div>", "MainMail", FieldValue(row, "MainMail"));
        sb.Append("</div>");

        //sb.Append("<div class=\"form-group row mb-2\">");
        //sb.Append("<label for=\"\" class=\"col-md-3 col-form-label font-weight-normal\">영문명</label>");
        //sb.AppendFormat("<div class=\"col-md-9\"><input type=\"text\" class=\"form-control\" data-for=\"{0}\" value=\"{1}\" /></div>", "EnName", FieldValue(row, "EnName"));
        //sb.Append("</div>");

        //sb.Append("<div class=\"form-group row mb-2\">");
        //sb.Append("<label for=\"\" class=\"col-md-3 col-form-label font-weight-normal\">한자</label>");
        //sb.AppendFormat("<div class=\"col-md-9\"><input type=\"text\" class=\"form-control\" data-for=\"{0}\" value=\"{1}\" /></div>", "ChName", FieldValue(row, "ChName"));
        //sb.Append("</div>");

        //sb.Append("<div class=\"form-group row mb-2\">");
        //sb.Append("<label for=\"\" class=\"col-md-3 col-form-label font-weight-normal\">생년월일</label>");
        //sb.Append("<div class=\"col-md-9 d-flex align-items-center\">");
        //sb.AppendFormat("<input type=\"text\" class=\"form-control datepicker w-50\" data-for=\"{0}\" value=\"{1}\" />", "BirthDay", FieldValue(row, "BirthDay"));
        //sb.Append("<label class=\"custom-control custom-checkbox m-0 ml-2\">");
        //sb.AppendFormat("<input type=\"checkbox\" class=\"custom-control-input id=\"ckb01\" data-for=\"{0}\"{1}><span class=\"custom-control-label\">음력</span>", "BirthType", FieldValue(row, "BirthType") == "1" ? "" : "  checked");
        //sb.Append("</label>");
        //sb.Append("</div>");
        //sb.Append("</div>");


        //sb.Append("<div class=\"form-group row mb-2\">");
        //sb.Append("<label for=\"\" class=\"col-md-3 col-form-label font-weight-normal\">소개글</label>");
        //sb.AppendFormat("<div class=\"col-md-9\"><textarea class=\"form-control\" row=\"3\" data-for=\"{0}\" style=\"height: 100px\">{1}</textarea></div>", "Description", FieldValue(row, "Description"));
        //sb.Append("</div>");

        sb.Append("</div>"); //card-body
        sb.Append("</div>"); //card
        sb.Append("</div>");

        return sb.ToString();
    }

    private string FieldValue(DataRow row, string fieldName)
    {
        return row != null && row[fieldName] != null ? row[fieldName].ToString() : "";
    }
}
<div class="container-p-x pt-3">
    <div class="row mx-0">
        @Html.Raw(RenderData())
    </div>
</div>