@using System.Collections;
@using System.Data;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json.Linq;
@using ZumNet.Framework.Util;
@using ZumNet.Web.Bc;
@using ZumNet.Web.Filter;
@{
    //REGISTER_EMPLOYEE_PALNT_MODEL
    InitConfig();

    ZumNet.Framework.Core.ServiceResult svcRt = null;
    using (ZumNet.BSL.InterfaceBiz.ReportBiz rpBiz = new ZumNet.BSL.InterfaceBiz.ReportBiz())
    {
        svcRt = rpBiz.GetReport(ViewBag.R.mode.ToString(), StringHelper.SafeInt(ViewBag.R.lv.tgt.Value), ViewBag.R.ft.ToString(), ViewBag.R.lv.start.ToString(), ViewBag.R.lv.end.ToString()
                , ViewBag.R.lv.cd1.ToString(), ViewBag.R.lv.cd2.ToString(), ViewBag.R.lv.cd3.ToString(), ViewBag.R.lv.cd4.ToString(), ViewBag.R.lv.cd5.ToString());
    }

    if (ViewBag.R.mode == "xls")
    {
        ExcelBind(ViewMultipe(ViewBag.R.mode.ToString(), svcRt.ResultDataSet));
        Response.End();
    }
}
@functions {
    string[,] _columnConfig = null;
    string _tblWidth = "";

    private void InitConfig()
    {
        //초기 설정
        if (ViewBag.R.lv.start == "") ViewBag.R.lv["start"] = DateTime.Now.Year.ToString();
        if (ViewBag.R.lv.end == "") ViewBag.R.lv["end"] = DateTime.Now.Month.ToString();
        if (ViewBag.R.lv.cd1 == "") ViewBag.R.lv["cd1"] = "VH";
        if (ViewBag.R.ttl == "") ViewBag.R["ttl"] = "인원현황 및 효율(모델)";
    }

    private string RenderColumnHeader(DataRow[] data)
    {
        StringBuilder sb = new StringBuilder();
        int iWidth = 150;

        sb.Append("<colgroup>");
        sb.AppendFormat("<col style=\"width:{0}\" />", "150px");
        for (int i = 0; i < data.Length; i++)
        {
            sb.AppendFormat("<col style=\"width:{0}\" />", "90px");
            iWidth += 90;
        }
        sb.Append("</colgroup>");

        _tblWidth = iWidth.ToString() + "px";

        sb.Append("</thead>");
        return sb.ToString();
    }

    private string ViewMultipe(string mode, DataSet data)
    {
        StringBuilder sb = new StringBuilder();
        if (data != null && data.Tables.Count > 0 && data.Tables[0].Rows.Count > 0)
        {
            int iCnt = 1;
            foreach(DataRow row in data.Tables[0].Rows)
            {
                sb.AppendFormat("<div class=\"{0}\">", iCnt > 1 ? "mt-4" : "mt-3");
                //sb.AppendFormat("<h6>{0}. {1} ( 달성율 : {2})</h6>", iCnt.ToString(), row["MODEL"].ToString(), CommonUtils.CvtNumeric(row[1].ToString()));
                sb.AppendFormat("<table style=\"border: 0\"><thead><tr><th colspan=\"6\" style=\"font-size: 14px; padding-left: 4px; border: 0\">{0}. {1}</th></tr></thead></table>"
                                        , iCnt.ToString(), row["MODEL"].ToString());

                DataRow[] rows = data.Tables[2].Select("MODEL = '" + row["MODEL"].ToString() + "'", "TRX_DATE");
                if (mode != "xls") sb.Append(ViewChart(mode, rows, iCnt));
                sb.Append(ViewList(mode, rows));

                sb.Append("</div>");
                iCnt++;
            }
        }
        else
        {
            sb.AppendFormat("<div class=\"text-center mt-5 h5\">{0}</div>", Resources.Global.NoItemShow);
        }
        return sb.ToString();
    }

    private string ViewList(string mode, DataRow[] data)
    {
        if (data != null && data.Length > 0)
        {
            string strHeader = RenderColumnHeader(data);
            string sClassExcel = mode == "xls" ? " class=\"xls_th\"" : "";

            StringBuilder sb = new StringBuilder();
            sb.Append("<div data-for=\"list\">");
            sb.Append("<div class=\"\">");
            sb.AppendFormat("<table class=\"table table-hover table-bordered table-sm\" style=\"width:{0}\">", this._tblWidth);
            sb.Append(strHeader);
            sb.Append("<tbody>");

            StringBuilder sb1 = new StringBuilder();
            StringBuilder sb2 = new StringBuilder();
            StringBuilder sb3 = new StringBuilder();
            StringBuilder sb4 = new StringBuilder();
            StringBuilder sb8 = new StringBuilder();

            sb1.AppendFormat("<tr class=\"table-success\"><td{0}>일자</td>", sClassExcel);
            sb2.AppendFormat("<tr><td{0}>계획인원</td>", sClassExcel);
            sb3.AppendFormat("<tr><td{0}>실적인원</td>", sClassExcel);
            sb4.AppendFormat("<tr><td{0}>Indirect</td>", sClassExcel);
            sb8.AppendFormat("<tr><td{0}>생산효율(%)</td>", sClassExcel);

            for (int i = 0; i < data.Length; i++)
            {
                DataRow row = data[i];
                sb1.AppendFormat("<td{0}>{1}</td>", sClassExcel, row["TRX_DATE"]);
                sb2.AppendFormat("<td>{0}</td>", row["MAN_PLAN"].ToString() == "0" ? "0" : CommonUtils.CvtNumeric(row["MAN_PLAN"].ToString()));
                sb3.AppendFormat("<td>{0}</td>", row["MAN_OUTPUT"].ToString() == "0" ? "0" : CommonUtils.CvtNumeric(row["MAN_OUTPUT"].ToString()));
                sb4.AppendFormat("<td>{0}</td>", row["MAN_INDIRECT"].ToString() == "0" ? "0" : CommonUtils.CvtNumeric(row["MAN_INDIRECT"].ToString()));
                sb8.AppendFormat("<td>{0}</td>", row["RATE_PROD"].ToString() == "0" ? "0" : CommonUtils.CvtNumeric(row["RATE_PROD"].ToString()));
            }

            sb1.Append("</tr>");
            sb2.Append("</tr>");
            sb3.Append("</tr>");
            sb4.Append("</tr>");

            sb.AppendFormat("{0}{1}{2}{3}{4}", sb1, sb2, sb3, sb4, sb8);

            sb.Append("</tbody>");
            sb.Append("</table>");
            sb.Append("</div>");

            sb.Append("</div>"); //data-for="list"
            return sb.ToString();
        }
        return "";
    }

    private string ViewChart(string mode, DataRow[] data, int cnt)
    {
        StringBuilder sb = new StringBuilder();
        if (data != null && data.Length > 0)
        {
            sb.AppendFormat("<div class=\"\" id=\"{0}\" data-for=\"multiple-chart\"></div>", "chart-container-" + cnt.ToString());
            sb.AppendFormat("<script type=\"text/template\" class=\"chart-cfg-template-{0}\">", cnt.ToString()); //char config
            sb.Append("{");
            sb.AppendFormat("\"type\": \"{0}\",", "mscombidy2d");
            sb.AppendFormat("\"renderAt\": \"{0}\",", "chart-container-" + cnt.ToString());
            sb.AppendFormat("\"width\": \"{0}\",", "100%");
            sb.AppendFormat("\"height\": \"{0}\",", "180px");
            sb.AppendFormat("\"dataFormat\": \"{0}\"", "xml");
            sb.Append("}");
            sb.Append("</script>");

            sb.AppendFormat("<script type=\"text/template\" class=\"chart-data-template-{0}\">", cnt.ToString()); //chart-data
            sb.Append("<chart caption=\"\" baseFontSize=\"12\" labelFontSize=\"12\" legendItemFontSize=\"13\" drawcrossline=\"1\" showvalues=\"0\" showanchors=\"0\" numberprefix=\"\"");
            sb.Append(" plothighlighteffect=\"fadeout\" chartTopMargin=\"\" chartLeftMargin=\"4\" chartBottomMargin=\"8\" chartRightMargin=\"4\" theme=\"fusion\">");
            sb.Append("<categories>");
            for (int i = 0; i < data.Length; i++)
            {
                DataRow row = data[i];
                sb.AppendFormat("<category label=\"{0}\" fontsize=\"12\" />", row["TRX_DATE"].ToString());
            }
            //sb.Append("]");
            sb.Append("</categories>");
            sb.Append("<dataset seriesname=\"계획인원\">");
            for (int i = 0; i < data.Length; i++)
            {
                DataRow row = data[i];
                sb.AppendFormat("<set value=\"{0}\" />", row["MAN_PLAN"].ToString());
            }
            sb.Append("</dataset>");
            sb.Append("<dataset seriesname=\"실적인원\">");
            for (int i = 0; i < data.Length; i++)
            {
                DataRow row = data[i];
                sb.AppendFormat("<set value=\"{0}\" />", row["MAN_OUTPUT"].ToString());
            }
            sb.Append("</dataset>");
            sb.Append("<dataset seriesname=\"생산효율\" parentyaxis=\"S\" renderas=\"line\" showvalues=\"0\">");
            for (int i = 0; i < data.Length; i++)
            {
                DataRow row = data[i];
                sb.AppendFormat("<set value=\"{0}\" />", CommonUtils.CvtNumeric(row["RATE_PROD"].ToString()));
            }
            sb.Append("</dataset>");
            sb.Append("</chart>");
            sb.Append("</script>");
        }
        return sb.ToString();
    }

    private string ListCond()
    {
        string sWidth = _columnConfig != null && _columnConfig.GetLength(0) > 0 ? " wd-md-80 wd-lg-65 wd-xl-60" : " wd-sm-80 wd-md-60 wd-lg-45 wd-xl-40";

        StringBuilder sb = new StringBuilder();

        //sb.AppendFormat("<div class=\"z-list-cond d-flex justify-content-end wd-70{0}\">", sWidth);
        sb.Append("<div class=\"z-list-search input-group\">");
        sb.Append("<select class=\"custom-select\" data-for=\"year\">");
        sb.Append(CommonUtils.OptionYear(2017, DateTime.Now.Year, Convert.ToInt32(ViewBag.R.lv["start"].ToString())));
        sb.Append("</select>");

        sb.Append("<select class=\"custom-select\" data-for=\"month\">");
        sb.Append(CommonUtils.OptionMonth(Convert.ToInt32(ViewBag.R.lv["end"].ToString())));
        sb.Append("</select>");

        sb.Append("<select class=\"custom-select\" data-for=\"cond1\">");
        sb.AppendFormat("<option value=\"{0}\"{1}>{0}</option>", "CD", ViewBag.R.lv["cd1"].ToString() == "CD" ? " selected" : "");
        sb.AppendFormat("<option value=\"{0}\"{1}>{0}</option>", "IC", ViewBag.R.lv["cd1"].ToString() == "IC" ? " selected" : "");
        sb.AppendFormat("<option value=\"{0}\"{1}>{0}</option>", "IS", ViewBag.R.lv["cd1"].ToString() == "IS" ? " selected" : "");
        sb.AppendFormat("<option value=\"{0}\"{1}>{0}</option>", "VH", ViewBag.R.lv["cd1"].ToString() == "VH" ? " selected" : "");
        sb.Append("</select>");

        sb.Append("<span class=\"input-group-append\">");
        sb.Append("<button class=\"btn btn-secondary\" type=\"button\" data-zv-menu=\"search\"><i class=\"fe-search\"></i></button>");
        sb.Append("</span>");
        sb.Append("</div>");

        //sb.Append("</div>"); //z-list-cond
        return sb.ToString();
    }

    private void ExcelBind(string data)
    {
        string strExcelFileName = ViewBag.R.ft.ToString() + "_Export_" + DateTime.Now.ToString("yyMMdd_HHmmss") + ".xls"; //2014-04-11
        Response.Clear();
        Response.Charset = "utf-8";
        Response.Buffer = true;
        //EnableViewState = false;
        Response.AddHeader("content-disposition", "attachment;filename=" + strExcelFileName); //Content.xls");
        Response.ContentType = "application/x-msdownload";
        string encoding = Request.ContentEncoding.HeaderName;
        Response.Write("<html xmlns:o=\"urn:schemas-microsoft-com:office:office\" xmlns:x=\"urn:schemas-microsoft-com:office:excel\" xmlns=\"http://www.w3.org/TR/REC-html40\"><head>");
        Response.Write("<meta http-equiv=\"Content-Type\" content=\"text/html; charset=" + encoding + "\">");
        Response.Write("<style type=\"text/css\">" + ExcelStyle() + "</style>");
        Response.Write("</head>");
        Response.Write("<body>");
        Response.Write(data);
        Response.Write("</body></html>");
    }

    public string ExcelStyle()
    {
        return @"
            body {width: 100%}
            table {width: ; border-top: 0.1pt solid windowtext; border-right: 0.1pt solid windowtext}
            td {border-bottom: 0.1pt solid windowtext; border-left: 0.1pt solid windowtext; padding: 4px;}

            .xls_warning {background-color: #fcf8e3}
            .xls_th {border-bottom: 0.1pt solid windowtext; border-left: 0.1pt solid windowtext; padding: 4px; text-align: center; background-color: #dff0d8}

            .text-center {text-align: center}
            .xl66 {mso-number-format:'\#\,\#\#0\.0000\;\[Red\]\\-\#\,\#\#0\.0000';}
            .xl88 {mso-number-format:'\#\,\#\#0\.0000_\)\;\[Red\]\\\(\#\,\#\#0\.0000\\\)';}
            ";
    }
}
@if (svcRt == null || svcRt.ResultCode != 0)
{
    @Html.Partial("~/Views/Shared/_ErrorInline.cshtml", new HandleErrorInfo(new Exception(svcRt.ResultMessage), "Report", ViewBag.R.ttl.ToString()))
}
else
{
    <div class="z-list-head d-flex justify-content-between my-2 pl-0">
        @Html.Raw(ListCond())
    </div>

    <div class="z-list-body" id="__ListView">
        @Html.Raw(ViewMultipe(ViewBag.R.mode.ToString(), svcRt.ResultDataSet))
    </div>
}