@using System.Collections;
@using System.Data;
@using System.Text;
@using Newtonsoft.Json;

@{
    //교육시간집계대장 , REGISTER_EDUTIME

    ConfigColumn();
}

@functions {

    string[,] _columnConfig = null;
    string _tblWidth = "";

    private void ConfigColumn()
    {
        //컬럼 : id,표기,넓이,정렬,검색여부
        string[,] arr = { { "stdyear", "구분년도", "11%", "", "" }, { "ApplDept", "신청부서/구분", "34%", "L", "" }
                            , { "DisplayName", "신청자", "11%", "", "Y" }, { "ClsDN1", "사내외", "11%", "", "" },{ "clsdn2", "교육방식", "11%", "", "" }
                            , { "Item1", "교육유형", "11%", "", "" },{ "Time", "교육시간", "11%", "", "" }
            };
        this._columnConfig = arr;
    }

    private string RenderColumnHeader(string mode)
    {
        StringBuilder sb = new StringBuilder();
        string strValue = "";

        sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
        for (int i = 0; i < _columnConfig.GetLength(0); i++)
        {
            sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
        }
        sb.Append("</colgroup>");

        sb.Append("<thead>");
        sb.Append("<tr class=\"table-success\">");
        for (int i = 0; i < _columnConfig.GetLength(0); i++)
        {
            if (mode != "xls" && _columnConfig[i, 4].ToString() == "Y") strValue = String.Format("<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort();\">{0}</a>", _columnConfig[i, 1].ToString());
            else strValue = _columnConfig[i, 1].ToString();

            if (mode != "xls")
                sb.AppendFormat("<th id=\"f_{0}\">{1}</th>", _columnConfig[i, 0].ToString(), strValue);
            else
                sb.AppendFormat("<th id=\"f_{0}\" style=\"text-align:center;background:#d1dae7;color:#175d7f\">{1}</th>", _columnConfig[i, 0].ToString(), strValue);
        }
        sb.Append("</tr>");
        sb.Append("</thead>");
        return sb.ToString();
    }

    private string ViewList(string mode, DataSet data)
    {
        if (data != null && data.Tables.Count > 0)
        {
            string strID = "";
            string strValue = "";
            int iRow = 1;

            StringBuilder sb = new StringBuilder();
            sb.AppendFormat("<table class=\"table table-hover table-bordered table-sm\" style=\"width:{0}\">", this._tblWidth);
            sb.Append(RenderColumnHeader(mode));
            sb.Append("<tbody>");

            DataTable dt = data.Tables[0];
            foreach (DataRow row in dt.Rows)
            {
                sb.Append("<tr>");

                for (int i = 0; i < _columnConfig.GetLength(0); i++)
                {
                    strID = _columnConfig[i, 0].ToString();
                    strValue = row[strID].ToString();

                    sb.AppendFormat("<td class=\"{0}\">{1}</td>", _columnConfig[i, 3].ToString() == "L" ? "text-left" : "", strValue);
                }
                sb.Append("</tr>");
                iRow++;
            }
            sb.Append("</tbody>");
            sb.Append("</table>");
            dt = null;
            return sb.ToString();
        }
        return "";
    }

    private string ListCount()
    {
        string sPage = "";
        int totalCount = 0;
        if (ViewBag.R.ft.ToString() == "___")
        {
            int maxPage = ZumNet.Web.Bc.CommonUtils.IsMobile() ? 5 : 10;
            totalCount = Convert.ToInt32(ViewBag.R.lv.total.Value);
            int pageCount = Convert.ToInt32(ViewBag.R.lv.count.Value);
            int pageIndex = Convert.ToInt32(ViewBag.R.lv.page.Value);
            int totalPage = totalCount / pageCount;

            if (totalCount % pageCount > 0) { totalPage++; }
            if (pageIndex > totalPage) { pageIndex = totalPage; }

            sPage = String.Format("{0} {1} {2} ({3} / {4} {5})", Resources.Global.Total, totalCount.ToString(), Resources.Global.Count, pageIndex.ToString(), totalPage.ToString(), Resources.Global.Page);

        }
        else
        {
            totalCount = Convert.ToInt32(ViewBag.R.lv.total.Value);
            sPage = String.Format("{0} {1} {2}", Resources.Global.Total, totalCount.ToString(), Resources.Global.Count);
        }

        return sPage;
    }

    private string ListCond()
    {
        int iYear = ViewBag.R.lv.start != "" && Convert.ToInt32(ViewBag.R.lv.start) > 0 ? Convert.ToInt32(ViewBag.R.lv.start) : DateTime.Now.Year;
        StringBuilder sb = new StringBuilder();

        sb.Append("<div class=\"input-group z-list-cond d-flex justify-content-end\">");

        sb.Append("<select class=\"custom-select ml-1 start-date\">");
        sb.Append(ZumNet.Web.Bc.CommonUtils.OptionYear(2009, DateTime.Now.Year, iYear));
        sb.Append("</select>");
        sb.Append("<span class=\"input-group-append\">");
        sb.Append("<button class=\"btn btn-secondary\" type=\"button\" data-zv-menu=\"search\"><i class=\"fe-search\"></i></button>");
        sb.Append("</span>");
        sb.Append("</div>"); //z-list-cond
        return sb.ToString();
    }
}

<div class="z-list-head d-flex justify-content-between my-2">
    <div class="z-list-page d-flex align-items-center" id="__ListCount">
        <div class="z-list-total mt-1 mr-1">
            <i class="fe-chevron-right"></i> @ListCount()
        </div>
    </div>
    @Html.Raw(ListCond())
</div>

<div class="z-list-body" id="__ListView">
    @Html.Raw(ViewList(ViewBag.R.mode.ToString(), ViewBag.BoardList))
</div>

