@using System.Collections;
@using System.Data;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json.Linq;
@using ZumNet.Framework.Util;
@using ZumNet.Web.Bc;
@using ZumNet.Web.Filter;
@{
    //4M변경 진행현황, REGISTER_ECNPLAN
    InitConfig();

    ZumNet.Framework.Core.ServiceResult svcRt = null;
    using (ZumNet.BSL.InterfaceBiz.ReportBiz rpBiz = new ZumNet.BSL.InterfaceBiz.ReportBiz())
    {
        svcRt = rpBiz.GetReport(ViewBag.R.mode.ToString(), StringHelper.SafeInt(ViewBag.R.lv.tgt.Value), ViewBag.R.ft.ToString(), ViewBag.R.lv.start.ToString(), ViewBag.R.lv.end.ToString()
                , ViewBag.R.lv.cd1.ToString(), ViewBag.R.lv.cd2.ToString(), ViewBag.R.lv.cd3.ToString(), ViewBag.R.lv.cd4.ToString(), ViewBag.R.lv.cd5.ToString());
    }

    if (svcRt != null && svcRt.ResultCode == 0)
    {
        ViewBag.R.lv["total"] = svcRt.ResultItemCount.ToString();
    }
    else
    {
        ViewBag.R.lv["total"] = 0;
    }

    if (ViewBag.R.mode == "xls")
    {
        ExcelBind(ViewList(ViewBag.R.mode.ToString(), svcRt.ResultDataSet));
        Response.End();
    }
}
@functions {

    string[,] _columnConfig = null;
    string _tblWidth = "";

    private void InitConfig()
    {
        //초기 설정
        if (ViewBag.R.lv.start == "") ViewBag.R.lv["start"] = DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd"); //최근 1개월
        if (ViewBag.R.ttl == "") ViewBag.R["ttl"] = "계약서관리대장";

        //검색조건 설정
        ViewBag.R.lv["cd4"] = ViewBag.R.lv.sort.ToString();
        ViewBag.R.lv["cd5"] = ViewBag.R.lv.sortdir.ToString();

        //컬럼 : id,표기,넓이,정렬,검색여부
        string[,] arr = { { "SEQ", "NO", "40px", "", "" }, { "MODELNAME", "모델명", "130px", "L", "Y" }, { "PARTNO", "부품번호", "130px", "L", "Y" }
                        , { "PARTNM", "부품명", "180px", "L", "Y" }, { "CRNO", "요청서 NO", "120px", "", "Y" }, { "CHANGETYPE", "변경종류", "100px", "L", "Y" } //700
                        , { "CHANGEREASON", "변경사유", "150px", "L", "" }, { "C_CreatorDept", "요청부서", "120px", "", "Y" }, { "C_Creator", "요청자", "100px", "", "Y" }, { "C_PIStart", "요청일", "80px", "", "" }
                        , { "C_DocStatus", "결재상태", "70px", "", "" } , { "NEXTWORKERDEPT", "통보작성부서", "100px", "", "" }  , { "NEXTWORKER", "작성자", "60px", "", "" } //680
                        , { "SUMMARY", "주변경내용", "200px", "L", "" }, { "CHANGECLS", "변경구분", "80px", "L", "" }, { "CORPORATION", "적용<br />법인", "60px", "", "" }
                        , { "CHECKUSE", "구부품<br />사용관계", "60px", "", "" }, { "CHECKLOT", "적용LOT", "60px", "", "" }, { "S_CreatorDept", "작성부서", "120px", "", "" }
                        , { "S_PIStart", "작성일", "80px", "", "" }, { "S_DocStatus", "결재상태", "70px", "", "" } //730
                        , { "VH", "VH", "50px", "", "" }, { "CH", "CH", "50px", "", "" }, { "CD", "CD", "50px", "", "" }, { "CT", "CT", "50px", "", "" }
                        , { "CL", "CL", "50px", "", "" }, { "IC", "IC", "50px", "", "" }, { "IS", "IS", "50px", "", "" } //350
                        };
        this._columnConfig = arr;
        this._tblWidth = "2460px";
    }

    private string RenderColumnHeader(string mode)
    {
        StringBuilder sb = new StringBuilder();
        string sClassExcel = mode == "xls" ? " class=\"xls_th\"" : "";

        sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
        for (int i = 0; i < _columnConfig.GetLength(0); i++)
        {
            sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
        }
        sb.Append("</colgroup>");

        sb.Append("<thead>");
        sb.AppendFormat("<tr class=\"table-success\"><th{0} rowspan=\"2\">{1}</th><th{0} colspan=\"12\">{2}</th><th{0} colspan=\"8\">{3}</th><th{0} colspan=\"7\">{4}</th></tr>"
                            , sClassExcel, _columnConfig[0, 1].ToString(), "사양변경 요청현황", "사양변경 배포현황", "생산법인 조치현황");

        sb.Append("<tr class=\"table-success\">");
        for (int i = 1; i < _columnConfig.GetLength(0); i++)
        {
            if (mode != "xls" && _columnConfig[i, 4].ToString() == "Y")
            {
                sb.AppendFormat("<th><a class=\"z-lnk-navy\" href=\"javascript:\" data-val=\"{0}\" onclick=\"_zw.fn.sort();\">{1} <i class=\"{2}\"</a></th>"
                                 , _columnConfig[i, 0].ToString(), _columnConfig[i, 1].ToString()
                                , (ViewBag.R.lv.sort == _columnConfig[i, 0].ToString() ? (ViewBag.R.lv.sortdir == "ASC" ? "fe-arrow-up" : "fe-arrow-down") : ""));
            }
            else sb.AppendFormat("<th{0}>{1}</th>", sClassExcel, _columnConfig[i, 1].ToString());
        }
        sb.Append("</tr>");
        sb.Append("</thead>");
        return sb.ToString();
    }

    private string ViewList(string mode, DataSet data)
    {
        if (data != null && data.Tables.Count > 0)
        {
            string strID = "";
            string strValue = "";
            int iRow = 1;

            StringBuilder sb = new StringBuilder();
            sb.AppendFormat("<table class=\"table table-hover table-bordered table-sm\" style=\"width:{0}\">", this._tblWidth);
            sb.Append(RenderColumnHeader(mode));
            sb.Append("<tbody>");

            DataTable dt = data.Tables[0];
            foreach (DataRow row in dt.Rows)
            {
                sb.AppendFormat("<tr id=\"_{0}.{1}\">", row["C_MsgID"].ToString(), row["CRNO"].ToString());

                for (int i = 0; i < _columnConfig.GetLength(0); i++)
                {
                    strID = _columnConfig[i, 0].ToString();
                    strValue = "";

                    if (strID == "SEQ")
                    {
                        strValue = iRow.ToString();
                    }
                    else if (strID.IndexOf("PIStart") > 0)
                    {
                        strValue = ZumNet.Web.Bc.CommonUtils.LvDate(row[strID].ToString());
                    }
                    else if (strID == "CHANGECLS")
                    {
                        strValue = row[strID].ToString();
                        if (strValue != "" && strValue.IndexOf(';') > 0)
                        {
                            strValue = strValue.Substring(0, strValue.Length - 1).Replace(";", ", ");
                        }
                    }
                    else if (strID == "MODELNAME" || strID == "C_DocStatus")
                    {
                        strValue = row[strID].ToString();
                        if (strID == "C_DocStatus") strValue = (strValue == "700") ? ZumNet.Web.Bc.CommonUtils.LvDate(row["C_END"].ToString()) : "진행";

                        if (mode != "xls")
                        {
                            strValue = String.Format("<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.openEAFormSimple('{0}');\">{1}</a>", row["C_MsgID"].ToString(), strValue);
                        }
                    }
                    else if (strID == "S_DocStatus")
                    {
                        if (row["S_MsgID"].ToString() != "")
                        {
                            strValue = (row[strID].ToString() == "700") ? ZumNet.Web.Bc.CommonUtils.LvDate(row["S_END"].ToString()) : "진행";
                            if (mode != "xls")
                            {
                                strValue = String.Format("<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.openEAFormSimple('{0}');\">{1}</a>", row["S_MsgID"].ToString(), strValue);
                            }
                        }
                        else
                        {
                            strValue = "";
                        }
                    }
                    else if (strID == "VH" || strID == "CH" || strID == "CD" || strID == "CT" || strID == "CL" || strID == "IC" || strID == "IS")
                    {
                        strValue = row[strID + "_APVRSTATUS"].ToString();
                        if (strValue == "7") strValue = "완료";
                        else if (strValue == "1") strValue = "진행";
                        else if (strValue == "0") strValue = "대기";
                        else if (strValue == "5") strValue = "중지";
                        else if (strValue == "8") strValue = "취소";
                        else strValue = "";

                        if (strValue != "" && mode != "xls")
                        {
                            strValue = String.Format("<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.openECNPlan('{0}');\">{1}</a>", row[strID + "_ECNID"].ToString(), strValue);
                        }
                    }
                    else
                    {
                        strValue = row[strID].ToString();
                    }
                    strValue = (strValue.Trim() == "") ? "&nbsp;" : strValue;

                    sb.AppendFormat("<td class=\"{0}\">{1}</td>", _columnConfig[i, 3].ToString() == "L" ? "text-left" : "text-center", strValue);
                }
                sb.Append("</tr>");
                iRow++;
            }
            sb.Append("</tbody>");
            sb.Append("</table>");
            dt = null;
            return sb.ToString();
        }
        return "";
    }

    private string ListCount()
    {
        string sPage = "";
        int totalCount = 0;
        if (ViewBag.R.ft.ToString() == "___")
        {
            int maxPage = ZumNet.Web.Bc.CommonUtils.IsMobile() ? 5 : 10;
            totalCount = Convert.ToInt32(ViewBag.R.lv.total.Value);
            int pageCount = Convert.ToInt32(ViewBag.R.lv.count.Value);
            int pageIndex = Convert.ToInt32(ViewBag.R.lv.page.Value);
            int totalPage = totalCount / pageCount;

            if (totalCount % pageCount > 0) { totalPage++; }
            if (pageIndex > totalPage) { pageIndex = totalPage; }

            sPage = String.Format("{0} {1} {2} ({3} / {4} {5})", Resources.Global.Total, totalCount.ToString(), Resources.Global.Count, pageIndex.ToString(), totalPage.ToString(), Resources.Global.Page);

        }
        else
        {
            totalCount = Convert.ToInt32(ViewBag.R.lv.total.Value);
            sPage = String.Format("{0} {1} {2}", Resources.Global.Total, totalCount.ToString(), Resources.Global.Count);
        }

        return sPage;
    }

    private string ListCond()
    {
        string sWidth = _columnConfig != null && _columnConfig.GetLength(0) > 0 ? " wd-md-80 wd-lg-65 wd-xl-60" : " wd-sm-80 wd-md-60 wd-lg-45 wd-xl-40";

        StringBuilder sb = new StringBuilder();

        sb.AppendFormat("<div class=\"z-list-cond d-flex justify-content-end wd-70{0}\">", sWidth);

        sb.Append("<div class=\"z-list-date input-group datepicker input-daterange\">");
        sb.AppendFormat("<input type=\"text\" class=\"form-control start-date px-1\" value=\"{0}\">", ViewBag.R.lv.start);
        sb.Append("<div class=\"input-group-prepend\">");
        sb.Append("<span class=\"input-group-text\">~</span>");
        sb.Append("</div>");
        sb.AppendFormat("<input type=\"text\" class=\"form-control end-date px-1\" value=\"{0}\">", ViewBag.R.lv.end);
        sb.AppendFormat("<div class=\"input-group-append{0}\">", _columnConfig != null && _columnConfig.GetLength(0) > 0 ? "  d-flex d-sm-none" : "");
        sb.Append("<button class=\"btn btn-secondary\" type=\"button\" data-zv-menu=\"search\"><i class=\"fe-search\"></i></button>");
        sb.Append("</div>");
        sb.Append("</div>");

        if (_columnConfig != null && _columnConfig.GetLength(0) > 0)
        {
            sb.Append("<div class=\"z-list-search input-group d-none d-sm-flex\">");
            sb.Append("<select class=\"custom-select ml-1\" id=\"_SearchSelect\">");
            sb.AppendFormat("<option value=\"\">{0}..</option>", Resources.Global.Select);
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                if (_columnConfig[i, 4].ToString() == "Y")
                {
                    sb.AppendFormat("<option value=\"{0}\"{2}>{1}</option>", _columnConfig[i, 0].ToString(), _columnConfig[i, 1].ToString(), _columnConfig[i, 0].ToString() == ViewBag.R.lv.cd1.ToString() ? " selected" : "");
                }

            }
            sb.Append("</select>");
            sb.AppendFormat("<input type=\"text\" class=\"form-control\" id=\"_SearchText\" placeholder=\"{0}\" value=\"{1}\">", Resources.Global.Search, ViewBag.R.lv.cd2.ToString());

            sb.Append("<span class=\"input-group-append\">");
            sb.Append("<button class=\"btn btn-secondary\" type=\"button\" data-zv-menu=\"search\"><i class=\"fe-search\"></i></button>");
            sb.Append("</span>");
            sb.Append("</div>");
        }

        sb.Append("</div>"); //z-list-cond
        return sb.ToString();
    }

    private void ExcelBind(string data)
    {
        string strExcelFileName = ViewBag.R.ft.ToString() + "_Export_" + DateTime.Now.ToString("yyMMdd_HHmmss") + ".xls"; //2014-04-11
        Response.Clear();
        Response.Charset = "utf-8";
        Response.Buffer = true;
        //EnableViewState = false;
        Response.AddHeader("content-disposition", "attachment;filename=" + strExcelFileName); //Content.xls");
        Response.ContentType = "application/x-msdownload";
        string encoding = Request.ContentEncoding.HeaderName;
        Response.Write("<html xmlns:o=\"urn:schemas-microsoft-com:office:office\" xmlns:x=\"urn:schemas-microsoft-com:office:excel\" xmlns=\"http://www.w3.org/TR/REC-html40\"><head>");
        Response.Write("<meta http-equiv=\"Content-Type\" content=\"text/html; charset=" + encoding + "\">");
        Response.Write("<style type=\"text/css\">" + ExcelStyle() + "</style>");
        Response.Write("</head>");
        Response.Write("<body>");
        Response.Write(data);
        Response.Write("</body></html>");
    }

    public string ExcelStyle()
    {
        return @"
body {width: 100%}
table {width: ; border-top: 0.1pt solid windowtext; border-right: 0.1pt solid windowtext}
td {border-bottom: 0.1pt solid windowtext; border-left: 0.1pt solid windowtext; padding: 4px;}

.xls_warning {background-color: #fcf8e3}
.xls_th {border-bottom: 0.1pt solid windowtext; border-left: 0.1pt solid windowtext; padding: 4px; text-align: center; background-color: #dff0d8}

.text-center {text-align: center}
.xl66 {mso-number-format:'\#\,\#\#0\.0000\;\[Red\]\\-\#\,\#\#0\.0000';}
.xl88 {mso-number-format:'\#\,\#\#0\.0000_\)\;\[Red\]\\\(\#\,\#\#0\.0000\\\)';}
";
    }
}
@if (svcRt == null || svcRt.ResultCode != 0)
{
    @Html.Partial("~/Views/Shared/_ErrorInline.cshtml", new HandleErrorInfo(new Exception(svcRt.ResultMessage), "Report", ViewBag.R.ttl.ToString()))
}
else
{
    <div class="z-list-head d-flex justify-content-between my-2">
        <div class="z-list-page d-flex align-items-center" id="__ListCount">
            <div class="z-list-total mt-1 mr-1">
                <i class="fe-chevron-right"></i> @ListCount()
            </div>
        </div>
        @Html.Raw(ListCond())
    </div>

    <div class="z-list-body" id="__ListView">
        @Html.Raw(ViewList(ViewBag.R.mode.ToString(), svcRt.ResultDataSet))
    </div>
}