@using System.Collections;
@using System.Data;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json.Linq;
@using ZumNet.Framework.Util;
@using ZumNet.Web.Bc;
@using ZumNet.Web.Filter;
@{
    //환율정보
    InitConfig();

    string viewList = "";
    string listCount = "";

    //Response.Write("=======" + ViewBag.R.lv.start.ToString());

    ZumNet.Framework.Core.ServiceResult svcRt = null;
    using (ZumNet.BSL.InterfaceBiz.OracleBiz oraBiz = new ZumNet.BSL.InterfaceBiz.OracleBiz())
    {
        svcRt = oraBiz.Cresyn_Get_GL_DAILY_RATES("KRW", ViewBag.R.lv.start.ToString(), ViewBag.R.lv.end.ToString(), "1000");
    }

    if (svcRt != null && svcRt.ResultCode == 0)
    {
        viewList = ViewList(ViewBag.R.mode.ToString(), svcRt.ResultDataSet);
        listCount = ListCount();
    }
    else
    {
        ViewBag.R.lv["total"] = 0;
    }

    if (ViewBag.R.mode == "xls")
    {
        ExcelBind(ViewList(ViewBag.R.mode.ToString(), svcRt.ResultDataSet));
        Response.End();
    }
}

@functions {

    string[,] _columnConfig = null;
    string _tblWidth = "";
    string _totalCount = "0";

    private void InitConfig()
    {
        //초기 설정
        if (ViewBag.R.lv.start == "") ViewBag.R.lv["start"] = DateTime.Now.ToString("yyyy-MM-") + "01";
        if (ViewBag.R.ttl == "") ViewBag.R["ttl"] = "환율정보";

        //크레신 : 환율정보
        string[,] arr = { { "EXDATE", "기준일", "10%", "", "" }, { "EXTYPEDESC", "기준율", "20%", "", "" }, { "USD", "USD", "10%", "", "" }
                            , { "EUR", "EUR", "10%", "", "" }, { "JPY", "JPY**", "10%", "", "" }, { "CNY", "CNY", "10%", "", "" }
                            , { "HKD", "HKD", "10%", "", "" }, { "IDR", "IDR**", "10%", "", "" }, { "VND", "VND**", "10%", "", "" }
            };
        this._columnConfig = arr;
        this._tblWidth = "100%";
    }

    private string RenderColumnHeader(string mode)
    {
        StringBuilder sb = new StringBuilder();
        string strValue = "";

        sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
        for (int i = 0; i < _columnConfig.GetLength(0); i++)
        {
            sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
        }
        sb.Append("</colgroup>");

        sb.Append("<thead>");
        sb.Append("<tr class=\"table-success\">");
        for (int i = 0; i < _columnConfig.GetLength(0); i++)
        {
            if (mode != "xls" && _columnConfig[i, 4].ToString() == "Y") strValue = String.Format("<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort();\">{0}</a>", _columnConfig[i, 1].ToString());
            else strValue = _columnConfig[i, 1].ToString();

            if (mode != "xls")
                sb.AppendFormat("<th id=\"f_{0}\">{1}</th>", _columnConfig[i, 0].ToString(), strValue);
            else
                sb.AppendFormat("<th id=\"f_{0}\" style=\"text-align:center;background:#d1dae7;color:#175d7f\">{1}</th>", _columnConfig[i, 0].ToString(), strValue);
        }
        sb.Append("</tr>");
        sb.Append("</thead>");
        return sb.ToString();
    }

    private string ViewList(string mode, DataSet data)
    {
        int iRow = 0;
        if (data != null && data.Tables.Count > 0l && data.Tables[0].Rows.Count > 0)
        {
            StringBuilder sb = new StringBuilder();
            sb.AppendFormat("<table class=\"table table-hover table-bordered table-sm\" style=\"width:{0}\">", this._tblWidth);
            //foreach(DataColumn col in data.Tables[0].Columns)
            //{
            //    sb.AppendFormat("<td>{0}</td>", col.ColumnName);
            //}
            sb.Append(RenderColumnHeader(mode));
            sb.Append("<tbody>");

            DataTable dt = data.Tables[0];
            string convDate = dt.Rows[0]["CONVERSION_DATE"].ToString();

            sb.Append("<tr>");
            sb.AppendFormat("<td class=\"text-center\">{0}</td>", convDate);
            sb.AppendFormat("<td class=\"text-center\">{0}</td>", "한국은행기준율");

            foreach (DataRow row in dt.Rows)
            {
                if (convDate == row["CONVERSION_DATE"].ToString())
                {
                    if (row["FROM_CURRENCY"].ToString() != "GBP") sb.AppendFormat("<td class=\"text-center\">{0}</td>", row["CONVERSION_RATE"].ToString());
                }
                else
                {
                    sb.Append("</tr><tr>");
                    sb.AppendFormat("<td class=\"text-center\">{0}</td>", row["CONVERSION_DATE"].ToString());
                    sb.AppendFormat("<td class=\"text-center\">{0}</td>", "한국은행기준율");

                    sb.AppendFormat("<td class=\"text-center\">{0}</td>", row["CONVERSION_RATE"].ToString());
                }

                convDate = row["CONVERSION_DATE"].ToString();
                iRow++;
            }
            sb.Append("</tbody>");
            sb.Append("</table>");
            dt = null;

            _totalCount = iRow.ToString();

            return sb.ToString();
        }
        _totalCount = iRow.ToString();
        return "";
    }

    private string ListCount()
    {
        string sPage = "";
        int totalCount = 0;
        if (ViewBag.R.ft.ToString() == "___")
        {
            int maxPage = ZumNet.Web.Bc.CommonUtils.IsMobile() ? 5 : 10;
            totalCount = Convert.ToInt32(ViewBag.R.lv.total.Value);
            int pageCount = Convert.ToInt32(ViewBag.R.lv.count.Value);
            int pageIndex = Convert.ToInt32(ViewBag.R.lv.page.Value);
            int totalPage = totalCount / pageCount;

            if (totalCount % pageCount > 0) { totalPage++; }
            if (pageIndex > totalPage) { pageIndex = totalPage; }

            sPage = String.Format("{0} {1} {2} ({3} / {4} {5})", Resources.Global.Total, totalCount.ToString(), Resources.Global.Count, pageIndex.ToString(), totalPage.ToString(), Resources.Global.Page);
        }
        else
        {
            //totalCount = Convert.ToInt32(ViewBag.R.lv.total.Value);
            sPage = String.Format("{0} {1} {2}", Resources.Global.Total, _totalCount, Resources.Global.Count);
        }

        return sPage;
    }

    private string ListCond()
    {
        string sWidth = _columnConfig != null && _columnConfig.GetLength(0) > 0 ? " wd-md-60 wd-lg-45 wd-xl-30" : " wd-sm-80 wd-md-60 wd-lg-45 wd-xl-40";

        StringBuilder sb = new StringBuilder();

        sb.AppendFormat("<div class=\"z-list-cond d-flex justify-content-end wd-60{0}\">", sWidth);

        sb.Append("<div class=\"z-list-date input-group datepicker input-daterange\">");
        sb.AppendFormat("<input type=\"text\" class=\"form-control start-date px-1\" value=\"{0}\">", ViewBag.R.lv.start);
        sb.Append("<div class=\"input-group-prepend\">");
        sb.Append("<span class=\"input-group-text\">~</span>");
        sb.Append("</div>");
        sb.AppendFormat("<input type=\"text\" class=\"form-control end-date px-1\" value=\"{0}\">", ViewBag.R.lv.end);
        sb.AppendFormat("<div class=\"input-group-append{0}\">", _columnConfig != null && _columnConfig.GetLength(0) > 0 ? "" : "");
        sb.Append("<button class=\"btn btn-secondary\" type=\"button\" data-zv-menu=\"search\"><i class=\"fe-search\"></i></button>");
        sb.Append("</div>");
        sb.Append("</div>");

        sb.Append("</div>"); //z-list-cond
        return sb.ToString();
    }

    private void ExcelBind(string data)
    {
        string strExcelFileName = ViewBag.R.ft.ToString() + "_Export_" + DateTime.Now.ToString("yyMMdd_HHmmss") + ".xls"; //2014-04-11
        Response.Clear();
        Response.Charset = "utf-8";
        Response.Buffer = true;
        //EnableViewState = false;
        Response.AddHeader("content-disposition", "attachment;filename=" + strExcelFileName); //Content.xls");
        Response.ContentType = "application/x-msdownload";
        string encoding = Request.ContentEncoding.HeaderName;
        Response.Write("<html xmlns:o=\"urn:schemas-microsoft-com:office:office\" xmlns:x=\"urn:schemas-microsoft-com:office:excel\" xmlns=\"http://www.w3.org/TR/REC-html40\"><head>");
        Response.Write("<meta http-equiv=\"Content-Type\" content=\"text/html; charset=" + encoding + "\">");
        Response.Write("<style type=\"text/css\">" + ExcelStyle() + "</style>");
        Response.Write("</head>");
        Response.Write("<body>");
        Response.Write(data);
        Response.Write("</body></html>");
    }

    public string ExcelStyle()
    {
        return @"
            body {width: 100%}
            table {width: ; border-top: 0.1pt solid windowtext; border-right: 0.1pt solid windowtext}
            td {border-bottom: 0.1pt solid windowtext; border-left: 0.1pt solid windowtext; padding: 4px;}

            .xls_warning {background-color: #fcf8e3}
            .xls_th {border-bottom: 0.1pt solid windowtext; border-left: 0.1pt solid windowtext; padding: 4px; text-align: center; background-color: #dff0d8}

            .text-center {text-align: center}
            .xl66 {mso-number-format:'\#\,\#\#0\.0000\;\[Red\]\\-\#\,\#\#0\.0000';}
            .xl88 {mso-number-format:'\#\,\#\#0\.0000_\)\;\[Red\]\\\(\#\,\#\#0\.0000\\\)';}
        ";
    }
}
@if (svcRt == null || svcRt.ResultCode != 0)
{
    @Html.Partial("~/Views/Shared/_ErrorInline.cshtml", new HandleErrorInfo(new Exception(svcRt.ResultMessage), "Report", ViewBag.R.ttl.ToString()))
}
else
{
    <div class="z-list-head d-flex justify-content-between my-2">
        <div class="z-list-page d-flex align-items-center" id="__ListCount">
            <div class="z-list-total mt-1 mr-1">
                <i class="fe-chevron-right"></i> @listCount
            </div>
        </div>
        @Html.Raw(ListCond())
    </div>

    <div class="z-list-body" id="__ListView">
        @Html.Raw(viewList)
    </div>
}


