@*<a class="text-success" href="javascript:void();"><i class="fe-upload"></i> 품목별지표추가</a>*@
<button class="btn btn-default py-1 mr-2" data-toggle="tooltip" data-placement="bottom" title="품목별지표추가"><i class="fe-upload text-success"></i><span class="d-none d-sm-inline-block ml-1">품목별지표추가</span></button>
<button class="btn btn-default py-1 font-weight-bold" aria-controls="vw-full-fill" onclick="_zw.ut.ctrls();"><i class="fas fa-expand"></i></button>