<!-- Layout footer -->
<nav class="layout-footer footer bg-footer-theme">
    <div class="container-fluid container-p-x py-1">
        <div class="text-center">
            2021 &copy; CRESYN GROUPWARE
        </div>
    </div>
</nav>
<!-- / Layout footer -->
