@using System.Collections;
@using System.Data;
@using System.Text;

@using Newtonsoft.Json;

@{
    ConfigColumn(ViewBag.Mode);

    //Response.Write("-----------------------------" + ViewBag.BoardList.Tables[0].Rows.Count.ToString());
}

@functions {
    string[,] _columnConfig = null;
    private void ConfigColumn(string mode)
    {
        //컬럼 : id,표기,넓이,위치,검색여부,정렬여부
        string[,] arr = { { "MODELCODE", "MODEL", "12.6%", "left", "", "" }, { "XCLS", "구분", "3.8%", "", "", "" }
                        , { "MTRCOST", "금액", "3.8%", "right", "", "" }, { "MTRCOSTRT", "비율", "3.8%", "right", "", "" } //재료비
                        , { "PCCOST", "금액", "3.8%", "right", "", "" }, { "PCCOSTRT", "비율", "3.8%", "right", "", "" } //가공비
                        , { "SPLEX", "금액", "3.8%", "right", "", "" }, { "SPLEXRT", "비율", "3.8%", "right", "", "" } //소모품비
                        , { "VARCOST", "금액", "3.8%", "right", "", "" }, { "VARCOSTRT", "비율", "3.8%", "right", "", "" } //변동원가
                        , { "FIXCOST", "금액", "3.8%", "right", "", "" }, { "FIXCOSTRT", "비율", "3.8%", "right", "", "" } //고정원가
                        , { "PRODCOST", "금액", "3.8%", "right", "", "" }, { "PRODCOSTRT", "비율", "3.8%", "right", "", "" } //제조원가
                        , { "SGACOST", "금액", "3.8%", "right", "", "" }, { "SGACOSTRT", "비율", "3.8%", "right", "", "" } //판관비
                        , { "TOTALCOST", "금액", "3.8%", "right", "", "" }, { "TOTALCOSTRT", "비율", "3.8%", "right", "", "" } //총원가
                        , { "SALEPRICE", "금액", "3.8%", "right", "", "" } //판매가
                        , { "OPPROFIT", "금액", "3.8%", "right", "", "" }, { "OPPROFITRT", "비율", "3.8%", "right", "", "" } //영업이익
                        , { "CTBPROFIT", "금액", "3.8%", "right", "", "" }, { "CTBPROFITRT", "비율", "3.8%", "right", "", "" } //공헌이익
                        , { "STDTIME", "금액", "3.8%", "right", "", "" } //공수            
                    };
        this._columnConfig = arr;
        //Master.BaseSort = "MODELCODE";
    }

    private string RenderColumnHeader(string mode, string sortCol, string sortType)
    {
        if (_columnConfig != null)
        {
            string sBlind = " d-none";
            string sSortIcon = "";

            string strValue = "";
            StringBuilder sb = new StringBuilder();
            sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
            for (int i = 0; i < _columnConfig.GetLength(0); i++)
            {
                sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
            }
            sb.Append("</colgroup>");

            sb.Append("<thead><tr class=\"table-success\">");

            sBlind = (sortCol == _columnConfig[0, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[0, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th rowspan=\"2\" class=\"sortable text-truncate\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[0, 0].ToString(), _columnConfig[0, 1].ToString(), sSortIcon, sBlind);

            sb.AppendFormat("<th rowspan=\"2\">{1}</th>", _columnConfig[1, 0].ToString(), _columnConfig[1, 1].ToString());

            sBlind = (sortCol == _columnConfig[2, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[2, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th colspan=\"2\" class=\"sortable\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[2, 0].ToString(), "재료비", sSortIcon, sBlind);

            sBlind = (sortCol == _columnConfig[4, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[4, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th colspan=\"2\" class=\"sortable\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[4, 0].ToString(), "가공비", sSortIcon, sBlind);

            sBlind = (sortCol == _columnConfig[6, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[6, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th colspan=\"2\" class=\"sortable\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[6, 0].ToString(), "소모품비", sSortIcon, sBlind);

            sBlind = (sortCol == _columnConfig[8, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[8, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th colspan=\"2\" class=\"sortable\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[8, 0].ToString(), "변동원가", sSortIcon, sBlind);

            sBlind = (sortCol == _columnConfig[10, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[10, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th colspan=\"2\" class=\"sortable\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[10, 0].ToString(), "고정원가", sSortIcon, sBlind);

            sBlind = (sortCol == _columnConfig[12, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[12, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th colspan=\"2\" class=\"sortable\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[12, 0].ToString(), "제조원가", sSortIcon, sBlind);

            sBlind = (sortCol == _columnConfig[14, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[14, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th colspan=\"2\" class=\"sortable\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[14, 0].ToString(), "판관비", sSortIcon, sBlind);

            sBlind = (sortCol == _columnConfig[16, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[16, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th colspan=\"2\" class=\"sortable\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[16, 0].ToString(), "총원가", sSortIcon, sBlind);

            sBlind = (sortCol == _columnConfig[18, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[18, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th rowspan=\"2\" class=\"sortable\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[18, 0].ToString(), "판매가", sSortIcon, sBlind);

            sBlind = (sortCol == _columnConfig[19, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[19, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th colspan=\"2\" class=\"sortable\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[19, 0].ToString(), "영업이익", sSortIcon, sBlind);

            sBlind = (sortCol == _columnConfig[21, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[21, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th colspan=\"2\" class=\"sortable\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[21, 0].ToString(), "공헌이익", sSortIcon, sBlind);

            sBlind = (sortCol == _columnConfig[23, 0].ToString()) ? "" : " d-none";
            sSortIcon = (sortCol == _columnConfig[23, 0].ToString() && sortType == "DESC") ? "fe-arrow-down" : "fe-arrow-up";
            sb.AppendFormat("<th rowspan=\"2\" class=\"sortable text-truncate\"><a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.sort('{0}');\" title=\"{1}\">{1}<i class=\"{2}{3} font-weight-bold\"></i></a></th>", _columnConfig[23, 0].ToString(), "공수", sSortIcon, sBlind);
            sb.Append("</tr>");

            sb.Append("<tr class=\"table-success\">");
            for (int i = 2; i < _columnConfig.GetLength(0) - 1; i++)
            {
                //if (_columnConfig[i, 5].ToString() == "Y")
                //{
                //    strValue = String.Format("<a href=\"javascript:\" onclick=\"sort(event);\">{0}</a>", _columnConfig[i, 1].ToString());
                //}
                //else
                //{
                //    strValue = _columnConfig[i, 1].ToString();
                //}
                if (i != 18) sb.AppendFormat("<th class=\"text-truncate\">{0}</th>", _columnConfig[i, 1].ToString());
            }
            sb.Append("</tr></thead>");
            return sb.ToString();
        }
        else
        {
            return "";
        }
    }

    private string RenderExcelColumnHeader()
    {
        if (_columnConfig != null)
        {
            string strValue = "";
            StringBuilder sb = new StringBuilder();
            //sb.AppendFormat("<colgroup span=\"{0}\">", _columnConfig.GetLength(0));
            //for (int i = 0; i < _columnConfig.GetLength(0); i++)
            //{
            //    sb.AppendFormat("<col style=\"width:{0}\" />", _columnConfig[i, 2].ToString());
            //}
            //sb.Append("</colgroup>");

            sb.Append("<thead>");
            sb.Append("<tr class=\"success\">");
            sb.AppendFormat("<td class=\"xls_th\" rowspan=\"2\">{0}</th>", _columnConfig[0, 1].ToString());
            sb.AppendFormat("<th class=\"xls_th\" rowspan=\"2\">{0}</th>", _columnConfig[1, 1].ToString());
            sb.AppendFormat("<th class=\"xls_th\" colspan=\"2\">{0}</th>", "재료비");
            sb.AppendFormat("<th class=\"xls_th\" colspan=\"2\">{0}</th>", "가공비");
            sb.AppendFormat("<th class=\"xls_th\" colspan=\"2\">{0}</th>", "소모품비");
            sb.AppendFormat("<th class=\"xls_th\" colspan=\"2\">{0}</th>", "변동원가");
            sb.AppendFormat("<th class=\"xls_th\" colspan=\"2\">{0}</th>", "고정원가");
            sb.AppendFormat("<th class=\"xls_th\" colspan=\"2\">{0}</th>", "제조원가");
            sb.AppendFormat("<th class=\"xls_th\" colspan=\"2\">{0}</th>", "판관비");
            sb.AppendFormat("<th class=\"xls_th\" colspan=\"2\">{0}</th>", "총원가");
            sb.AppendFormat("<th class=\"xls_th\" rowspan=\"2\">{0}</th>", "판매가");
            sb.AppendFormat("<th class=\"xls_th\" colspan=\"2\">{0}</th>", "영업이익");
            sb.AppendFormat("<th class=\"xls_th\" colspan=\"2\">{0}</th>", "공헌이익");
            sb.AppendFormat("<th class=\"xls_th\" rowspan=\"2\">{0}</th>", "공수");
            sb.Append("</tr>");

            sb.Append("<tr class=\"success\">");
            for (int i = 2; i < _columnConfig.GetLength(0) - 1; i++)
            {
                if (i != 18) sb.AppendFormat("<th class=\"xls_th\">{0}</th>", _columnConfig[i, 1].ToString());
            }
            sb.Append("</tr>");
            sb.Append("</thead>");
            return sb.ToString();
        }
        else
        {
            return "";
        }
    }

    private string ViewList(string mode, DataSet data, string sortCol, string sortType)
    {
        StringBuilder sb = new StringBuilder();
        sb.Append("<table class=\"table table-hover table-bordered table-sm\" style=\"min-width: 1000px\">");
        if (mode == "xls") sb.Append(RenderExcelColumnHeader());
        else sb.Append(RenderColumnHeader(mode, sortCol, sortType));

        sb.Append("<tbody>");
        if (data != null && data.Tables.Count > 0 && data.Tables[0].Rows.Count > 0)
        {
            Hashtable htLoop = new Hashtable();
            DataRow[] rowQuery = null;
            DataRow dr = null;
            DataRow dr2 = null;

            string strID = "";
            string strValue = "";
            string strClass = "";
            string strDesc = "";
            int iSeq = 1;

            foreach (DataRow row in data.Tables[0].Rows)
            {
                htLoop.Add(0, null);
                htLoop.Add(1, null);
                htLoop.Add(2, null);
                strDesc = "";

                rowQuery = data.Tables[1].Select("MODELCODE = '" + row["MODELCODE"].ToString() + "'");
                for (int x = 0; x < rowQuery.Length; x++)
                {
                    DataRow r = rowQuery[x];
                    if (r["XCLS"].ToString() == "D") htLoop[0] = r;
                    else if (r["XCLS"].ToString() == "S") htLoop[1] = r;
                    else if (r["XCLS"].ToString() == "R") htLoop[2] = r;

                    if (r["BUYER"].ToString() != "" && r["ITEMCLS"].ToString() != "") strDesc = String.Format("<span style=\"color: #8a6d3b\">({0} / {1})</span>", r["BUYER"].ToString(), r["ITEMCLS"].ToString());
                }

                //if (drStd != null) Response.Write(iSeq.ToString() + " : " + drStd["SALEPRICE"].ToString());

                for (int x = 0; x < htLoop.Count; x++)
                {
                    dr = (DataRow)htLoop[x];
                    sb.Append("<tr class=\"inner-dot\">");

                    if (x == 0) sb.AppendFormat("<th rowspan=\"4\" class=\"text-center text-truncate\">{0}<br />{1}</th><td>개발</td>", row["MODELCODE"].ToString(), strDesc);
                    else if (x == 1) sb.Append("<td class=\"text-center\">표준</td>");
                    else if (x == 2) sb.Append("<td class=\"text-center\">실적</td>");

                    for (int i = 2; i < _columnConfig.GetLength(0); i++)
                    {
                        strID = _columnConfig[i, 0].ToString();
                        strClass = (strID == "SALEPRICE") ? " class=\"text-primary\"" : "";

                        if (dr != null)
                        {
                            if (strID != "MODELCODE")
                            {
                                if (strID.Substring(strID.Length - 2) == "RT") strValue = ZumNet.Web.Bc.CommonUtils.StrPercent(ZumNet.Web.Bc.CommonUtils.CvtPercent(dr[strID].ToString(), "1", 4), 1, "");
                                else
                                {
                                    strValue = ZumNet.Web.Bc.CommonUtils.CvtNumeric(dr[strID].ToString(), 4, "");
                                    //if (Master.Mode == "xls") strClass = " class=\"xl88\"";
                                }

                                if (strValue != "" && strValue.IndexOf('-') >= 0) strValue = "<strong class=\"text-danger\">(" + strValue.Replace("-", "") + ")</strong>";

                                if (x == 1 || x == 2)
                                {
                                    if (strID == "MTRCOST" || strID == "PCCOST")
                                    {
                                        //표준원가 재료비, 가공비 / 실적원가 재료비, 가공비
                                        strValue = String.Format("<a class=\"z-lnk-navy\" href=\"javascript:\" onclick=\"_zw.fn.viewListItem('{0}', '{1}', '{2}', 1, '{2}')\">{3}</a>", x == 1 ? "S" : "R", strID, dr["MODELCODE"].ToString(), strValue);
                                    }
                                }
                            }
                            else
                            {
                                strValue = dr[strID].ToString();
                            }

                            if (_columnConfig[i, 3].ToString() != "") sb.AppendFormat("<td{0} style=\"text-align: {1}\">{2}</td>", strClass, _columnConfig[i, 3].ToString(), strValue);
                            else sb.AppendFormat("<td{0}>{1}</td>", strClass, strValue);
                        }
                        else
                        {
                            sb.AppendFormat("<td{0}>&nbsp;</td>", strClass);
                        }
                    }

                    sb.Append("</tr>");
                }


                //차이 계산
                sb.Append("<tr class=\"table-warning inner-bold\">");
                if (mode == "xls") sb.Append("<td class=\"xls_warning\" style=\"text-align: center\">차이</td>");
                else sb.Append("<td>차이</td>");

                if (htLoop[1] != null && htLoop[2] != null)
                {
                    dr = (DataRow)htLoop[1];
                    dr2 = (DataRow)htLoop[2];

                    string[] v = { "MTRCOST", "PCCOST", "SPLEX", "VARCOST", "FIXCOST", "PRODCOST", "SGACOST", "TOTALCOST", "SALEPRICE", "OPPROFIT", "CTBPROFIT", "STDTIME" };

                    foreach (string s in v)
                    {
                        if (dr2[s].ToString() == "" || dr2[s].ToString() == "0")
                        {
                            sb.AppendFormat("<td{0}>&nbsp;</td>", mode == "xls" ? " class=\"xls_warning\"" : "");
                            if (s != "SALEPRICE" && s != "STDTIME") sb.Append("<td>&nbsp;</td>");
                        }
                        else
                        {
                            strValue = ZumNet.Web.Bc.CommonUtils.StrMinus(dr2[s].ToString(), dr[s].ToString(), 4);
                            if (strValue != "" && strValue.IndexOf('-') >= 0) strValue = "<strong class=\"text-danger\">(" + strValue.Replace("-", "") + ")</strong>";

                            if (mode == "xls")
                            {
                                sb.AppendFormat("<td class=\"xls_warning\" style=\"text-align: right\">{0}</td>", strValue); //재료비
                                if (s != "SALEPRICE" && s != "STDTIME") sb.Append("<td class=\"xls_warning\">&nbsp;</td>");
                            }
                            else
                            {
                                sb.AppendFormat("<td style=\"text-align: right\">{0}</td>", strValue); //재료비
                                if (s != "SALEPRICE" && s != "STDTIME") sb.Append("<td>&nbsp;</td>");
                            }
                        }
                    }

                    //sb.AppendFormat("<td>{0}</td>", CE.CEUtil.StrMinus(dr2["PCCOST"].ToString(), dr["PCCOST"].ToString(), 4)); //가공비
                    //sb.AppendFormat("<td></td>");
                    //sb.AppendFormat("<td>{0}</td>", CE.CEUtil.StrMinus(dr2["SPLEX"].ToString(), dr["SPLEX"].ToString(), 4)); //소모품비
                    //sb.AppendFormat("<td></td>");
                    //sb.AppendFormat("<td>{0}</td>", CE.CEUtil.StrMinus(dr2["VARCOST"].ToString(), dr["VARCOST"].ToString(), 4)); //변동원가
                    //sb.AppendFormat("<td></td>");
                    //sb.AppendFormat("<td>{0}</td>", CE.CEUtil.StrMinus(dr2["FIXCOST"].ToString(), dr["FIXCOST"].ToString(), 4)); //고정원가
                    //sb.AppendFormat("<td></td>");
                    //sb.AppendFormat("<td>{0}</td>", CE.CEUtil.StrMinus(dr2["PRODCOST"].ToString(), dr["PRODCOST"].ToString(), 4)); //제조원가
                    //sb.AppendFormat("<td></td>");
                    //sb.AppendFormat("<td>{0}</td>", CE.CEUtil.StrMinus(dr2["SGACOST"].ToString(), dr["SGACOST"].ToString(), 4)); //판관비
                    //sb.AppendFormat("<td></td>");
                    //sb.AppendFormat("<td>{0}</td>", CE.CEUtil.StrMinus(dr2["TOTALCOST"].ToString(), dr["TOTALCOST"].ToString(), 4)); //총원가
                    //sb.AppendFormat("<td></td>");
                    //sb.AppendFormat("<td>{0}</td>", CE.CEUtil.StrMinus(dr2["SALEPRICE"].ToString(), dr["SALEPRICE"].ToString(), 4)); //판매가
                    //sb.AppendFormat("<td>{0}</td>", CE.CEUtil.StrMinus(dr2["OPPROFIT"].ToString(), dr["OPPROFIT"].ToString(), 4)); //영업이익
                    //sb.AppendFormat("<td></td>");
                    //sb.AppendFormat("<td>{0}</td>", CE.CEUtil.StrMinus(dr2["CTBPROFIT"].ToString(), dr["CTBPROFIT"].ToString(), 4)); //공헌이익
                    //sb.AppendFormat("<td></td>");
                    //sb.AppendFormat("<td>{0}</td>", CE.CEUtil.StrMinus(dr2["STDTIME"].ToString(), dr["STDTIME"].ToString(), 4)); //공수
                }
                else
                {
                    for (int i = 2; i < _columnConfig.GetLength(0); i++)
                    {
                        if (mode == "xls") sb.AppendFormat("<td{0}>&nbsp;</td>", " class=\"xls_warning\"");
                        else sb.AppendFormat("<td{0}>&nbsp;</td>", strClass);
                    }
                }

                sb.Append("</tr>");

                iSeq++;

                htLoop.Clear();
                rowQuery = null;
                dr = null;
                dr2 = null;
            }
        }
        else
        {
            sb.Append("<tr>");
            sb.AppendFormat("<th colspan=\"{0}\" class=\"py-15\">{1}</th>", _columnConfig.GetLength(0), Resources.Global.NoItemShow);
            sb.Append("</tr>");
        }
        sb.Append("</tbody>");
        sb.Append("</table>");

        if (data != null) { data.Dispose(); data = null; }

        return sb.ToString();
    }
}

@Html.Raw(ViewList(ViewBag.Mode, ViewBag.BoardList, ViewBag.R.lv.sort.ToString(), ViewBag.R.lv.sortdir.ToString()))