
<div class="z-webpart card" id="_CALENDAR_COMPANY" style="height: 275px">
    <div class="card-header with-elements">
        <div class="card-header-title"><i class="fe-calendar mr-1"></i>회사업무일정</div>
        <div class="card-header-elements ml-auto">
            <a href="javascript:void(0)" class="badge badge-pill badge-primary px-1 pt-1"><i class="fe-plus"></i></a>
        </div>
    </div>
    <div class="card-body d-flex justify-content-center py-1">
        
    </div>
</div>