@using System.Data;

<div class="z-webpart card">
    <div class="card-header with-elements">
        <div class="card-header-title"><i class="fe-edit mr-1"></i>결재함</div>
        <div class="card-header-elements ml-auto">
            <a href="javascript:void(0)" class="badge badge-pill badge-primary px-1"><i class="fe-plus"></i></a>
        </div>
    </div>
    <div class="card-body">
        @if (ViewBag.EA_INBOX != null && ViewBag.EA_INBOX.Rows.Count > 0)
        {
            int iCnt = 0;

            foreach (DataRow row in ViewBag.EA_INBOX.Rows)
            {
                string sRead = row["Read"].ToString() == "N" ? " font-weight-bold" : "";

                <div class="@(iCnt < ViewBag.EA_INBOX.Rows.Count - 1 ? "mb-2" : "")@sRead">
                    <div class="float-right text-secondary">@ZumNet.Web.Bc.CommonUtils.LvDate(row["ReceivedDate"].ToString())</div>
                    <div class="text-truncate">
                        @if (row["Priority"].ToString() == "H")
                        {
                            <i class="fe-info text-danger"></i>
                        }
                        
                        <a class="text-truncate" href="javascript:void(0)">@row["PIName"].ToString()</a>
                    </div>
                </div>

                iCnt++;
            }
        }
    </div>
</div>
