@using System;
@using System.Data;
@using System.Web.Mvc;

@{ 

}
<div class="row">
    <div class="col-12 col-sm-6 mb-3">
        <div class="z-webpart card">
            <div class="card-header with-elements">
                <div class="card-header-title"><i class="fas fa-chart-bar align-middle text-blue mr-1"></i>ERP KPI 지표현황_입고기준  (2021-07-19 ~ 2021-08-08) </div>
                <div class="card-header-elements ml-auto">
                </div>
            </div>
            <div class="card-body">
                <div class="fchart" id="chart-container1"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 mb-3">
        <div class="z-webpart card">
            <div class="card-header with-elements">
                <div class="card-header-title">&nbsp;</div>
                <div class="card-header-elements ml-auto">
                    <a href="javascript:void(0)" class="badge badge-pill badge-primary px-1 pt-1"><i class="fe-plus"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="fchart" id="chart-container2"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="z-webpart card">
            @*<div class="card-header with-elements">
                    <div class="card-header-title"></div>
                    <div class="card-header-elements ml-auto">
                    </div>
                </div>*@
            <div class="card-body">
                <div class="fchart" id="chart-container3"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="z-webpart card">
            @*<div class="card-header with-elements">
                    <div class="card-header-title"></div>
                    <div class="card-header-elements ml-auto">
                    </div>
                </div>*@
            <div class="card-body">
                <div class="fchart" id="chart-container4"></div>
            </div>
        </div>
    </div>
</div>
