@using System;
@using System.Data;
@using System.Web.Mvc;

@{

}
<div class="row">
    <div class="col-12 col-sm-6">
        <div class="z-webpart card">
            <div class="card-header with-elements">
                <div class="card-header-title"><i class="fas fa-chart-bar align-middle text-blue mr-1"></i>ERP KPI 지표현황_재고기준 @ViewBag.PeriodText_S</div>
                <div class="card-header-elements ml-auto">
                </div>
            </div>
            <div class="card-body px-3 py-2">
                <canvas class="fchart" id="chart-container5"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="z-webpart card" id="_EKP_KPI_S">
            <div class="card-header with-elements">
                <div class="card-header-title">&nbsp;</div>
                <div class="card-header-elements ml-auto">
                    <a href="javascript:void(0)" class="badge badge-pill badge-primary px-1 pt-1"><i class="fe-plus"></i></a>
                </div>
            </div>
            <div class="card-body px-3 py-2">
                <canvas class="fchart" id="chart-container6"></canvas>
            </div>
        </div>
    </div>
</div>
