<div class="z-webpart card" style="height: 275px">
    @*<img src="~/images/main_portal_cresyn11.jpg" alt="" class="rounded-5" style="object-fit:cover; height: 100%;">*@
    <img src="~/images/main_portal_cresyn6.jpg" alt="" class="rounded-5" style="object-fit:cover; height: 100%;">
</div>
