@using System.IO;
@using System.Xml;
@using PhsFEMailEWS.ExchangeWebServices;

@{
    string sRt = "";
    string sMailXml = GetMailList(out sRt);

    //Response.Write(sError);

    if (sRt == "OK")
    {
        sRt = ConvertXmlToHtml(sMailXml, Server.MapPath("~/Views/Portal/Webpart/Html/PortalMailList.xsl"));
    }

    //Response.Write(SendMail()); // SendMailSimple() ERROR: HTTP 상태 403: Forbidden(으)로 인해 요청하지 못했습니다.
}

@functions {
    private string SendMail()
    {
        PhsFEMailEWS.MailWriteManager oMailWrite = null;
        string errMsg = "";

        try
        {
            string sDomainName = "cresyn.com";
            string sUserID = "byrlee";
            string sPassword = "P@ssw0rd";
            string sMailServer = @"mail.cresyn.com";
            string sFrom = "이병록<byrlee@cresyn.com>";
            string sTo = "이병록<byrlee@cresyn.com>";
            string sSubject = "신규 그룹웨어서버 메일 발송 요청";
            string sBody = "신규 그룹웨어서버 메일 발송 요청 합니다!!!";


            oMailWrite = new PhsFEMailEWS.MailWriteManager();

            string sRt = oMailWrite.SendMailSimple(sUserID, sPassword, sDomainName, sMailServer, sFrom, sTo, sSubject, sBody, "", out errMsg);
        }
        catch(Exception ex)
        {
            errMsg += " => " + ex.Message;
        }
        finally
        {
            oMailWrite = null;
        }
        return errMsg;
    }


    private string GetMailList(out string errMsg)
    {
        ExchangeServiceBinding esb = null;
        PhsFEMailEWS.MailListManager oMailList = null;
        string sRt = "";
        int iTotCount = 0;

        try
        {
            string sDomainName = "cresyn.com";
            string sUserID = "byrlee";
            string sPassword = "P@ssw0rd";
            string sEWSUrl = @"https://mail.cresyn.com/EWS/exchange.asmx";

            esb = PhsFEMailEWS.CommonManager.GetExchangeServiceBinding(sUserID, sPassword, sDomainName, sEWSUrl, "ko");
            oMailList = new PhsFEMailEWS.MailListManager();

            sRt = oMailList.FindPortalMailItemXML(esb, sDomainName, "inbox", "datereceived", "desc", "", 5, 1, out iTotCount, out errMsg);
        }
        catch (Exception ex)
        {
            errMsg = ex.Message;
        }
        finally
        {
            esb.Dispose();
            oMailList = null;
        }
        return sRt;
    }

    private string ConvertXmlToHtml(string xmlText, string xslPath)
    {
        XmlDocument xmlDoc = null;
        System.Xml.Xsl.XslTransform xt = null;

        string sRt = "";

        try
        {
            xmlDoc = new XmlDocument();
            xmlDoc.LoadXml(xmlText);

            xt = new System.Xml.Xsl.XslTransform();
            xt.Load(xslPath);

            XmlWriterSettings settings = new XmlWriterSettings();
            settings.Async = true;

            StringWriter sw = new StringWriter();
            XmlWriter xw = XmlWriter.Create(sw, settings);

            xt.Transform(xmlDoc, null, xw);
            xw.Flush();

            //System.Xml.Xsl.XsltSettings xst = new System.Xml.Xsl.XsltSettings();
            //xst.EnableScript = true;

            sRt = sw.ToString();
        }
        catch (Exception ex)
        {
            sRt = ex.Message;
        }
        finally
        {
            xmlDoc = null;
            xt = null;
        }
        return sRt;
    }
}
<div class="z-webpart card">
    <div class="card-header with-elements">
        <div class="card-header-title"><i class="fe-mail align-middle mr-1"></i>받은편지함</div>
        <div class="card-header-elements ml-auto">
            <a href="javascript:void(0)" class="badge badge-pill badge-primary px-1 pt-1"><i class="fe-plus"></i></a>
        </div>
    </div>
    <div class="card-body">
        @Html.Raw(sRt)
    </div>
</div>
