<div class="z-webpart card">
    <div class="card-header with-elements">
        <div class="card-header-title"><i class="fe-mail align-middle mr-1"></i>받은편지함</div>
        <div class="card-header-elements ml-auto">
            <a href="javascript:void(0)" class="badge badge-pill badge-primary px-1"><i class="fe-plus"></i></a>
        </div>
    </div>
    <div class="card-body">
        @*<div class="pb-1 mb-2">
                <div class="badge badge-outline-warning float-right">Feature</div>
                <a href="javascript:void(0)">Lorem ipsum dolor sit amet, vis erat denique in.</a>&nbsp;
                <span class="text-muted">#34563</span>
                <br>
                <small class="text-muted">Created by <a href="javascript:void(0)" class="text-body">Mike Greene</a> &nbsp;·&nbsp; 1 day ago</small>
            </div>
            <div class="pb-1 mb-2">
                <div class="badge badge-outline-warning float-right">Feature</div>
                <a href="javascript:void(0)">Lorem ipsum dolor sit amet, vis erat denique in.</a>&nbsp;
                <span class="text-muted">#34563</span>
                <br>
                <small class="text-muted">Created by <a href="javascript:void(0)" class="text-body">Mike Greene</a> &nbsp;·&nbsp; 1 day ago</small>
            </div>
            <div class="pb-1 mb-2">
                <div class="badge badge-outline-warning float-right">Feature</div>
                <a href="javascript:void(0)">Lorem ipsum dolor sit amet, vis erat denique in.</a>&nbsp;
                <span class="text-muted">#34563</span>
                <br>
                <small class="text-muted">Created by <a href="javascript:void(0)" class="text-body">Mike Greene</a> &nbsp;·&nbsp; 1 day ago</small>
            </div>
            <div class="">
                <div class="badge badge-outline-warning float-right">Feature</div>
                <a href="javascript:void(0)">Lorem ipsum dolor sit amet, vis erat denique in.</a>&nbsp;
                <span class="text-muted">#34563</span>
                <br>
                <small class="text-muted">Created by <a href="javascript:void(0)" class="text-body">Mike Greene</a> &nbsp;·&nbsp; 1 day ago</small>
            </div>*@
        <div class="mb-2">
            <div class="float-right text-secondary">08-10</div>
            <div class="text-truncate"><a href="javascript:void(0)">입사,퇴사,전보 발령자 업무처리(송경수 3/1 VH 발령)</a></div>
        </div>
        <div class="mb-2">
            <div class="float-right text-secondary">08-10</div>
            <div class="text-truncate"><a href="javascript:void(0)">2020년 ISO인증 심사계획 보고의 건</a></div>
        </div>
        <div class="mb-2">
            <div class="float-right text-secondary">08-10</div>
            <div class="text-truncate"><a href="javascript:void(0)">신규 입사자 노트북 /모니터 구입의 件</a></div>
        </div>
        <div class="mb-2">
            <div class="float-right text-secondary">08-10</div>
            <div class="text-truncate"><a href="javascript:void(0)">설계사양(제조조건) 변경보고서 작성</a></div>
        </div>
        <div class="">
            <div class="float-right text-secondary">08-10</div>
            <div class="text-truncate"><a href="javascript:void(0)">입사,퇴사,전보 발령자 업무처리(송경수 3/1 VH 발령)</a></div>
        </div>
    </div>
</div>
