@using System.Reflection;
@using System.Xml;
@using PhsFEMailEWS.ExchangeWebServices;

@{
    string sRt = "";
    string sHtml = "";
    string sMailXml = GetMailList(out sRt);

    //Response.Write(sError);

    if (sRt == "OK")
    {
        try
        {
            sHtml = ZumNet.Framework.Web.HtmlHandler.ConvertXmlToHtml(sMailXml, Server.MapPath("~/Views/Portal/Webpart/Html/PortalMailList.xsl"));
            //sRt = ZumNet.Framework.Util.FileHelper.ConvertXmlToHtml(sMailXml, Server.MapPath("~/Views/Portal/Webpart/Html/PortalMailList.xsl"));
        }
        catch (Exception ex)
        {
            sRt = ex.Message;
        }

    }
    //Response.Write(SendMail());
    //sRt = "SendMailSimple() ERROR: HTTP 상태 403: Forbidden(으)로 인해 요청하지 못했습니다.";
    //Request.ServerVariables["AUTH_PASSWORD"] = "123423534657";
    //Response.Write(Session["LogonPwd"].ToString() + "===" + ZumNet.Framework.Util.SecurityHelper.AESDecrypt(Session["LogonPwd"].ToString())); //
}

@functions {
    private string SendMail()
    {
        PhsFEMailEWS.MailWriteManager oMailWrite = null;
        string errMsg = "";

        try
        {
            string sDomainName = "cresyn.com";
            string sUserID = "byrlee";
            string sPassword = "P@ssw0rd";
            string sMailServer = @"mail.cresyn.com";
            string sFrom = "이병록<byrlee@cresyn.com>";
            string sTo = "이병록<byrlee@cresyn.com>";
            string sSubject = "신규 그룹웨어서버 메일 발송 요청";
            string sBody = "신규 그룹웨어서버 메일 발송 요청 합니다!!!";


            oMailWrite = new PhsFEMailEWS.MailWriteManager();

            string sRt = oMailWrite.SendMailSimple(sUserID, sPassword, sDomainName, sMailServer, sFrom, sTo, sSubject, sBody, "", out errMsg);
        }
        catch (Exception ex)
        {
            errMsg += " => " + ex.Message;
        }
        finally
        {
            oMailWrite = null;
        }
        return errMsg;
    }


    private string GetMailList(out string errMsg)
    {
        ExchangeServiceBinding esb = null;
        PhsFEMailEWS.MailListManager oMailList = null;
        string sRt = "";
        int iTotCount = 0;

        try
        {
            string sDomainName = ZumNet.Framework.Configuration.Config.Read("DomainName"); //"cresyn.com";
            string sUserID = HttpContext.Current.Session["LogonID"].ToString();
            string sPassword = ZumNet.Framework.Util.SecurityHelper.AESDecrypt(HttpContext.Current.Session["LogonPwd"].ToString());
            string sEWSUrl = ZumNet.Framework.Configuration.Config.Read("MailEWS"); //@"https://mail.cresyn.com/EWS/exchange.asmx";

            esb = PhsFEMailEWS.CommonManager.GetExchangeServiceBinding(sUserID, sPassword, sDomainName, sEWSUrl, "ko");
            oMailList = new PhsFEMailEWS.MailListManager();

            sRt = oMailList.FindPortalMailItemXML(esb, sDomainName, "inbox", "datereceived", "desc", "", 5, 1, out iTotCount, out errMsg);
        }
        catch (Exception ex)
        {
            errMsg = ex.Message;
        }
        finally
        {
            esb.Dispose();
            oMailList = null;
        }
        return sRt;
    }
}

<div class="z-webpart card" id="_MAIL_INBOX">
    @if (sRt != "OK")
    {
        @Html.Partial("~/Views/Shared/_ErrorInline.cshtml", new HandleErrorInfo(new Exception(sRt), "Portal", "MailBox"))
    }
    else
    {
        <div class="card-header with-elements">
            <div class="card-header-title"><i class="fe-mail align-middle mr-1"></i>받은편지함</div>
            <div class="card-header-elements ml-auto">
                <a href="javascript:void(0)" class="badge badge-pill badge-primary px-1 pt-1" onclick="_zw.ut.openWnd('@ZumNet.Framework.Configuration.Config.Read("MailOWA")', 'owaWin')"><i class="fe-plus"></i></a>
            </div>
        </div>
        <div class="card-body" data-owa="@ZumNet.Framework.Configuration.Config.Read("MailOWA")">
            @Html.Raw(sHtml)
        </div>
    }
</div>
