<!-- Layout footer -->
<nav class="layout-footer footer bg-footer-theme">
    <div class="container-fluid container-p-x py-1">
        <div class="text-center">
            @DateTime.Now.Year &copy; Cresyn Groupware
        </div>
    </div>
</nav>
<!-- / Layout footer -->
